{% extends 'base.html' %}
{% load static %}
{% load pipes %}
{% include 'parciais/_head.html' %}

{% block conteudo %}

    <div class="conteudo-ver-ordem">
        <center>

            {% if not ordem.instituicao %}
                <h3>{{ ordem.tipo }}</h3>
            {% else %}
                <h3>{{ ordem.instituicao }}</h3>
            {% endif %}

        </center>
        <hr>
        <div class="row" >
            <div style="width: 30%"><nobr><b>Prévia dos participantes:</b> {{ ordem.participantes_previa }}</nobr></div>
            <div style="width: 30%"><nobr><b>Participantes confirmados:</b> {{ ordem.participantes_confirmados }}</nobr></div>
        </div>
        <div class="row" >
            {% if ordem.instituicao %}
                <nobr style="width: 20%"><b>Nº Responsáveis: </b>{{ ordem.responsaveis }}</nobr>
                <nobr style="width: 15%"><b>Serie: </b>{{ ordem.serie }}</nobr>
                <nobr style="width: 25%"><b>Coordenador Peraltas: </b>{{ ordem.coordenador_peraltas }}</nobr>
            {% endif %}
        </div>
        <hr>

        <div class="row">
            <nobr style="width: 100"><b>Data de atendimento: </b>{{ ordem.data_atendimento }}</nobr>
            <nobr style="width: 100%"><b>Coordenação do dia: </b>{{ ordem.coordenador }}</nobr>
            <nobr style="width: 30%"><b>Equipe escalada: </b>{{ ordem.equipe }}</nobr>
        </div>
        <hr>
        <h5>Atividades realizadas no CEU:</h5>
        <table class="table table-bordered table-striped">
            <thead>
                <td width="35%"><center>Professores</center></td>
                <td width="12%"><center>Entrada</center></td>
                <td width="23%"><center>Hora da atividade</center></td>
                <td width="30%"><center>Atividades</center></td>
            </thead>
            <tbody>
                {% for i in ordem.n_atividades %}
                    <tr>
                        <td>{{ ordem.profs|index:i }}</td>
                        {% if ordem.hora_entrada %}
                            {% if i == 0 %}
                                <td><center>{{ ordem.hora_entrada }}</center></td>
                            {% else %}
                                <td><center></center></td>
                            {% endif %}
                        {% else %}
                            <td><center></center></td>
                        {% endif %}
                        <td><center>{{ ordem.horas_atividades|index:i }}</center></td>
                        <td>{{ ordem.atividades|index:i }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="relatorio">
            {% if ordem.atividade_1_entrada_1 != null %}
            <div style="border: solid 1px; border-radius: 10px; padding: 10px 10px; margin-bottom: 10px">
                <table class="table-borderless table-sm" style="padding: 10px 10px">
                    <tr>
                        <td width="568px">A companhamento de empresa para realização das atividades das:</td>
                        <td height="5px">{{ ordem.atividade_1_entrada_1 }} às {{ ordem.atividade_1_saida_1 }}</td>
                    </tr>
                    <tr>
                    {% if ordem.atividade_1_entrada_2 != null %}
                        <td></td>
                        <td>{{ ordem.atividade_1_entrada_2 }} às {{ ordem.atividade_1_saida_2 }}</td>
                    {% endif %}
                    </tr>
                    {% if ordem.atividade_1_entrada_3 != null %}
                        <td></td>
                        <td>{{ ordem.atividade_1_entrada_3 }} às {{ ordem.atividade_1_saida_3 }}</td>
                    {% endif %}
                    </tr>
                    <tr>
                    {% if ordem.atividade_2_entrada_1 != null %}
                        <td></td>
                        <td>{{ ordem.atividade_2_entrada_1 }} às {{ ordem.atividade_2_saida_1 }}</td>
                    {% endif %}
                    </tr>
                    {% if ordem.atividade_2_entrada_2 != null %}
                        <td></td>
                        <td>{{ ordem.atividade_2_entrada_2 }} às {{ ordem.atividade_2_saida_2 }}</td>
                    {% endif %}
                    </tr>
                    </tr>
                    {% if ordem.atividade_2_entrada_3 != null %}
                        <td></td>
                        <td>{{ ordem.atividade_2_entrada_3 }} às {{ ordem.atividade_2_saida_3 }}</td>
                    {% endif %}
                    </tr>
                    <tr>
                    {% if ordem.atividade_3_entrada_1 != null %}
                        <td></td>
                        <td>{{ ordem.atividade_3_entrada_1 }} às {{ ordem.atividade_3_saida_1 }}</td>
                    {% endif %}
                    </tr>
                    {% if ordem.atividade_3_entrada_2 != null %}
                        <td></td>
                        <td>{{ ordem.atividade_3_entrada_2 }} às {{ ordem.atividade_3_saida_2 }}</td>
                    {% endif %}
                    </tr>
                    </tr>
                    {% if ordem.atividade_3_entrada_3 != null %}
                        <td></td>
                        <td>{{ ordem.atividade_3_entrada_3 }} às {{ ordem.atividade_3_saida_3 }}</td>
                    {% endif %}
                    </tr>
                </table>
            </div>
            {% endif %}

            <h5>Relatório do dia:</h5>
            <p style="padding: 10px 10px">{{ ordem.relatorio }}</p>
        </div>
    </div>

{% endblock %}

