{% load static %}

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> <!-- Styles da bootstrap -->
<link rel="stylesheet" href="{% static 'css/css.css' %}"> <!-- Styles pessoal -->
<script src="{% static 'js/jquery.js' %}"></script>
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'> <!-- Styles dos icons -->
<link rel="stylesheet" href="{% static 'css/calendario_style.css' %}"/> <!-- Styles do calendário -->
<link href="{% static 'css/style.css' %}" rel='stylesheet'> <!-- Styles da sidebar -->
<title>Sistema de OS</title>
<meta charset="UTF-8">
