{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> <!-- Styles da bootstrap -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> <!-- Styles da bootstrap -->
<link rel="stylesheet" href="{% static 'css/css.css' %}"> <!-- Styles pessoal -->
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'> <!-- Styles dos icons -->
<link rel="stylesheet" href="{% static 'css/calendario_style.css' %}"/> <!-- Styles do calendário -->
<link href="{% static 'css/style.css' %}" rel='stylesheet'> <!-- Styles da sidebar -->
<link href="{% static 'fullcalendar/lib/main.css' %}" rel='stylesheet'> <!-- Styles do calendário da agenda -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<title>Sistema de OS</title>
<meta charset="UTF-8">
