{% load static %}

<div class="sidebar close">
<div class="logo-details">

  {% for group in request.user.groups.all %}
    {% if group.name == 'CEU' or group.name == 'Colégio' %}
      <i><img src="{% static 'img/ceu.png' %}" alt="Logo CEU" height="70px" width="auto"></i>
      <span class="logo_name"><nobr>Fundação CEU</nobr></span>
    {% endif %}
  {% endfor %}

  {% for group in request.user.groups.all %}
    {% if group.name == 'Peraltas' %}
      <i><img src="{% static 'img/GP.png' %}" alt="Logo CEU" height="60px" width="auto"></i>
      <span class="logo_name" style="margin-top: 5px"><nobr>Grupo Peraltas</nobr></span>
    {% endif %}
  {% endfor %}

</div>
    {% if request.user.is_authenticated %}
        {% if not ver %}
          <ul class="nav-links">

            {% if 'dashboard' in request.path %}
                <li>
                  <a>
                    <i class="bx bxs-calendar"></i>
                  </a>
                  <ul class="sub-menu blank">
                    <li><a class="link_name">Calendário</a></li>
                  </ul>
                </li>
                <div class="calendario">
                  {% include 'parciais/_calendario.html' %}
                </div>
            {% endif %}

            {% if 'dashboard' in request.path %}
                <li class="item-sidebar">
            {% else %}
                <li>
            {% endif %}
              <a href="{% url 'dashboard' %}">
                <i class='bx bx-grid-alt' ></i>
                <span class="link_name">Dashboard</span>
              </a>
              <ul class="sub-menu blank">
                <li><a class="link_name" href="{% url 'dashboard' %}">Dashboard</a></li>
              </ul>
            </li>

            {% if 'dashboard' in request.path %}
                <li class="item-sidebar">
            {% else %}
                <li>
            {% endif %}
              <a href="{% url 'painelGeral' %}">
                <i class='bx bxs-pie-chart-alt-2' ></i>
                <span class="link_name"><nobr>Painel estatístico</nobr></span>
              </a>
              <ul class="sub-menu blank">
                <li><a class="link_name" href="{% url 'painelGeral' %}">Painel estatístico</a></li>
              </ul>
            </li>

            {% if 'dashboard' in request.path %}
                <li class="item-sidebar">
            {% else %}
                <li>
            {% endif %}
              <div class="iocn-link">
                <a href="#">
                  <i class='bx bx-archive'></i>
                  <span class="link_name">Cadastrar</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
              </div>
              <ul class="sub-menu">
                <li><a class="link_name">Cadastrar</a></li>
                  <li><a href="{% url 'publico' %}">Público</a></li>
                  <li><a href="{% url 'colegio' %}">Colégio</a></li>
                  <li><a href="{% url 'empresa' %}">Empresa</a></li>
                  <li><a href="{% url 'ordem_de_servico' %}">Ordem de Serviço</a></li>
                  <li><a href="{% url 'ficha_de_evento' %}">Ficha de Evento</a></li>
                  <li><a href="{% url 'lista_cliente' %}">Cliente</a></li>
                  <li><a href="{% url 'lista_responsaveis' %}">Responsável de evento</a></li>
              </ul>
            </li>

            {% if 'dashboard' in request.path %}
                <li class="item-sidebar">
            {% else %}
                <li>
            {% endif %}
              <div class="iocn-link">
                <a href="#">
                  <i class='bx bx-table'></i>
                  <span class="link_name">Escala</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
              </div>
              <ul class="sub-menu">
                <li><a class="link_name">Escala</a></li>
                <li><a href="{% url 'escala' %}">Visualizar</a></li>
                <li><a href="{% url 'disponibilidade' %}">Disponibilidade</a></li>
              </ul>
            </li>

            {% if 'dashboard' in request.path %}
                <li class="item-sidebar">
            {% else %}
                <li>
            {% endif %}
              <a href="{% url 'calendario_eventos' %}">
                <i class='bx bx-calendar'></i>
                <span class="link_name">Eventos</span>
              </a>
              <ul class="sub-menu blank">
                <li><a class="link_name" href="{% url 'calendario_eventos' %}">Eventos</a></li>
              </ul>
            </li>

              <li>
                <div class="profile-details">
                  <div class="profile-content">
                  </div>
                  <div class="name-job">
                    <div class="profile_name">{{ user.first_name }} {{ user.last_name }}</div>
                    <div class="job">{{ user.groups.all.0 }}</div>
                  </div>
                  <a href="{% url 'logout' %}"><i class='bx bx-log-out' ></i></a>
                  <ul class="sub-menu blank">
                    <li><a class="link_name" href="{% url 'logout' %}">Logout</a></li>
                  </ul>
                </div>
              </li>
          </ul>
        {% endif %}

        {% if ver %}
          <ul class="nav-links">
            <li>
              <a href="{% url 'logout' %}">
                <i class='bx bx-log-out' ></i>
                <span class="link_name">Logout</span>
              </a>
              <ul class="sub-menu blank">
                <li><a class="link_name" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>
          </ul>
        {% endif %}

    {% endif %}

</div>