{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}

  <div class="conteudo-dashboard">
    <div class="tabela-dashboard">
      <table class="table table-bordered table-striped table-hover tabela-conteudo" style="caption-side: top">
        <caption style="padding-left: 10px"><h5>Ordens de serviço do dia: {{ data | date:'d/m/Y' }} </h5></caption>
        <thead>
          <tr class="table-active">
            <th width="90px"><center>Tipo</center></th>
            <th width="400px"><center>Instituição</center></th>
            <th width="120px"><center>Coordenador</center></th>
            <th width="250px" ><center>Equipe</center></th>
            <th width="210px"><center><nobr>Data de atendimento</nobr></center></th>
          </tr>
        </thead>
        <tbody id="dados">
          {% if not ordemDeServico %}
            <td colspan='5'>Sem ordens de serviço para o dia {{ data | date:'d/m/Y' }}</td>
          {% endif %}

          {% for os in ordemDeServico %}
            <tr class='clickable-row' data-href="{% url 'verOrdem' os.id %}">
              <td>{{ os.tipo }}</td>
              <td>{{ os.instituicao }}</td>
              <td>{{ os.coordenador }}</td>
              <td>
                {{ os.coordenador }}
                {% if os.professor_2 != none %}
                ,
                {{ os.professor_2 }}
                {% endif %}
                {% if os.professor_3 != none %}
                ,
                {{ os.professor_3 }}
                {% endif %}
                {% if os.professor_4 != none %}
                ,
                {{ os.professor_4 }}
                {% endif %}
              </td>
              <td>{{ os.data_atendimento }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <hr>
    <div class="dados_dashboard">
      <div class="dados-usuario">
        <b>Resumo do mês:</b> {{ n_atividades }} atividades e {{ n_horas }} com empresa.
      </div>
      <div class="escala">
        <b>Escala do dia:</b>

        {% if equipe_escalada %}
          {% for professor in equipe_escalada %}
            {{ forloop.counter }} - {{ professor }},
          {% endfor %}
        {% else %}
          Ninguém escalado para hoje!
        {% endif %}

      </div>
    </div>
  </div>
{% endblock %}

