{% extends 'base.html' %}
{% load static %}
{% load custom_filter_tag %}
{% include 'parciais/_head.html' %}

{% block conteudo %}

<!-------------------------------- LINHA 1 ---------------------------->
  <div class="row conteudo-colegio">
    <div class="titulo-colegio">
      <center>
        <h2>RELATÓRIO DE ATENDIMENTO DO COLÉGIO</h2>
      </center>
    </div>
    <hr>
    <form action="" method="POST">
      <fieldset id="formulario" disabled>
          {% csrf_token %}
          <div class="row">
            <div style="width: 66%">
              <label>Colégio</label>
              {{ formulario.instituicao }}
              {{ formulario.check_in.as_hidden }}
              {{ formulario.check_out.as_hidden }}
              <input type="hidden" name="id_relatorio" id="id_relatorio" value="{{ formulario.id }}">
              {{ formulario.tipo.as_hidden }}
            </div>
            <div style="width: 18%">
              <label>Série</label>
              {{ formulario.serie }}
            </div>
            <div style="width: 16%">
              <label>Professores</label>
              {{ formulario.responsaveis }}
            </div>
          </div>
          <hr>
    <!------------------------------------------------------------------------------>
          <div class="row mb-2">
            <div class="col-3">
              <label for="coordenador">Coordenador</label>
              <select class="select-control d mr-sm-2" id="coordenador" name="coordenador" required>
                <option></option>
                {% for professor in professores %}
                  <option value="{{ professor.id }}" {% if professor.id == equipe.coordenador %} selected {% endif %}>{{ professor }}</option>
                {% endfor %}
              </select>
            </div>
            <div style="width: 300px">
              <center>
                <label>Participantes: </label>
              </center>
              <div class="row">
                <div style="width: 120px">
                  {{ formulario.participantes_previa }}
                </div>
                <div style="width: 170px">
                  {{ formulario.participantes_confirmados }}
                </div>
              </div>
            </div>
            <div style="width: 322px">
              <label>Coordenador peraltas</label>
              {{ formulario.coordenador_peraltas }}
            </div>
          </div>

    <!-------------------------------- LINHA 2 ---------------------------->
          <div class="row mb-3">
            <div style="width: 25%">
              <label>Professor 2: </label>
              <select class="select-control d mr-sm-2" id="professor_2" name="professor_2">
                <option></option>
                {% for professor in professores %}
                  <option value="{{ professor.id }}" {% if professor.id == equipe.professor_2 %} selected {% endif %}>{{ professor }}</option>
                {% endfor %}
              </select>
            </div>
            <div style="width: 25%">
              <label>Professor 3: </label>
              <select class="select-control d mr-sm-2" id="professor_3" name="professor_3">
                <option></option>
                {% for professor in professores %}
                  <option value="{{ professor.id }}" {% if professor.id == equipe.professor_3 %} selected {% endif %}>{{ professor }}</option>
                {% endfor %}
              </select>
            </div>
            <div style="width: 25%">
              <label>Professor 4: </label>
              <select class="select-control d mr-sm-2" id="professor_4" name="professor_4">
                <option></option>
                {% for professor in professores %}
                  <option value="{{ professor.id }}" {% if professor.id == equipe.professor_4 %} selected {% endif %}>{{ professor }}</option>
                {% endfor %}
              </select>
            </div>
            <div style="width: 25%">
              <label>Professor 5: </label>
              <select class="select-control d mr-sm-2" id="professor_5" name="professor_5">
                <option></option>
                {% for professor in professores %}
                  <option value="{{ professor.id }}" {% if professor.id == equipe.professor_5 %} selected {% endif %}>{{ professor }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <hr>

          <h5>Atividades ralizadas no CEU</h5>
    <!------------------------------------ TABELA ATIVIDADES ------------------------------------->
          <table class="table table-striped table-sm" style="caption-side: top">
            <caption>Atividades do colégio no CEU:</caption>
            <thead>
              <tr>
                <th style="width: 25%"><center>Nome dos professores</center></th>
                <th style="width: 25%"><center>Atividade</center></th>
                <th style="width: 20%"><center>Data e Hora</center></th>
                <th style="width: 10%"><center>QTD</center></th>
                <th style="width: 5%"><center></center></th>
              </tr>
            </thead>
            <tbody class="auto" id="corpo_tabela_atividade">

                {% for ativ in relatorio_atividades %}
                    <tr class="linhas" id="linha_{{ forloop.counter }}">
                        <td class="colunas_1" style="display: flex; flex-wrap: wrap">
                            <select class="professores" id="prof_1_ativ_{{ forloop.counter }}" name="prf_1_ativ_{{ forloop.counter }}" style="width: 45%; margin: 2px;" onchange="validacao(this)" required>
                                <option></option>
                                {% for professor in professores %}
                                    <option value="{{ professor.id }}" {% if professor.id == ativ.professores|index:0 %} selected {% endif %}>{{ professor }}</option>
                                {% endfor %}
                            </select>
                            <select class="professores" id="prof_2_ativ_{{ forloop.counter }}" name="prf_2_ativ_{{ forloop.counter }}" style="width: 45%; margin: 2px;" onchange="validacao(this)">
                                <option></option>
                                {% for professor in professores %}
                                    <option value="{{ professor.id }}" {% if professor.id == ativ.professores|index:1 %} selected {% endif %}>{{ professor }}</option>
                                {% endfor %}
                            </select>
                            <select class="professores" id="prof_3_ativ_{{ forloop.counter }}" name="prf_3_ativ_{{ forloop.counter }}" style="width: 45%; margin: 2px;" onchange="validacao(this)">
                                <option></option>
                                {% for professor in professores %}
                                    <option value="{{ professor.id }}" {% if professor.id == ativ.professores|index:2 %} selected {% endif %}>{{ professor }}</option>
                                {% endfor %}
                            </select>
                            <select class="professores" id="prof_4_ativ_{{ forloop.counter }}" name="prf_4_ativ_{{ forloop.counter }}" style="width: 45%; margin: 2px;" onchange="validacao(this)">
                                <option></option>
                                {% for professor in professores %}
                                    <option value="{{ professor.id }}" {% if professor.id == ativ.professores|index:3 %} selected {% endif %}>{{ professor }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="colunas_2" id="coluna_2_linha_{{ forloop.counter }}">
                            <select class="atividades" name="ativ_{{ forloop.counter }}" id="ativ_{{ forloop.counter }}" onchange="verificar_n_professores()" required>
                                <option></option>
                                {% for atividade in atividades %}
                                    <option value="{{ atividade.id }}" {% if atividade.id == ativ.atividade %} selected {% endif %}>{{ atividade.atividade }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="colunas_3" id="coluna_3_linha_{{ forloop.counter }}">
                            <input class="datas" type="datetime-local" id="data_hora_ativ{{ forloop.counter }}" name="data_hora_ativ_{{ forloop.counter }}" value="{{ ativ.data_e_hora }}" required/>
                        </td>
                        <td class="colunas_4" id="coluna_4_linha_{{ forloop.counter }}">
                            <input class="qtds" type="number" id="qtd_ativ{{ forloop.counter }}" name="qtd_ativ_{{ forloop.counter }}" value="{{ ativ.qtd }}" required/>
                        </td>
                        <td class="colunas_5" id="coluna_5_linha_{{ forloop.counter }}">
                            <button class="buton-x-" id="btn_{{ forloop.counter }}" type="button" onclick="remover_linha(this)"><span><i class='bx bx-x'></i></span></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
          <button class="buton-plus-" type="button" onclick="add_linha_atividade()">
            <span><i class='bx bxs-plus-circle'></i></span>
            <span class="text-black-50" style="font-size: 15px">Adcionar atividade</span>
          </button>

    <!------------------------------------------------------------------------------------->
          <div class="form-group form-check form-switch mb-3 mt-3" id="div_check">
            <input type="checkbox" class="form-check-input switch" id="checkAtividade" onChange="check_locacao()">
            <span class="text-black-50" style="font-size: 15px">O colégio realizou locações no CEU?</span>
          </div>
    <!------------------------------------------------------------------------------------->
        {% if formulario.locacoes_realizadas %}
            <script>
                $('#checkAtividade').prop('checked', true)
                setTimeout(() => {
                    check_locacao()
                }, 1)
            </script>
        {% endif %}
    <!-------------------------------------- TABELA LOCAÇÃO --------------------------------------->
          <div class="none" id="tabela">
            <table id="locacao" class="table table-striped table-sm" style="caption-side: top">
              <caption>Locações da empresa no CEU:</caption>
              <thead>
                <tr>
                  <th style="width: 20%"><center>Professor</center></th>
                  <th style="width: 20%"><center>Local</center></th>
                  <th style="width: 20%"><center>Check in</center></th>
                  <th style="width: 20%"><center>Check out</center></th>
                  <th style="width: 10%"><center>QTD</center></th>
                  <th><center></center></th>
                </tr>
              </thead>
              <tbody id="corpo_tabela_locacao">
                {% for locacao in formulario.locacoes_realizadas %}
                    <tr class="linhas_loc" id="linha_loc_{{ forloop.counter }}">
                        <td class="colunas_loc_1" id="coluna_1_linha_loc_{{ forloop.counter }}">
                            <select class="escalados professores_loc" id="prof_loc_{{ forloop.counter }}" name="prf_loc_{{ forloop.counter }}" onchange="validacao(this)" required>
                                <option></option>
                                {% for professor in professores %}
                                    <option value="{{ professor.id }}" {% if professor.id == locacao.professor %} selected {% endif %}>{{ professor }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="colunas_loc_2" id="coluna_2_linha_loc_{{ forloop.counter }}">
                            <select class="locacoes" id="loc_{{ forloop.counter }}" name="loc_{{ forloop.counter }}">
                                <option></option>
                                {% for espaco in locaveis %}
                                    <option value="{{ espaco.id }}" {% if espaco.id == locacao.espaco %} selected {% endif %}>{{ espaco }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="colunas_loc_3" id="coluna_3_linha_loc_{{ forloop.counter }}">
                            <input class="check_in" type="datetime-local" id="check_in_{{ forloop.counter }}" name="check_in_{{ forloop.counter }}" style="width: 200px" value="{{ locacao.check_in }}" required/>
                        </td>
                        <td class="colunas_loc_4" id="coluna_4_linha_loc_{{ forloop.counter }}">
                            <input class="check_out" type="datetime-local" id="check_out_{{ forloop.counter }}" name="check_out_{{ forloop.counter }}" style="width: 200px" value="{{ locacao.check_out }}" required/>
                        </td>
                        <td class="colunas_loc_5" id="coluna_5_linha_loc_{{ forloop.counter }}">
                            <input class="qtds_loc" type="number" id="qtd_loc{{ forloop.counter }}" name="qtd_loc_{{ forloop.counter }}" value="{{ locacao.qtd }}"/>
                        </td>
                        <td class="colunas_loc_6" id="coluna_6_linha_loc_{{ forloop.counter }}">
                            <button class="buton-x-loc" id="btn-loc_{{ forloop.counter }}" type="button" onClick="remover_linha_locacao(this)"><span><i class='bx bx-x'></i></span></button>
                        </td>
                    </tr>
                {% endfor %}

              </tbody>
            </table>
            <button class="buton-plus-" type="button" onclick="add_linha_locacao()">
              <span><i class='bx bxs-plus-circle'></i></span>
              <span class="text-black-50" style="font-size: 15px">Adcionar locacao</span>
            </button>
          </div>

    <!-------------------------------- RELATÓRIO FINAL ---------------------------->
          <div class="form-group">
            <label>Relatório do dia:</label>
            <textarea class="form-control mb-3" style="height: 150px; resize: none" name="relatorio"> Atividades realizadas com sucesso! </textarea>
          </div>
          </fieldset>
          {% if editar %}
              <div>
                  <button type="submit" class="btn btn-primary ml-5" id="salvar" disabled>Salvar</button>
                  <button type="button" class="btn btn-primary ml-5" id="editar" onclick="edita()">Editar</button>
                  <button type="button" class="btn btn-danger" id="excluir" data-toggle="modal" data-target="#modal-excuir">Excluir</button>
              </div>
          {% endif %}
          <script src="{% static 'js/script_base.js' %}"></script>

        <div class="modal fade" id="modal-excuir" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Tem certeza disso?</h5>
                <button type="button" class="close x-fechar-modal" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Você tem certeza que deseja excluir o relatório em questão?
                {% csrf_token %}
              </div>
              <div class="modal-footer">
                <input type="submit" name="acao" value="Sim" style="background-color: #dc3545; color: white; width: 65px; display: flex; justify-content: center; padding: 2px">
                <button type="button" class="btn btn-primary">Não</button>
              </div>
            </div>
          </div>
        </div>

    </form>
  </div>
  <script src="{% static 'js/script_base.js' %}"></script>
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/scripts_colegio.js' %}"></script>
  <script src="{% static 'js/scripts_verDocumento-colegio-empresa.js' %}"></script>
{% endblock %}
