{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
    <div class="conteudo-escalar-monitores">
        <div class="titulo-conteudo-escalar-monitores">
            <center>
                <h2>Escala para o dia {{ data    }}</h2>
            </center>
        </div>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <h5 class="titulo-secao">Data</h5>
                <div style="width: 50%">
                    <input class="form-control" type="date" id="data" value="{{ data }}" disabled>
                </div>
            </div>
            <hr class="escalar">
            <div class="monitores-disponiveis row">
                <h5 class="titulo-secao">Monitores disponiveis</h5>
                <div id="hotelaria" style="width: 50%" onchange="active_botao_salvar()">
                    <label for="monitores_hotelaria">Para a hotelaria</label>
                    <select name="monitores_hotelaria" id="monitores_hotelaria" multiple style="width: 100%" onchange="escalado(this, editando=true)">
                        {% for monitor in restante_hotelaria %}
                            <option value="{{ monitor.id }}">{{ monitor.usuario.get_full_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="acampamento" style="width: 50%" onchange="active_botao_salvar()">
                    <label for="monitores_acampamento">Para o acampamento</label>
                    <select name="monitores_acampamento" id="monitores_acampamento" multiple style="width: 100%; overflow: hidden" onclick="escalado(this, editando=true)">
                        {% for monitor in restante_acampamento %}
                            <option value="{{ monitor.id }}">{{ monitor.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <hr>
            <div class="row mb-2 escalados" id="escalar">
                <h5 class="titulo-secao">Escalados para o evento</h5>
                <div class="row" id="escalados">
                    {% for monitor in escalados.monitores_acampamento.all %}
                        <span class="ja_escalado" id = "nome_monitor_botao" >
                            {{ monitor }}
                            <button name = "acampamento" type = "button" id = "{{ monitor.id }}" onclick="remover_monitor_escalado(this, editando=true)">
                                &times
                            </button>
                        </span>
                    {% endfor %}
                </div>
                <input type="hidden" name="monitores_escalados" id="monitores_escalados" value="{{ id_escalados }}">
            </div>
            <div class="botoes">
                <button type="button" id="botao_salvar_escala" class="btn btn-primary" onclick="salvar_monitores_escalados()" disabled>Salvar</button>
                <button id="enviar_formulario" class="none" type="submit"></button>
            </div>
        </form>
    </div>
    <script src="{% static 'js/escalar_monitores.js' %}"></script>
{% endblock %}