{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt">

{% include 'parciais/_head.html' %}

{% block conteudo %}
    <div class="conteudo-manutencao">
        <div class="box-manutencao">
            <img class="logo-central" src="{% static 'img/grupoPeraltas.png' %}" alt="Logo" width="50%" height="auto">
            <div class="aviso-manutencao">
                <h2>O SISTEMA ESTÁ EM MANUTENÇÃO!</h2>
                <h3>POR FAVOR AGUARDE.</h3>
            </div>
            <img src="{% static 'img/repair-tools.gif' %}" alt="Site em manitenção" style="width: 18vh">
        </div>
    </div>
{% endblock %}
</html>