{% extends 'base.html' %}
{% load custom_filter_tags_avaliacao %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
    <link rel="stylesheet" href="{% static 'css/style_avaliacao_coordenacao_monitoria.css' %}">
    <div class="container py-5">
        <div class="row justify-content-center w-75">
            <div class="col-lg-10">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white text-center">
                        <h2 class="h4 mb-0">Pesquisa de Satisfação</h2>
                        <p class="mb-0">Avaliação da equipe de coordenadores</p>
                    </div>

                    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="card-body">
                            <!-- Seção 1: Informações Fixas -->
                            <section class="mb-2 text-center">
                                <h3 class="h5 mb-3 text-primary">Informações Gerais</h3>
                                <div class="row g-3">
                                    <div class="col-md-4">
                                        <p class="mb-1"><strong>Avaliador:</strong></p>
                                        <p>{{ form.nome_avaliador }}</p>
                                        {% if form.nome_avaliador.errors %}
                                            {% for error in form.nome_avaliador.errors %}
                                                <p class="erro-dados-avaliador">
                                                    *{{ error }}
                                                </p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        <p class="mb-1"><strong>Cargo:</strong></p>
                                        <p>{{ form.cargo_avaliador }}</p>
                                        {% if form.cargo_avaliador.errors %}
                                            {% for error in form.cargo_avaliador.errors %}
                                                <p class="erro-dados-avaliador">
                                                    *{{ error }}
                                                </p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        <p class="mb-1"><strong>Telefone:</strong></p>
                                        <p>{{ form.telefone_avaliador }}</p>
                                        {% if form.telefone_avaliador.errors %}
                                            {% for error in form.telefone_avaliador.errors %}
                                                <p class="erro-dados-avaliador">
                                                    *{{ error }}
                                                </p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <p class="mb-1"><strong>E-mail:</strong></p>
                                        <p>{{ form.email_avaliador }}</p>
                                        {% if form.email_avaliador.errors %}
                                            <p class="erro-dados-avaliador">
                                                {% for error in form.email_avaliador.errors %}
                                                    *{{ error }}
                                                {% endfor %}
                                            </p>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <p class="mb-1"><strong>Cliente:</strong></p>
                                        <p>{{ ordem.instituicao }}</p>
                                    </div>
                                </div>
                            </section>
                            <hr>

                            <!-- Seção 2: Avaliações Individuais -->
                            <section class="mb-5">
                                <h3 class="h5 mb-3 text-primary">Avaliação individual dos Coordenadores</h3>
                                <div class="h6 mb-3 text-uppercase">
                                    <strong>
                                        Você deve avaliar a equipe de coordenação como um todo e colocar as observações
                                        caso haja algum caso específico!
                                    </strong>
                                </div>
                                {{ avaliacao_coordenadores_formset.management_form }}
                                <table id="tabela-avaliacao-coordenadores" class="table">
                                    <thead class="text-center">
                                    <tr>
                                        <th>Coordenador</th>
                                        <th>Avaliação</th>
                                        <th>Observações</th>
                                    </tr>
                                    </thead>
                                    <tbody id="avaliacoes-container">
                                    {% for form in avaliacao_coordenadores_formset %}
                                        <tr data-has-obs="true" class="avaliacao-item align-middle">
                                            <td>
                                                {{ form.coordenador }}
                                            </td>
                                            <td>
                                                {{ form.avaliacao }}
                                                {% if form.avaliacao.errors %}
                                                    <div class="text-danger">{{ form.avaliacao.errors }}</div>
                                                {% endif %}
                                            </td>
                                            <td class="obs-cell {% if form.avaliacao <= 2 %}obs-obrigatoria{% endif %}">
                                                {{ form.observacao }}
                                                {% for error in form.observacao.errors %}
                                                    <div class="invalid-feedback d-block">
                                                        {{ error }}
                                                    </div>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        {% if form.coordenador.errors %}
                                            {% for error in form.coordenador.errors %}
                                                <tr>
                                                    <td rowspan="3" class="invalid-feedback d-block">
                                                        *{{ error }}
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </section>

                            <!-- Seção 3: Avaliações das atividades -->
                            <section class="mb-5">
                                <h3 class="h5 mb-3 text-primary">Avaliação individual das salas</h3>
                                <div class="h6 mb-3 text-uppercase">
                                    <strong>
                                        Você deve avaliar as salas utilizadas. Utilize o campo de observação para
                                        comentar eventuais pontos positivos, dificuldades encontradas ou sugestões de melhoria.
                                    </strong>
                                </div>
                                {{ avaliacao_salas_formset.management_form }}
                                <table id="avaliacoes-atividades" class="table">
                                    <thead class="text-center">
                                    <tr>
                                        <th>Sala</th>
                                        <th>Avaliação</th>
                                        <th>Observações</th>
                                    </tr>
                                    </thead>
                                    <tbody id="avaliacoes-container">
                                    {% for form in avaliacao_salas_formset %}
                                        <tr data-has-obs="true" class="avaliacao-item align-middle">
                                            <td>
                                                {{ form.sala_combinada }}
                                                {{ form.sala.as_hidden }}
                                                {{ form.sala_content_type.as_hidden }}
                                                {{ form.sala_object_id.as_hidden }}
                                            </td>
                                            <td>
                                                {{ form.avaliacao }}
                                                {% if form.avaliacao.errors %}
                                                    <div class="text-danger">{{ form.avaliacao.errors }}</div>
                                                {% endif %}
                                            </td>
                                            <td class="obs-cell {% if form.avaliacao <= 2 %}obs-obrigatoria{% endif %}">
                                                {{ form.observacao }}
                                                {% for error in form.observacao.errors %}
                                                    <div class="invalid-feedback d-block">
                                                        {{ error }}
                                                    </div>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        {% if form.atividade_combinada.errors %}
                                            {% for error in form.atividade_combinada.errors %}
                                                <tr>
                                                    <td rowspan="3" class="invalid-feedback d-block">
                                                        *{{ error }}
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </section>

                            <!-- Seção 4: Avaliação Geral -->
                            <section class="mb-5">
                                <h3 class="h5 mb-3 text-primary">Avaliações Gerais</h3>
                                {% for field in form.hidden_fields %}
                                    {{ field }}
                                {% endfor %}
                                <table id="tabela-avaliacao-geral" class="form-table">
                                    <thead class="text-center">
                                    <tr class="border-top border-dark">
                                        <th>Pergunta</th>
                                        <th>Observações</th>
                                    </tr>
                                    <tr class="mensagem-observacoes colspan text-danger border-bottom border-dark">
                                        <th colspan="2" class="p-2">EM CASO DE RESPOSTAS "NÃO" OU "REGULAR" OU "RUIM" É
                                            OBRIGATÓRIO PREENCHER O CAMPO DE OBSERVAÇÃO!
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for field in form.visible_fields %}
                                        {% if field.name not in campos_nao_tabelaveis %}
                                            {% if not field.name|slice:'-3:' == 'obs' %}
                                                <tr class="linha-pergunta" {% if field.name != 'volta_proximo_ano' %} data-has-obs="true" {% endif %}>
                                                    <!-- Coluna da Pergunta -->
                                                    <td class="pergunta-cell">
                                                        <div class="mb-3">
                                                            {{ field.label_tag }}
                                                            {{ field }}
                                                            {% if field.help_text %}
                                                                <small class="form-text text-muted">{{ field.help_text }}</small>
                                                            {% endif %}
                                                            {% for error in field.errors %}
                                                                <div class="invalid-feedback d-block">
                                                                    {{ error }}
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </td>

                                                    <!-- Coluna da Observação -->
                                                    <td class="obs-cell {% if field.value in "False, 2, 1" %}obs-obrigatoria{% endif %}">
                                                        {% with obs_field=form|get_obs_field:field.name %}
                                                            {% if obs_field %}
                                                                <div class="mb-3 mt-3">
                                                                    {{ obs_field }}
                                                                    {% for error in obs_field.errors %}
                                                                        <div class="invalid-feedback d-block">
                                                                            {{ error }}
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                        {% endwith %}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    <tr class="linha-pergunta">
                                        <td class="pergunta-cell align-baseline">
                                            <div class="mb-3 mt-3">
                                                {{ form.material_divigulgacao.label_tag }}
                                                {{ form.material_divigulgacao }}
                                                {% if form.material_divigulgacao.help_text %}
                                                    <small class="form-text text-muted">{{ form.material_divigulgacao.help_text }}</small>
                                                {% endif %}
                                                {% for error in form.material_divigulgacao.errors %}
                                                    <div class="invalid-feedback d-block">
                                                        {{ error }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </td>

                                        <td class="pergunta-cell">
                                            <div class="mb-3 mt-3">
                                                {{ form.interesse_hospedar_com_familia.label_tag }}
                                                {{ form.interesse_hospedar_com_familia }}
                                                {% if form.interesse_hospedar_com_familia.help_text %}
                                                    <small class="form-text text-muted text-">{{ form.interesse_hospedar_com_familia.help_text }}</small>
                                                {% endif %}
                                                {% for error in form.interesse_hospedar_com_familia.errors %}
                                                    <div class="invalid-feedback d-block">
                                                        {{ error }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="linha-pergunta">
                                        <td colspan="2" class="pergunta-cell align-bottom">
                                            <div class="mb-3 mt-3">
                                                {{ form.mais_valorizou.label_tag }}
                                                {{ form.mais_valorizou }}
                                                {% if form.mais_valorizou.help_text %}
                                                    <small class="form-text text-muted">{{ form.mais_valorizou.help_text }}</small>
                                                {% endif %}
                                                {% for error in form.mais_valorizou.errors %}
                                                    <div class="invalid-feedback d-block">
                                                        {{ error }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="linha-pergunta">
                                        <td colspan="2" class="colspan pergunta-cell align-bottom">
                                            <div class="mb-3 mt-3">
                                                {{ form.sugestoes.label_tag }}
                                                {{ form.sugestoes }}
                                                {% if form.sugestoes.help_text %}
                                                    <small class="form-text text-muted">{{ form.sugestoes.help_text }}</small>
                                                {% endif %}
                                                {% for error in form.sugestoes.errors %}
                                                    <div class="invalid-feedback d-block">
                                                        {{ error }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>

                        {% if not visualizacao %}
                            <div class="card-footer bg-light botoes">
                                <div class="d-flex justify-content-between">
                                    <button type="button" class="btn btn-secondary" onclick="history.back()">
                                        <i class="bi bi-arrow-left"></i> Voltar
                                    </button>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="bi bi-check-circle"></i> Enviar Pesquisa
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/scripts_coordenador_monitoria.js' %}"></script>
{% endblock %}
