{% load static %}
<!DOCTYPE html>
<html lang="pt" dir="ltr">
  <head>
      {% include 'parciais/_head.html' %}
  </head>

  <body style="background-color: #E4E9F7">
  {% if user.groups.all %}
    {% include 'parciais/_sidebar.html' %}
    <section class="home-section">
      {% if not ver %}
        <div class="home-content">
          <i class='bx bx-menu' ></i>
          <span class="text">Sistema de Gereciamento Operacional</span>
        </div>
        <hr class="barra">
      {% endif %}
    {% endif %}
      <div id="corpo_site">
        {% include 'parciais/_mensagens.html' %}
        {% block conteudo %}{% endblock %}
      </div>
    </section>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
