{% load static %}
<!DOCTYPE html>
<html lang="pt" dir="ltr">
  <head>
      {% include 'parciais/_head.html' %}
  </head>

  <body style="background-color: #E4E9F7">
    <div class="sidebar close">
      <div class="logo-details">
        <i><img src="{% static 'img/ceu.png' %}" alt="Logo CEU" height="70px" width="auto"></i>
        <span class="logo_name">Fundação CEU</span>
      </div>
      {% if request.user.is_authenticated %}
      <ul class="nav-links">
        <div class="calendario">
          {% include 'parciais/_calendario.html' %}
        </div>
        <li>
          <a href="{% url 'dashboard' %}">
            <i class='bx bx-grid-alt' ></i>
            <span class="link_name">Dashboard</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="{% url 'dashboard' %}">Dashboard</a></li>
          </ul>
        </li>

        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-archive'></i>
              <span class="link_name">Cadastrar</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name">Cadastrar</a></li>
            <li><a href="{% url 'publico' %}">Público</a></li>

            <li>
              <div class="iocn-link-2">
                <a href="{% url 'colegio' %}">
                  <span>Colégio</span>
                </a>
                <i class='bx bxs-chevron-down arrow-2' ></i>
              </div>
              <ul class="sub-sub-menu">
                <li><a class="link_name">Colégio</a></li>
                <li><a href="{% url 'solicitarAvaliacao' %}">Avaliação</a></li>
              </ul>
            </li>

            <li><a href="{% url 'empresa' %}">Empresa</a></li>
          </ul>
        </li>

        <li>
            <a href="{% url 'escala' %}">
                <i class='bx bx-table' ></i>
                <span class="link_name">Escala</span>
            </a>
                <ul class="sub-menu blank">
                <li><a class="link_name" href="{% url 'escala' %}">Escala</a></li>
                </ul>
        </li>

        <li>
          <div class="profile-details">
            <div class="profile-content">
              <!--<img src="image/profile.jpg" alt="profileImg">-->
            </div>
            <div class="name-job">
              <div class="profile_name">{{ user.first_name }} {{ user.last_name }}</div>
              <div class="job">{{ user.groups.all.0 }}</div>
            </div>
            <a href="{% url 'logout' %}"><i class='bx bx-log-out' ></i></a>
          </div>
        </li>
      </ul>
    {% endif %}
    </div>
    <section class="home-section">
      <div class="home-content">
        <i class='bx bx-menu' ></i>
        <span class="text">Sistema de cadastro de OS</span>
      </div>
      <hr class="barra">
      <div>
        {% include 'parciais/_mensagens.html' %}
        {% block conteudo %}{% endblock %}
      </div>
      <br><br><br><br>
    </section>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
