{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> <!-- Styles da bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> <!-- Styles da bootstrap -->

    <div class="conteudo-escala" style="background-color: white">
        <form id="selecionar_setor" action="{% url 'visualizarDisponibilidadePeraltas' %}" method="GET">
            <label for="setor">Montar escala para</label>
            <select class="form-select" name="setor" id="setor" onchange="this.form.submit()">
                <option value="acampamento">Acampamento</option>
                <option value="hotelaria" {% if request.GET.setor == 'hotelaria' %} selected {% endif %}>Hotelaria
                </option>
            </select>
        </form>
        <div id="calendar" class="card" style="padding: 10px; background-color: transparent; border: none"></div>
        {% csrf_token %}
        <script src="{% static 'js/Moment.js' %}"></script>
        <script src="{% static 'js/Moment_with_locales.js' %}"></script>
        <script src="{% static 'js/Moment_timezone.js' %}"></script>
        <script src="{% static 'fullcalendar/main.js' %}"></script><!-- Script para o calendário da escala -->

        <script>
            $(document).ready(function () {
                let calendarUI = document.getElementById('calendar')
                let calendario_hotelaria = new FullCalendar.Calendar(calendarUI, {

                    headerToolbar: {
                        left: '',
                        center: 'title',
                    },

                    eventOrderStrict: true,
                    locale: 'pt-br',
                    dayMaxEvents: 3,

                    navLinks: true,
                    navLinkDayClick: function (date, jsEvent) {
                        if ($('#setor').val() === 'hotelaria') {
                            {% for evento in eventos_hospedagem %}
                                if (moment(date).format('YYYY-MM-DD') >= '{{ evento.check_in|date:'Y-m-d' }}' &&
                                    moment(date).format('YYYY-MM-DD') <= '{{ evento.check_out|date:'Y-m-d' }}') {
                                    let data = moment(date).format('DD-MM-YYYY')

                                    window.location.href = `/escala/peraltas/${$('#setor').val()}/escalar/${data}`
                                }
                            {% endfor %}
                        } else {
                            let data = moment(date).format('DD-MM-YYYY')
                            window.location.href = `/escala/peraltas/${$('#setor').val()}/escalar/${data}`
                        }
                    },

                    events: [
                        {% for ficha in fichas_de_evento %}
                            {
                                start: '{{ ficha.check_in | date:'Y-m-d' }}',
                                end: '{{ ficha.check_out | date:'Y-m-d' }}',
                                display: 'background',
                                color: '#8B008B',
                            },
                        {% endfor %}

                        {% for evento in eventos %}
                            {
                                start: '{{ evento.check_in | date:'Y-m-d' }}',
                                end: '{{ evento.check_out | date:'Y-m-d' }}',
                                display: 'background',

                                {% if evento.tipo == 'Colégio' %}
                                    color: '#FF8C00',
                                {% else %}
                                    color: '#fcc607',
                                {% endif %}
                            },
                        {% endfor %}

                        {% for evento in eventos_hospedagem %}
                            {
                                start: '{{ evento.check_in | date:'Y-m-d' }}',
                                end: '{{ evento.check_out | date:'Y-m-d' }}',
                                display: 'background',
                                color: '#008000',

                            },
                        {% endfor %}

                        {% for disponivel in disponiveis_peraltas %}
                            {% for dia in disponivel.dias_disponiveis %}
                                {
                                    title: "{{ disponivel.monitor }}",
                                    start: "{{ dia }}",
                                },
                            {% endfor %}
                        {% endfor %}
                    ],
                    eventColor: '#EB5B48',
                });
                calendario_hotelaria.render();
                calendario_hotelaria.setOption('locale', 'pt-br')
            })

            function redirecionar_edicao() {
                window.location.href = '/escala/acampamento/editar/evento/' + $('#cliente_modal').val() + '/' + moment($('#check_in_evento_modal').val()).format('DD-MM-yyyy')
            }
        </script>
        <script src="{% static 'js/Moment.js' %}"></script>
        <script src="{% static 'js/Moment_with_locales.js' %}"></script>
        <script src="{% static 'js/Moment_timezone.js' %}"></script>
    </div>

{% endblock %}

