{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> <!-- Styles da bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> <!-- Styles da bootstrap -->

    <div class="conteudo-escala" style="background-color: white">
        <div id="selecionar_setor">
            <label for="setor">Montar escala para</label>
            <select class="form-select" name="setor" id="setor">
                <option value="hotelaria">Hotelaria</option>
                <option value="acampamento">Acampamento</option>
            </select>
        </div>
        <div id="calendar" class="card" style="padding: 10px; background-color: transparent; border: none"></div>
        {% csrf_token %}
        <script src="{% static 'js/Moment.js' %}"></script>
        <script src="{% static 'js/Moment_with_locales.js' %}"></script>
        <script src="{% static 'js/Moment_timezone.js' %}"></script>
        <script src="{% static 'fullcalendar/main.js' %}"></script><!-- Script para o calendário da escala -->

        <script>
            $(document).ready(function () {
                let calendarUI = document.getElementById('calendar');
                let calendario_hotelaria = new FullCalendar.Calendar(calendarUI, {

                    headerToolbar: {
                        left: '',
                        center: 'title',
                    },

                    eventOrderStrict: true,
                    locale: 'pt-br',
                    dayMaxEvents: 3,

                    navLinks: true,
                    navLinkDayClick: function (date, jsEvent) {
                        let data = moment(date).format('DD-MM-YYYY')

                        window.location.href = `/escala/peraltas/${$('#setor').val()}/escalar/${data}`
                    },

                    events: [
                        {% for ficha in fichas_de_evento %}
                            {
                                start: '{{ ficha.check_in | date:'Y-m-d' }}',
                                end: '{{ ficha.check_out | date:'Y-m-d' }}',
                                display: 'background',
                                color: '#8B008B',
                            },
                        {% endfor %}

                        {% for evento in eventos %}
                            {
                                start: '{{ evento.check_in | date:'Y-m-d' }}',
                                end: '{{ evento.check_out | date:'Y-m-d' }}',
                                display: 'background',

                                {% if evento.tipo == 'Colégio' %}
                                    color: '#FF8C00',
                                {% else %}
                                    color: '#fcc607',
                                {% endif %}
                            },
                        {% endfor %}

                        {% for disponivel in disponiveis_peraltas %}
                            {% for dia in disponivel.dias_disponiveis %}
                                {
                                    title: "{{ disponivel.monitor }}",
                                    start: "{{ dia }}",
                                },
                            {% endfor %}
                        {% endfor %}
                    ],
                    eventColor: '#EB5B48',
                });
                calendario_hotelaria.render();
                calendario_hotelaria.setOption('locale', 'pt-br')
            })

            function redirecionar_edicao() {
                window.location.href = '/escala/acampamento/editar/evento/' + $('#cliente_modal').val() + '/' + moment($('#check_in_evento_modal').val()).format('DD-MM-yyyy')
            }
        </script>
    </div>

{% endblock %}

