{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> <!-- Styles da bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> <!-- Styles da bootstrap -->

    <div class="conteudo-escala" style="background-color: white">
        <div id="calendar" class="card" style="padding: 10px; background-color: transparent; border: none"></div>
          {% csrf_token %}
        <script src="{% static 'fullcalendar/main.js' %}"></script><!-- Script para o calendário da escala -->

        <script>
            $(document).ready(function (){
                mostrar_calendario()
            })

            function mostrar_calendario() {
                const calendarUI = document.getElementById('calendar');
                $('#calendar').empty()
                let calendario_acampamento = new FullCalendar.Calendar(calendarUI, {

                    headerToolbar: {
                        left: '',
                        center: 'title',
                    },

                    eventOrderStrict: true,
                    locale: 'pt-br',
                    dayMaxEvents: 3,
                    navLinks: true,
                    fixedWeekCount: false,

                    navLinkDayClick: function (date, jsEvent) {
                            loading()
                            escalados = []

                            $.ajax({
                                headers: {"X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()},
                                type: 'GET',
                                url: '/escala/verificar-escala-dia/',
                                data: {'data_selecionada': date.toLocaleDateString('pt-BR')},
                                success: function (response) {
                                    let posicao = 0
                                    let professores_disponiveis = response['disponiveis']
                                    let selects_professores = $('.professores-disponiveis')
                                    let lista_disponiveis = $('.disponiveis')

                                    $('#n_eventos').text(response['eventos']['n_eventos'])
                                    $('#n_participantes').text(response['eventos']['n_participantes'])

                                    selects_professores.empty().append(`<option></option>`)
                                    lista_disponiveis.empty()
                                    $('#mensagem_erro').empty()

                                    for (let professor in professores_disponiveis) {
                                        lista_disponiveis.append('<li>' + professores_disponiveis[professor]['nome'] + '</li>')
                                        selects_professores.append(`<option value="${professores_disponiveis[professor]['id']}"> ${professores_disponiveis[professor]['nome']} </option>`);
                                    }

                                    for (let select of selects_professores) {
                                        for (let opt of select.children) {
                                            if (opt.value == response['escalados'][posicao]) {
                                                $(opt).prop('selected', true)
                                            }
                                        }

                                        posicao += 1
                                    }

                                }
                            }).done(() => {
                                $("#ModalCadastro").modal('show')
                                end_loading()
                            }).catch(error => {
                                alert(error)
                                end_loading()
                            })

                            $("#id_data").val(moment(date).format('YYYY-MM-DD'))
                        },

                    events: [
                        {% for evento in eventos %}
                            {
                                start: '{{ evento.check_in_ceu | date:'Y-m-d' }}',
                                end: '{{ evento.check_out_ceu | date:'Y-m-d' }}',
                                display: 'background',

                                {% if evento.tipo == 'Colégio' %}
                                    color: '#FF8C00',
                                {% else %}
                                    color: '#fcc607',
                                {% endif %}
                            },
                        {% endfor %}

                        {% for disponivel in disponiveis %}
                            {% for dia in disponivel.dias_disponiveis %}
                                {
                                    title: "{{ disponivel.professor }}",
                                    start: "{{ dia }}",
                                },
                            {% endfor %}
                        {% endfor %}
                    ],

                    eventColor: '#f36d21',

                });
                calendario_acampamento.render();
                calendario_acampamento.setOption('locale', 'pt-br')
        }

            function redirecionar_edicao(){
                window.location.href = '/escala/acampamento/editar/evento/' + $('#cliente_modal').val() + '/' + moment($('#check_in_evento_modal').val()).format('DD-MM-yyyy')
            }
        </script>

        <div class="modal fade" id="ModalCadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Cadastro de escala</h5>
                        <button class="x-fechar-modal" data-dismiss="modal">
                            <span aria-hidden="false">&times;</span>
                        </button>
                    </div>
                    <form action="{% url 'salvar_escala' %}" method="POST">
                        <div class="modal-body">
                            {% csrf_token %}
                            <div>
                                <h5 class="titulo-secao">Eventos</h5>
                                <p>
                                    Existe um total de <strong><span id="n_eventos"></span></strong> evento(s) e uma
                                    expectativa de <strong><span id="n_participantes"></span></strong> alunos para a
                                    data em questão.
                                </p>
                            </div>
                            <hr>
                            <div>
                                <h5 class="titulo-secao">Disponibilidade</h5>
                                <p>Professores disponiveis na data selecionada:</p>
                                <ul class="disponiveis"></ul>
                            </div>
                            <hr>
                            <div class="lista-professores">
                                <div id="mensagem_erro"></div>
                                <div class="selecao-professores">
                                    <label for="id_data">Data</label>
                                    <input type="date" id="id_data" name="data_escala" readonly>
                                </div>
                                <div class="selecao-professores">
                                    <label for="id_coordenador">Coordenador</label>
                                    <select class="professores-disponiveis" name="escalados" id="id_coordenador"
                                            onChange="verificarDuplicata(this)"></select>
                                </div>
                                <div class="selecao-professores">
                                    <label for="id_professor_2">Professor 2</label>
                                    <select class="professores-disponiveis" name="escalados" id="id_professor_2"
                                            onChange="verificarDuplicata(this)"></select>
                                </div>
                                <div class="selecao-professores">
                                    <label for="id_professor_3">Professor 3</label>
                                    <select class="professores-disponiveis" name="escalados" id="id_professor_3"
                                            onChange="verificarDuplicata(this)"></select>
                                </div>
                                <div class="selecao-professores">
                                    <label for="id_professor_4">Professor 4</label>
                                    <select class="professores-disponiveis" name="escalados" id="id_professor_4"
                                            onChange="verificarDuplicata(this)"></select>
                                </div>
                                <div class="selecao-professores">
                                    <label for="id_professor_5">Professor 5</label>
                                    <select class="professores-disponiveis" name="escalados" id="id_professor_5"
                                            onChange="verificarDuplicata(this)"> </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Salvar escala</button>
                        </div>
                    </form>
                </div>
            </div>
            <script src="{% static 'js/bootstrap.min.js' %}"></script><!-- Script para o calendário da escala -->
        </div>
    </div>

    <script src="{% static 'js/Moment.js' %}"></script>
    <script src="{% static 'js/Moment_timezone.js' %}"></script>
{% endblock %}

