{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
    {% csrf_token %}

    <section class="conteudo-disponibilidade-peraltas">
        <div id="nomes_monitores">
            {% for monitor in monitores %}
                <div class="card-monitor" data-event='{"extendedProps": {"id_monitor": "{{ monitor.id }}"}, "title": "{{ monitor.usuario.get_full_name }}"}' draggable="true">{{ monitor.usuario.get_full_name }}</div>
            {% endfor %}
        </div>
        <div id="calendario_escala"></div>
    </section>

    <script src="{% static 'fullcalendar/main.js' %}"></script><!-- Script para o calendário -->
    <script src="{% static 'js/scripts_disponibilidade_peraltas.js' %}"></script><!-- Script do calendário de escala -->
    <script src="{% static 'js/Moment.js' %}"></script>
    <script src="{% static 'js/Moment_with_locales.js' %}"></script>
    <script src="{% static 'js/Moment_timezone.js' %}"></script>

    <script>
        montar_disponibilidades({{ disponibilidades_peraltas|safe }}, '{{ coordenador_peraltas|safe }}')
    </script>
{% endblock %}
