{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
    {% csrf_token %}

    <section class="conteudo-disponibilidade-peraltas">
        <div style="position: relative">
            <div id="nomes_monitores" {% if coordenador_acampamento or coordenador_hotelaria %} class="sticky" {% endif %}>
                {% if coordenador_acampamento or coordenador_hotelaria %}
                    <div id="div_pesquisa_monitores">
                        <input type="search">
                    </div>
                    {% for monitor in monitores %}
                        <div class="card-monitor"
                             style="background:
                             {% if monitor.fixo %}
                                 linear-gradient(30deg, #FFC107 50%, {% if monitor.tecnica %} #C3A06E {% elif monitor.biologo %} #03BB85 {% else %} #FFC107 {% endif %} 50%);
                             {% elif monitor.tecnica %}
                                 #C3A06E
                             {% elif monitor.biologo %}
                                 #03BB85
                             {% else %}
                                 #FF8C00
                             {% endif %}"
                             data-event='{"extendedProps": {"id_monitor": "{{ monitor.id }}", {% if monitor.tecnica %} "color": "#C3A06E" {% elif monitor.biologo %}"color": "#03BB85"{% elif monitor.fixo %}"color": "#FFC107"{% else %}"color": "#FF8C00"{% endif %}}, "title": "{{ monitor.usuario.get_full_name }}"}'
                             draggable="true">{{ monitor.usuario.get_full_name }}</div>
                    {% endfor %}
                    {% for enfermeira in enfermeiras %}
                        <div class="card-monitor enfermeira"
                             data-event='{"extendedProps": {"id_enfermeira": "{{ enfermeira.id }}", "color": "#ff7474"}, "title": "{{ enfermeira.usuario.get_full_name }}"}'
                             draggable="true">{{ enfermeira.usuario.get_full_name }}</div>
                    {% endfor %}
                {% else %}
                    {% if monitores %}
                        <div class="card-monitor"
                             data-event='{"extendedProps": {"id_monitor": "{{ monitores.id }}", "color": "#FF8C00"}, "title": "{{ monitores.usuario.get_full_name }}"}'
                             draggable="true">{{ monitores.usuario.get_full_name }}</div>
                    {% endif %}
                    {% if enfermeiras %}
                        <div class="card-monitor enfermeira"
                             data-event='{"extendedProps": {"id_enfermeira": "{{ enfermeiras.id }}", "color": "#ff7474"}, "title": "{{ enfermeiras.usuario.get_full_name }}"}'
                             draggable="true">{{ enfermeiras.usuario.get_full_name }}</div>
                    {% endif %}
                {% endif %}
            </div>
            <div id="calendario_escala" {% if not coordenador_acampamento and not coordenador_hotelaria %} style="position: relative; left: 200px" {% endif %}></div>
        </div>
        <div class="legenda row">
            <div class="fixo" style="display: flex;  width: 300px">
                <div class="cor"></div>
                <p style="margin-top: 10px"> - Fixo</p>
            </div>
            <div class="tecnico" style="display: flex;  width: 300px">
                <div class="cor"></div>
                <p style="margin-top: 10px"> - Técnica</p>
            </div>
            <div class="enfermeira" style="display: flex;  width: 300px">
                <div class="cor"></div>
                <p style="margin-top: 10px"> - Enfermeira</p>
            </div>
            <div class="monitor-biologo" style="display: flex; width: 300px">
                <div class="cor"></div>
                <p style="margin-top: 10px"> - Biologo</p>
            </div>
            <div class="monitor" style="display: flex; width: 300px">
                <div class="cor"></div>
                <p style="margin-top: 10px"> - Freelancer</p>
            </div>
        </div>
    </section>



    <script src="{% static 'fullcalendar/main.js' %}"></script><!-- Script para o calendário -->
    <script src="{% static 'js/scripts_disponibilidade_peraltas.js' %}"></script><!-- Script do calendário de escala -->
    <script src="{% static 'js/Moment.js' %}"></script>
    <script src="{% static 'js/Moment_with_locales.js' %}"></script>
    <script src="{% static 'js/Moment_timezone.js' %}"></script>

    <script>
        montar_disponibilidades({{ disponibilidades_peraltas|safe }}, '{{ coordenador_acampamento }}', '{{ coordenador_hotelaria }}')
    </script>
{% endblock %}
