{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
    <div class="conteudo-escalar-monitores">
        <div class="escalar_monitores">
            <div class="titulo-conteudo-escalar-monitores">
                <center>
                    <h2>Escalar monitores</h2>
                </center>
            </div>
            <hr>
            {% csrf_token %}
            {% if setor == 'acampamento' %}
                <form id="form_evento" action="{% url 'escalar_monitores' setor data %}" method="get">
                    <fieldset>
                        <div class="mb-2">
                            <h5 class="titulo-secao">Eventos para {{ data }}</h5>
                            <label for="cliente">Cliente</label>
                            {% if clientes_dia %}
                                <select class="form-select" name="cliente" id="cliente" required>
                                    <option selected></option>
                                    {% for cliente in clientes_dia %}
                                        <option value="{{ cliente.id }}" {% if id_cliente == cliente.id %}
                                                selected {% endif %}>{{ cliente.nome_fantasia }}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <input type="text" value="{{ cliente }}" name="nome_cliente" id="nome_cliente" readonly>
                                <input type="hidden" value="{{ id_cliente }}" name="cliente" id="cliente" readonly>
                            {% endif %}
                        </div>
                        <div class="row mb-3">
                            <div style="width: 50%">
                                <label for="check_in">Check in</label>
                                <input type="datetime-local" id="check_in" {% if inicio %} value="{{ inicio }}" {% endif %}
                                       readonly>
                            </div>
                            <div style="width: 50%">
                                <label for="check_out">Check out</label>
                                <input type="datetime-local" id="check_out" {% if final %} value="{{ final }}" {% endif %}
                                       readonly>
                            </div>
                        </div>
                        {% if not id_cliente %}
                            <button type="submit" class="btn btn-primary">Procurar disponibilidade</button>
                        {% endif %}
                        <hr class="escalar">
                    </fieldset>
                </form>
            {% endif %}
            {% if setor == 'hotelaria' or inicio and final %}
                {% if setor == 'acampamento' %}
                    <div id="obrigatoriedades">
                        <h5 class="titulo-secao">Dados importantes</h5>
                        <ul>
                            {% if biologo %}
                                <li class="biologo_1">Ao menos 1 biologo</li>
                            {% endif %}

                            {% if enfermaria == 2 %}
                                <li class="enfermeira_2">Enfermeira das 8h às 22h, necessário 2 enfermeiras</li>
                            {% endif %}

                            {% if enfermaria == 3 %}
                                <li class="enfermeira_3">Enfermeira das 08h às 8h, necessário 3 enfermeiras</li>
                            {% endif %}

                            <li>O grupo informou um total de {{ qtd }} participantes</li>

                            {% if ficha_de_evento %}
                                <li>Ficha de evento: <a
                                        href="{% url 'ver_ficha_de_evento' ficha_de_evento.id %}">{{ ficha_de_evento.cliente }}</a>
                                </li>
                            {% endif %}

                            {% if os %}
                                <li>Ordem de serviço: <a
                                        href="{% url 'ver_ordem_de_servico' os.id %}">{{ os.ficha_de_evento.cliente }}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <hr>
                {% endif %}
                <div class="row mb-1">
                    <h5 class="titulo-secao">Disponiveis</h5>
                    {% if setor == 'acampamento' and enfermaria > 1 %}
                        <div id="enfermeiras" class="mb-3">
                            <label for="enfermeiras">Enfermeiras</label>
                            <div id="enfermeiras_disponiveis" class="monitores_disponiveis espacos"
                                 ondrop="escalado(this)">
                                {% for disponivel in disponiveis %}
                                    {% if disponivel.setor == 'enfermeira' %}
                                        <div id="{{ disponivel.id }}"
                                             class="card-monitor {{ disponivel.setor }} {% if disponivel.tecnica %} tecnica{% endif %} {{ disponivel.areas }} {{ disponivel.biologo }}"
                                             draggable="true">{{ disponivel.nome }}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div id="acampamento">
                        <label for="monitores_acampamento">Monitores</label>
                        <div id="monitores_acampamento" class="monitores_disponiveis espacos" ondrop="escalado(this)">
                            {% for disponivel in disponiveis %}
                                {% if 'peraltas' in disponivel.setor %}
                                    <div id="{{ disponivel.id }}"
                                         class="card-monitor {{ disponivel.setor }} {% if disponivel.tecnica %}tecnica{% endif %} {{ disponivel.areas }} {% if setor == 'acampamento' %} {{ disponivel.biologo }} {% endif %}"
                                         draggable="true">{{ disponivel.nome }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="legenda" style="display: flex">
                    <div class="tecnica">Técnica</div>
                    {% if setor == 'acampamento' %}
                        <div class="biologo">Biologo</div>
                    {% endif %}
                </div>
                <hr>
                <div class="row mb-2 escalados" id="escalar">
                    {% if setor == 'acampamento' %}
                        <h5 class="titulo-secao">Escalados para o evento</h5>
                    {% else %}
                        <h5 class="titulo-secao">Escalados para a {{ setor }}</h5>
                    {% endif %}
                    {% if setor == 'acampamento' %}
                        <div style="width: 50%">
                            <label>Monitor embarque</label>
                            <div class="monitores_escalados espacos" id="monitor_embarque" ondrop="escalado(this)">
                                {% if escalados %}
                                    {% for escalado in escalados %}
                                        {% if 'embarque' in escalado.tipo_escalacao %}
                                            <div id="{{ escalado.id }}"
                                                 class="card-monitor {{ escalado.setor }} embarque {% if escalado.tecnica %}tecnica{% endif %} {{ escalado.areas }} {{ escalado.biologo }}"
                                                 draggable="true">{{ escalado.nome }}</div>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for monitor in monitores_embarque %}
                                        <div id="{{ monitor.id }}"
                                             class="card-monitor {{ monitor.setor }} embarque {% if monitor.tecnica %}tecnica{% endif %} {{ monitor.areas }} {{ monitor.biologo }}">
                                            {{ monitor.nome }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div style="width: 50%">
                            <label>Enfermeira</label>
                            <div class="monitores_escalados espacos" id="enfermagem" ondrop="escalado(this)">
                                {% if escalados %}
                                    {% for escalado in escalados %}
                                        {% if 'enfermeira' in escalado.tipo_escalacao %}
                                            <div id="{{ escalado.id }}"
                                                 class="card-monitor {{ escalado.setor }} {% if escalado.tecnica %}tecnica{% endif %} {{ escalado.areas }} {{ escalado.biologo }}"
                                                 draggable="true">{{ escalado.nome }}</div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    {% if setor == 'acampamento' %}
                        <div class="mb-2 mt-2" id="div_biologos_escalados" style="width: 50%">
                            <label>Biologos</label>
                            <div class="monitores_escalados espacos" id="biologos"
                                 style="display: flex; flex-wrap: wrap;" ondrop="escalado(this)">
                                {% if escalados %}
                                    {% for escalado in escalados %}
                                        {% if 'biologo' in escalado.tipo_escalacao %}
                                            <div id="{{ escalado.id }}"
                                                 class="card-monitor {{ escalado.setor }} {% if escalado.tecnica %}tecnica{% endif %} {{ escalado.areas }} {{ escalado.biologo }}"
                                                 draggable="true">{{ escalado.nome }}</div>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for monitor in monitores_biologo %}
                                        <div id="{{ monitor.id }}"
                                             class="card-monitor {{ monitor.setor }} {% if monitor.tecnica %}tecnica{% endif %} {{ monitor.areas }} {{ monitor.biologo }}">
                                            {{ monitor.nome }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    {% if setor == 'hotelaria' %}
                        <div class="mb-2" id="div_coordenadores_escalados" style="width: 50%">
                            <label>Coordenadores</label>
                            <div class="monitores_escalados espacos" id="coordenadores_escalados"
                                 style="display: flex; flex-wrap: wrap" ondrop="escalado(this)">
                                {% if escalados %}
                                    {% for escalado in escalados %}
                                        {% if 'coordenadores' in escalado.tipo_escalacao %}
                                            <div id="{{ escalado.id }}"
                                                 class="card-monitor {% if 'embarque' in escalado.tipo_escalacao %} embarque {% endif %} {{ escalado.setor }} {% if escalado.tecnica %}tecnica{% endif %} {{ escalado.areas }} {{ escalado.biologo }}"
                                                 draggable="true">{{ escalado.nome }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="mb-2 mt-2" id="div_tecnicos_escalados" style="width: 50%">
                        <label>Técnica</label>
                        <div class="monitores_escalados espacos" id="tecnicos_escalados"
                             style="display: flex; flex-wrap: wrap" ondrop="escalado(this)">
                            {% if escalados %}
                                {% for escalado in escalados %}
                                    {% if 'tecnico' in escalado.tipo_escalacao %}
                                        <div id="{{ escalado.id }}"
                                             class="card-monitor {% if 'embarque' in escalado.tipo_escalacao %} embarque {% endif %} {{ escalado.setor }} {% if escalado.tecnica %}tecnica{% endif %} {{ escalado.areas }} {{ escalado.biologo }}"
                                             draggable="true">{{ escalado.nome }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-2" id="div_monitores_escalados">
                        <label>Monitores</label>
                        <div class="monitores_escalados espacos" id="monitores_escalados"
                             style="display: flex; flex-wrap: wrap" ondrop="escalado(this)">
                            {% if escalados %}
                                {% for escalado in escalados %}
                                    {% if setor in escalado.tipo_escalacao %}
                                        <div id="{{ escalado.id }}"
                                             class="card-monitor {% if 'embarque' in escalado.tipo_escalacao %} embarque {% endif %} {{ escalado.setor }} {% if escalado.tecnica %}tecnica{% endif %} {{ escalado.areas }} {{ escalado.biologo }}"
                                             draggable="true">{{ escalado.nome }}


                                            {% if 'embarque' in escalado.tipo_escalacao %}
                                                <button class="btn btn-close" style="font-size: 12px; margin-left: 5px"
                                                        onclick="remover_escalado_clique(this.parentNode)"></button>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <input id="escala_editada" type="hidden" value="{{ id_escala }}">
                </div>
                <div class="botoes" style="display: flex; justify-content: space-between">
                    {% if diretoria %}
                        <button type="button" class="btn btn-primary" {% if id_cliente %}
                                onclick="salvar_monitores_escalados(false, true)" {% else %}
                                onclick="salvar_monitores_escalados(false)" {% endif %}>
                            Salvar escala final
                        </button>
                    {% endif %}

                    {% if pre_escala or not id_escala %}
                        <button type="button" class="btn btn-outline-primary" {% if id_cliente %}
                                onclick="salvar_monitores_escalados(true, true)" {% else %}
                                onclick="salvar_monitores_escalados(true)" {% endif %}>Salvar prévia
                        </button>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <div class="dados-monitores none">
            <h5 style="text-align: center; padding: 0">Dados dos monitores</h5>
            <div class="conteudo">
                <div class="coordenador none">
                    <p><i>Coordenadores:</i></p>
                    <hr style="margin-top: -10px; margin-left: 20px; width: 80%; align-self: center">
                    <ul style="margin-top: -5px" class="niveis-coordenadores">
                        <li id="coordenador_3" class="none">Nível 3:
                            <ul class="monitores"></ul>
                        </li>
                        <li id="coordenador_2" class="none">Nível 2:
                            <ul class="monitores"></ul>
                        </li>
                        <li id="coordenador_1" class="none">Nível 1:
                            <ul class="monitores"></ul>
                        </li>
                    </ul>
                </div>
                <div class="monitor none">
                    <p><i>Monitores:</i></p>
                    <hr style="margin-top: -10px; margin-left: 20px; width: 80%; align-self: center">
                    <ul style="margin-top: -5px" class="niveis-monitores">
                        <li id="monitor_5" class="none">Nível 5:
                            <ul class="monitores"></ul>
                        </li>
                        <li id="monitor_4" class="none">Nível 4:
                            <ul class="monitores"></ul>
                        </li>
                        <li id="monitor_3" class="none">Nível 3:
                            <ul class="monitores"></ul>
                        </li>
                        <li id="monitor_2" class="none">Nível 2:
                            <ul class="monitores"></ul>
                        </li>
                        <li id="monitor_1" class="none">Nível 1:
                            <ul class="monitores"></ul>
                        </li>
                    </ul>
                </div>
                <div class="auxiliar none">
                    <p><i>Auxiliares:</i></p>
                    <hr style="margin-top: -10px; margin-left: 20px; width: 80%; align-self: center">
                    <ul style="margin-top: -5px" class="niveis-auxiliares">
                        <li id="auxiliar_de_monitoria_4" class="none">Nível 4:
                            <ul class="monitores"></ul>
                        </li>
                        <li id="auxiliar_de_monitoria_3" class="none">Nível 3:
                            <ul class="monitores"></ul>
                        </li>
                        <li id="auxiliar_de_monitoria_2" class="none">Nível 2:
                            <ul class="monitores"></ul>
                        </li>
                        <li id="auxiliar_de_monitoria_1" class="none">Nível 1:
                            <ul class="monitores"></ul>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/Moment.js' %}"></script>
    <script src="{% static 'js/Moment_timezone.js' %}"></script>
    <script src="{% static 'js/escalar_monitores.js' %}"></script>
    <script>
        const n_monitores = {{ n_monitores }}

        verificar_tecnica()
        verificar_escalados()
    </script>
{% endblock %}