{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> <!-- Styles da bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> <!-- Styles da bootstrap -->

    <div class="conteudo-escala" style="background-color: white">

        {% if coordenador_acampamento or coordenador_hotelaria %}
            <div id="selecionar_setor">
                <label>Setor</label>
                <select class="form-select" name="setor" id="setor" onchange="mostrar_calendario()">
                    <option value="hotelaria">Hotelaria</option>
                    <option value="acampamento">Acampamento</option>
                </select>
            </div>
        {% endif %}

        <div id="calendar" class="card" style="padding: 10px; background-color: transparent; border: none"></div>
          {% csrf_token %}
        <script src="{% static 'fullcalendar/main.js' %}"></script><!-- Script para o calendário da escala -->

        <script>
            $(document).ready(function (){
                mostrar_calendario()
            })

            function mostrar_calendario() {
                const calendarUI = document.getElementById('calendar');
                if ($('#setor').val() === 'hotelaria') {
                    $('#calendar').empty()
                    let calendario_hotelaria = new FullCalendar.Calendar(calendarUI, {

                        headerToolbar: {
                            left: '',
                            center: 'title',
                        },

                        eventOrderStrict: true,
                        locale: 'pt-br',
                        dayMaxEvents: 3,

                        {% if coordenador_hotelaria %}
                            navLinks: true,
                            navLinkDayClick: function (date, jsEvent) {
                                let dia = String(date.getDate()).padStart(2, '0')
                                let mes = String(date.getMonth() + 1).padStart(2, '0')
                                let ano = String(date.getFullYear())
                                let data = dia + '-' + mes + '-' + ano

                                window.location.href = `{{ setor }}/escalar/${data}`
                            },
                        {% endif %}

                        events: [
                            {% for escala in escalas_hotelaria %}
                                {% for monitor in escala.separar_monitores %}
                                    {
                                        title: "{{ forloop.counter }} {{ monitor.nome }}",
                                        start: "{{ escala.data | date:'Y-m-d' }}",

                                        {% if user == monitor.user %}
                                            color: '#f36d21',
                                            textColor: 'black'
                                        {% endif %}
                                    },
                                {% endfor %}
                            {% endfor %}
                        ]
                    });
                    calendario_hotelaria.render();
                    calendario_hotelaria.setOption('locale', 'pt-br')
                } else {
                    $('#calendar').empty()
                    let calendario_acampamento = new FullCalendar.Calendar(calendarUI, {

                        headerToolbar: {
                            left: '',
                            center: 'title',
                        },

                        eventOrderStrict: true,
                        locale: 'pt-br',
                        dayMaxEvents: 3,

                        {% if coordenador_acampamento %}
                            navLinks: true,
                            navLinkDayClick: function (date, jsEvent) {
                                let dia = String(date.getDate()).padStart(2, '0')
                                let mes = String(date.getMonth() + 1).padStart(2, '0')
                                let ano = String(date.getFullYear())
                                let data = dia + '-' + mes + '-' + ano

                                window.location.href = `${$('#setor').val()}/escalar/${data}`
                            },
                        {% endif %}

                        events: [
                            {% for escala in escalas_acampamento %}
                                {
                                    title: "{{ escala.cliente }}",
                                    start: "{{ escala.check_in_cliente | date:'Y-m-d H:i' }}",
                                    end: "{{ escala.check_out_cliente | date:'Y-m-d H:i' }}",
                                },
                            {% endfor %}
                        ],

                        eventColor: '#f36d21',

                        eventClick: function(info) {
                            let cliente = info.event.title
                            let check_in_evento = moment(info.event.start).format('yyyy-MM-DDTHH:mm')
                            let check_out_evento = moment(info.event.end).format('yyyy-MM-DDTHH:mm')

                            $('#cliente_modal').val(cliente)
                            $('#titulo_modal').text('Escala para o evento de ' + cliente)
                            $('#check_in_evento_modal').val(check_in_evento)
                            $('#check_out_evento_modal').val(check_out_evento)

                            $.ajax({
                                type: 'POST',
                                url: '',
                                headers: {"X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()},
                                data: {'cliente': cliente, 'check_in_evento': check_in_evento, 'check_out_evento': check_out_evento},
                                success: function(response) {
                                    $('#monitores_escalados_modal ul').empty()

                                    for(let monitor in response['escalados']){
                                        if(response['escalados'][monitor]['coordenador']){
                                            $('#monitores_escalados_modal ul').append(`<li style="width: 50%; color: #f36d21">${response['escalados'][monitor]['nome']}</li>`)
                                        }else{
                                            $('#monitores_escalados_modal ul').append(`<li style="width: 50%">${response['escalados'][monitor]['nome']}</li>`)
                                        }
                                    }

                                }
                            })

                            $('#ModalEscalaEvento').modal('show');
                        }

                    });
                    calendario_acampamento.render();
                    calendario_acampamento.setOption('locale', 'pt-br')
                }
            }

            function redirecionar_edicao(){
                window.location.href = '/escala/acampamento/editar/evento/' + $('#cliente_modal').val() + '/' + moment($('#check_in_evento_modal').val()).format('DD-MM-yyyy')
            }
        </script>
        <script src="{% static 'js/Moment.js' %}"></script>
    </div>

    <div class="modal fade" id="ModalEscalaEvento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titulo_modal"></h5>
                    <button class="btn btn-close" data-dismiss="modal" ></button>
                </div>
                <div class="modal-body">
                    <h5 class="titulo-secao">Dados evento</h5>
                    <div>
                        <label for="cliente_modal">Cliente</label>
                        <input class="form-control" type="text" id="cliente_modal" disabled>
                        <input type="hidden" id="id_cliente_modal">
                    </div>
                    <div class="row">
                        <div style="width: 50%">
                            <label for="check_in_evento_modal">Check in</label>
                            <input class="form-control" type="datetime-local" id="check_in_evento_modal" disabled>
                        </div>
                        <div style="width: 50%">
                            <label for="check_out_evento_modal">Check out</label>
                            <input class="form-control" type="datetime-local" id="check_out_evento_modal" disabled>
                        </div>
                    </div>
                    <hr>
                    <h5 class="titulo-secao">Monitores escalados</h5>
                    <div class="row">
                        <div id="monitores_escalados_modal" style="max-height: 100px; overflow-y: auto"><ul class="row"></ul></div>
                    </div>
                </div>
                <div class="modal-footer">
                    {% if coordenador_acampamento %}
                        <button type="button" class="btn btn-primary" onclick="redirecionar_edicao()">Editar</button>
                    {% endif %}
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Voltar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

