{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> <!-- Styles da bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> <!-- Styles da bootstrap -->

    <div class="conteudo-escala" style="background-color: white">

        {% if coordenador_acampamento or coordenador_hotelaria %}
            <div id="selecionar_setor">
                <label>Setor</label>
                <select class="form-select" name="setor" id="setor" onchange="mostrar_calendario()">
                    <option value="hotelaria">Hotelaria</option>
                    <option value="acampamento">Acampamento</option>
                </select>
            </div>
        {% endif %}

        <div id="calendar" class="card" style="padding: 10px; background-color: transparent; border: none"></div>
        {% csrf_token %}
        <script src="{% static 'fullcalendar/main.js' %}"></script><!-- Script para o calendário da escala -->

        <script>
            $(document).ready(function () {
                mostrar_calendario()
            })

            function mostrar_calendario() {
                const calendarUI = document.getElementById('calendar');
                if ($('#setor').val() === 'hotelaria') {
                    $('#calendar').empty()
                    let calendario_hotelaria = new FullCalendar.Calendar(calendarUI, {

                        headerToolbar: {
                            left: '',
                            center: 'title',
                        },

                        eventOrderStrict: true,
                        locale: 'pt-br',
                        dayMaxEvents: 3,

                        {% if coordenador_hotelaria %}
                            navLinks: true,
                            navLinkDayClick: function (date, jsEvent) {
                                let dia = String(date.getDate()).padStart(2, '0')
                                let mes = String(date.getMonth() + 1).padStart(2, '0')
                                let ano = String(date.getFullYear())
                                let data = dia + '-' + mes + '-' + ano

                                window.location.href = `${$('#setor').val()}/escalar/${data}`
                            },
                        {% endif %}

                        events: [
                            {% for escala in escalas_hotelaria %}
                                {% for monitor in escala.separar_monitores %}
                                    {
                                        title: "{{ forloop.counter }} {{ monitor.nome|safe }}",
                                        start: "{{ escala.data | date:'Y-m-d' }}",

                                        {% if user == monitor.user %}
                                            color: '#f36d21',
                                            textColor: 'black'
                                        {% endif %}
                                    },
                                {% endfor %}
                            {% endfor %}
                        ]
                    });
                    calendario_hotelaria.render();
                    calendario_hotelaria.setOption('locale', 'pt-br')
                } else {
                    $('#calendar').empty()
                    let calendario_acampamento = new FullCalendar.Calendar(calendarUI, {

                        headerToolbar: {
                            left: '',
                            center: 'title',
                        },

                        eventOrderStrict: true,
                        locale: 'pt-br',
                        dayMaxEvents: 3,

                        {% if coordenador_acampamento %}
                            navLinks: true,
                            navLinkDayClick: function (date, jsEvent) {
                                let dia = String(date.getDate()).padStart(2, '0')
                                let mes = String(date.getMonth() + 1).padStart(2, '0')
                                let ano = String(date.getFullYear())
                                let data = dia + '-' + mes + '-' + ano

                                window.location.href = `${$('#setor').val()}/escalar/${data}`
                            },
                        {% endif %}

                        events: [
                            {% for escala in escalas_acampamento %}
                                {
                                    title: {% if coordenador_acampamento or coordenador_hotelaria %}
                                        "{{ escala.cliente|safe }}"
                                    {% else %}
                                        "{{ escala.tipo_escala|safe }}"
                                    {% endif %},
                                    start: "{{ escala.check_in_cliente | date:'Y-m-d H:i' }}",
                                    end: "{{ escala.check_out_cliente | date:'Y-m-d H:i' }}",
                                    extendedProps: {
                                        "id_escala":{{ escala.id }},
                                    },
                                    {% if not coordenador_acampamento and not coordenador_hotelaria and escala.tipo_escala == 'Colégio' %}
                                        color: '#FF8C00',
                                    {% endif %}

                                    {% if not coordenador_acampamento and not coordenador_hotelaria and escala.tipo_escala == 'Corporativo' %}
                                        color: '#fcc607',
                                    {% endif %}
                                },
                            {% endfor %}

                            {% if not coordenador_hotelaria and not coordenador_acampamento %}
                                {% for escala in escalas_hotelaria %}
                                    {
                                        title: 'Hotelaria',
                                        start: "{{ escala.data | date:'Y-m-d' }}",
                                        extendedProps: {
                                            "id_escala":{{ escala.id }},
                                        },
                                    },
                                {% endfor %}
                            {% endif %}
                        ],

                        {% if coordenador_acampamento or coordenador_hotelaria %}
                            eventColor: '#f36d21',
                        {% endif %}

                        {% if coordenador_acampamento %}
                            eventClick: function (info) {
                                const cliente = info.event.title
                                const id_escala = info.event.extendedProps['id_escala']
                                const check_in_evento = moment(info.event.start).format('yyyy-MM-DDTHH:mm')
                                const check_out_evento = moment(info.event.end).format('yyyy-MM-DDTHH:mm')

                                $('#monitores_escalados_modal ul, #monitores_escalados_embarque_modal ul, #enfermeiras_escaladas_modal ul').empty()
                                $('#div_embarque, #div_enfermeiras').addClass('none')
                                $('#cliente_modal').val(cliente)
                                $('#id_escala').val(id_escala)
                                $('#titulo_modal').text('Escala para o evento de ' + cliente)
                                $('#check_in_evento_modal').val(check_in_evento)
                                $('#check_out_evento_modal').val(check_out_evento)

                                $.ajax({
                                    type: 'POST',
                                    url: '',
                                    headers: {"X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()},
                                    data: {'id_escala': id_escala},
                                    success: function (response) {
                                        for (let monitor of response['escalados']['acampamento']) {
                                            if (monitor['coordenador']) {
                                                $('#monitores_escalados_modal ul').append(`<li style="width: 50%; color: #f36d21">${monitor['nome']}</li>`)
                                            } else {
                                                $('#monitores_escalados_modal ul').append(`<li style="width: 50%">${monitor['nome']}</li>`)
                                            }
                                        }

                                        if (response['escalados']['embarque'].length > 0) {
                                            for (let monitor of response['escalados']['embarque']) {
                                                $('#div_embarque').removeClass('none')

                                                if (monitor['coordenador']) {
                                                    $('#monitores_escalados_embarque_modal ul').append(`<li style="color: #f36d21">${monitor['nome']}</li>`)
                                                } else {
                                                    $('#monitores_escalados_embarque_modal ul').append(`<li>${monitor['nome']}</li>`)
                                                }
                                            }
                                        }

                                        if (response['escalados']['enfermeiras'].length > 0) {
                                            $('#div_enfermeiras').removeClass('none')

                                            for (let enfermeira of response['escalados']['enfermeiras']) {
                                                $('#enfermeiras_escaladas_modal ul').append(`<li>${enfermeira['nome']}</li>`)
                                            }
                                        }

                                        $('#id_cliente_modal').val(response['id_cliente'])

                                    }
                                })

                                $('#ModalEscalaEvento').modal('show');
                            }
                        {% endif %}
                    });
                    calendario_acampamento.render();
                    calendario_acampamento.setOption('locale', 'pt-br')
                }
            }

            function redirecionar_edicao() {
                window.location.href = `/escala/peraltas/acampamento/escalar/${moment($('#check_in_evento_modal').val()).format('DD-MM-yyyy')}/${$('#id_cliente_modal').val()}`
            }
        </script>
        <script src="{% static 'js/Moment.js' %}"></script>
        {% if not coordenador_hotelaria and not coordenador_acampamento %}
            <div class="legenda row">
                <div class="colegio" style="display: flex; width: 300px">
                    <div class="cor"></div>
                    <p style="margin-top: 10px"> - Colégio</p>
                </div>
                <div class="empresa" style="display: flex; width: 300px">
                    <div class="cor"></div>
                    <p style="margin-top: 10px"> - Empresa</p>
                </div>
                <div class="hotelaria" style="display: flex; width: 300px">
                    <div class="cor"></div>
                    <p style="margin-top: 10px"> - Hotelaria</p>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="modal fade" id="ModalEscalaEvento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titulo_modal"></h5>
                    <button class="btn btn-close" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <h5 class="titulo-secao">Dados evento</h5>
                    <div>
                        <label for="cliente_modal">Cliente</label>
                        <input class="form-control" type="text" id="cliente_modal" disabled>
                        <input type="hidden" id="id_cliente_modal">
                    </div>
                    <div class="row">
                        <div style="width: 50%">
                            <label for="check_in_evento_modal">Check in</label>
                            <input class="form-control" type="datetime-local" id="check_in_evento_modal" readonly>
                        </div>
                        <div style="width: 50%">
                            <label for="check_out_evento_modal">Check out</label>
                            <input class="form-control" type="datetime-local" id="check_out_evento_modal" readonly>
                        </div>
                    </div>
                    <hr>
                    <h5 class="titulo-secao">Monitores escalados</h5>
                    <div class="row">
                        <div>
                            <label><b>Acampamento</b></label>
                            <div id="monitores_escalados_modal"
                                 style="max-height: 200px; overflow-y: auto; overflow-x: hidden">
                                <ul class="row"></ul>
                            </div>
                        </div>
                        <div class="barra"></div>
                        <div id="div_embarque" class="none" style="width: 50%">
                            <label><b>Embarque</b></label>
                            <div id="monitores_escalados_embarque_modal"
                                 style="max-height: 200px; overflow-y: auto; overflow-x: hidden">
                                <ul></ul>
                            </div>
                        </div>
                        <div id="div_enfermeiras" style="width: 50%" class="none">
                            <label><b>Enfermeiras</b></label>
                            <div id="enfermeiras_escaladas_modal"
                                 style="max-height: 200px; overflow-y: auto; overflow-x: hidden">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    {% if coordenador_acampamento %}
                        <button type="button" class="btn btn-primary" onclick="redirecionar_edicao()">Editar</button>

                        <form action="{% url 'escalaPeraltas' %}" method="POST">
                            <fieldset>
                                {% csrf_token %}
                                <input type="hidden" name="id_escala" id="id_escala">
                                <button type="submit" class="btn btn-danger">Excluir</button>
                            </fieldset>
                        </form>
                    {% endif %}
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Voltar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

