{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
    <div class="conteudo-escalar-monitores">
        <div class="escalar_monitores">
            <div class="titulo-conteudo-escalar-monitores">
                <center>
                    <h2>Escalar monitores</h2>
                </center>
            </div>
            <hr>
            {% csrf_token %}
            {% if setor == 'acampamento' %}
                <form id="form_evento" action="{% url 'escalar_monitores' setor data|date:'d-m-Y' %}" method="get">
                    <div class="mb-2">
                        <h5 class="titulo-secao">Eventos para {{ data }}</h5>
                        <label for="cliente">Cliente</label>
                        {% if clientes_dia %}
                            <select class="form-select" name="cliente" id="cliente" required>
                                <option selected></option>
                                {% for cliente in clientes_dia %}
                                    <option value="{{ cliente.id }}" {% if id_cliente == cliente.id %} selected {% endif %}>{{ cliente.nome_fantasia }}</option>
                                {% endfor %}
                            </select>
                        {% else %}
                            <input type="text" value="{{ cliente }}" name="nome_cliente" id="nome_cliente" readonly>
                            <input type="hidden" value="{{ id_cliente }}" name="cliente" id="cliente" readonly>
                        {% endif %}
                    </div>
                    <div class="row mb-3">
                        <div style="width: 50%">
                            <label for="check_in">Check in</label>
                            <input type="datetime-local" id="check_in" {% if inicio %} value="{{ inicio }}" {% endif %} readonly>
                        </div>
                        <div style="width: 50%">
                            <label for="check_out">Check out</label>
                            <input type="datetime-local" id="check_out" {% if final %} value="{{ final }}" {% endif %} readonly>
                        </div>
                    </div>
                    {% if not id_cliente %}
                        <button type="submit" class="btn btn-primary">Procurar disponibilidade</button>
                    {% endif %}
                    <hr class="escalar">
                </form>
            {% endif %}
            {% if biologo or enfermaria > 1 or embarque %}
                <div id="obrigatoriedades">
                    <h5 class="titulo-secao">Dados importantes</h5>
                    <ul>
                        {% if biologo %}
                            <li class="biologo_1">Ao menos 1 biologo</li>
                        {% endif %}

                        {% if embarque %}
                            <li class="embarque_1">Ao menos um monitor para embarque</li>
                        {% endif %}

                        {% if enfermaria == 2 %}
                            <li class="enfermeira_2">Enfermeira das 8h às 22h, necessário 2 enfermeiras</li>
                        {% endif %}

                        {% if enfermaria == 3 %}
                            <li class="enfermeira_3">Enfermeira das 08h às 8h, necessário 3 enfermeiras</li>
                        {% endif %}
                    </ul>
                </div>
                <hr>
            {% endif %}
            <div class="row mb-1">
                <h5 class="titulo-secao">Monitores disponiveis</h5>
                {% if setor == 'acampamento' and enfermaria > 1 %}
                    <div id="enfermeiras">
                        <label for="monitores_hotelaria">Enfermeiras</label>
                        <div id="enfermeiras" class="monitores_disponiveis espacos" ondrop="escalado(this)">
                            {% for disponivel in disponiveis %}
                                {% if disponivel.setor == 'hotelaria' %}
                                    <div id="{{ disponivel.id }}" class="card-monitor {{ disponivel.setor }} {% if disponivel.tecnica %} tecnica{% endif %} {{ disponivel.areas }} {{ disponivel.biologo }}" draggable="true">{{ disponivel.nome }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div id="hotelaria" style="width: 50%">
                    <label for="monitores_hotelaria">Para a hotelaria</label>
                    <div id="monitores_hotelaria" class="monitores_disponiveis espacos" ondrop="escalado(this)">
                        {% for disponivel in disponiveis %}
                            {% if 'hotelaria' in disponivel.setor %}
                                <div id="{{ disponivel.id }}" class="card-monitor {{ disponivel.setor }} {% if disponivel.tecnica %} tecnica{% endif %} {{ disponivel.areas }} {{ disponivel.biologo }}" draggable="true">{{ disponivel.nome }}</div>
                            {% endif %} 
                        {% endfor %}
                    </div>
                </div>
                <div id="acampamento" style="width: 50%">
                    <label for="monitores_acampamento">Para o acampamento</label>
                    <div id="monitores_acampamento" class="monitores_disponiveis espacos" ondrop="escalado(this)">
                        {% for disponivel in disponiveis %}
                            {% if 'acampamento' in disponivel.setor %}
                                <div id="{{ disponivel.id }}" class="card-monitor {{ disponivel.setor }} {% if disponivel.tecnica %}tecnica{% endif %} {{ disponivel.areas }} {% if setor == 'acampamento' %} {{ disponivel.biologo }} {% endif %}"  draggable="true">{{ disponivel.nome }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="legenda" style="display: flex">
                <div class="tecnica">Técnica</div>
                {% if setor == 'acampamento' %}
                    <div class="biologo">Biologo</div>
                {% endif %}
            </div>
            <hr>
            <div class="row mb-2 escalados" id="escalar">
                {% if setor == 'acampamento' %}
                    <h5 class="titulo-secao">Escalados para o evento</h5>
                {% else %}
                    <h5 class="titulo-secao">Escalados para a {{ setor }}</h5>
                {% endif %}
                <div class="mb-2" id="div_monitores_escalados">
                    <label>Monitores</label>
                    <div class="monitores_escalados espacos" id="monitores_escalados" style="display: flex; flex-wrap: wrap" ondrop="escalado(this)">
                        {% if escalados %}
                            {% for escalado in escalados %}
                                {% if setor in escalado.tipo_escalacao %}
                                    <div id="{{ escalado.id }}" class="card-monitor {{ escalado.setor }} {% if escalado.tecnica %}tecnica{% endif %} {{ escalado.areas }} {{ escalado.biologo }}" draggable="true">{{ escalado.nome }}</div>
                                {% endif %} 
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {% if setor == 'acampamento' %}
                    <div style="width: 50%">
                        <label>Monitor embarque</label>
                        <div class="monitores_escalados espacos" id="monitor_embarque" ondrop="escalado(this)">
                            {% if escalados %}
                                {% for escalado in escalados %}
                                    {% if 'embarque' in escalado.tipo_escalacao %}
                                        <div id="{{ escalado.id }}" class="card-monitor {{ escalado.setor }} {% if escalado.tecnica %}tecnica{% endif %} {{ escalado.areas }} {{ escalado.biologo }}" draggable="true">{{ escalado.nome }}</div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div style="width: 50%">
                        <label>Enfermeira</label>
                        <div class="monitores_escalados espacos" id="enfermagem" ondrop="escalado(this)">
                            {% if escalados %}
                                {% for escalado in escalados %}
                                    {% if 'enfermeira' in escalado.tipo_escalacao %}
                                        <div id="{{ escalado.id }}" class="card-monitor {{ escalado.setor }} {% if escalado.tecnica %}tecnica{% endif %} {{ escalado.areas }} {{ escalado.biologo }}" draggable="true">{{ escalado.nome }}</div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                <input id="escala_editada" type="hidden" value="{{ id_escala }}">
            </div>
            <div class="botoes">
                <button type="button" class="btn btn-primary" {% if id_cliente %} onclick="salvar_monitores_escalados(this, true)" {% else %} onclick="salvar_monitores_escalados(this)" {% endif %}>Salvar</button>
            </div>
            <div id="disponibilidade_duplicada" class="none">
                {% if escalados %}
                    {% for escalado in escalados %}
                        {% if escalado.setor == 'acampamento hotelaria' or escalado.setor == 'hotelaria acampamento' %}
                            <div id="{{ escalado.id }}" class="card-monitor {{ escalado.setor }} {% if escalado.tecnica %}tecnica{% endif %} {{ escalado.areas }} {{ escalado.biologo }}" draggable="true">{{ escalado.nome }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% comment %}<div class="dados-monitores none">
            <h5 style="text-align: center; padding: 0">Dados dos monitores</h5>
            <div class="conteudo">
                <div class="coordenador none">
                    <p><i>Coordenadores:</i></p>
                    <hr style="margin-top: -10px; margin-left: 20px; width: 80%; align-self: center">
                    <ul style="margin-top: -5px" class="niveis-coordenadores">
                        <li id="coordenador_3" class="none">Nível 3:
                            <ul class="monitores"></ul>
                        </li>
                        <li id="coordenador_2" class="none">Nível 2:
                            <ul class="monitores"></ul>
                        </li>
                        <li id="coordenador_1" class="none">Nível 1:
                            <ul class="monitores"></ul>
                        </li>
                    </ul>
                </div>
                <div class="monitor none">
                    <p><i>Monitores:</i></p>
                    <hr style="margin-top: -10px; margin-left: 20px; width: 80%; align-self: center">
                    <ul style="margin-top: -5px" class="niveis-monitores">
                        <li id="monitor_5" class="none">Nível 5:
                            <ul class="monitores"></ul>
                        </li>
                        <li id="monitor_4" class="none">Nível 4:
                            <ul class="monitores"></ul>
                        </li>
                        <li id="monitor_3" class="none">Nível 3:
                            <ul class="monitores"></ul>
                        </li>
                        <li id="monitor_2" class="none">Nível 2:
                            <ul class="monitores"></ul>
                        </li>
                        <li id="monitor_1" class="none">Nível 1:
                            <ul class="monitores"></ul>
                        </li>
                    </ul>
                </div>
                <div class="auxiliar none">
                    <p><i>Auxiliares:</i></p>
                    <hr style="margin-top: -10px; margin-left: 20px; width: 80%; align-self: center">
                    <ul style="margin-top: -5px" class="niveis-auxiliares">
                        <li id="auxiliar_de_monitoria_4" class="none">Nível 4:
                            <ul class="monitores"></ul>
                        </li>
                        <li id="auxiliar_de_monitoria_3" class="none">Nível 3:
                            <ul class="monitores"></ul>
                        </li>
                        <li id="auxiliar_de_monitoria_2" class="none">Nível 2:
                            <ul class="monitores"></ul>
                        </li>
                        <li id="auxiliar_de_monitoria_1" class="none">Nível 1:
                            <ul class="monitores"></ul>
                        </li>
                    </ul>

                </div>
            </div>
        </div>{% endcomment %}
    </div>
    <script src="{% static 'js/Moment.js' %}"></script>
    <script src="{% static 'js/Moment_timezone.js' %}"></script>
    <script src="{% static 'js/escalar_monitores.js' %}"></script>
    <script>
        verificar_tecnica()
        verificar_escalados()
    </script>
{% endblock %}