{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
    <link rel="stylesheet" href="{% static 'css/cadastro_ficha.css' %}"> <!-- Estilização da parte das Ficha de evento -->
    <link rel="stylesheet" href="{% static 'css/MultiSelect.css' %}"> <!-- Estilização da parte das Ficha de evento -->
    <div class="row ver-conteudo-ficha">
        <div class="titulo-os" align="center">
            <h2>Ficha de Evento</h2>
            <hr>
        </div>
        <form action='' method="POST">
            <fieldset id="form_ficha" disabled="disabled">
                {% csrf_token %}
                <script src="{% static 'js/scripts_ficha_de_evento.js' %}"></script>
                <script src="{% static 'js/scripts_cliente.js' %}"></script>
                <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
                <script src="{% static 'js/Moment.js' %}"></script>
                <script src="{% static 'js/Moment_timezone.js' %}"></script>
                <script>
                    setTimeout(() => {
                        teste()
                        completar_visualizacao_ficha({{ form.id }})
                    }, 100)
                </script>
                <div class="row">
                    <div class="row" style="width: 55%; margin-right: -15px">
                        <label>Cliente</label>
                        <input type="text" id="cliente" readonly onclick="pegarCliente()" required>
                        {{ form.cliente.as_hidden }}
                    </div>
                    <div style="width: 5%; align-items:end; display: flex; margin-right: 5%;">
                        <a href="{% url 'lista_cliente' %}" onclick="encaminhamento()" target="_blank"><i class='bx bx-search'></i></a>
                    </div>
                    <div style="width: 30%; margin-right: -15px">
                        <label>Responsavel</label>
                        <input type="text" id="responsavel" name="responsavel" onclick="pegarResponsavel()" readonly required>
                        {{ form.responsavel_evento.as_hidden }}
                    </div>
                    <div style="width: 5%; align-items:end; display: flex">
                        <a class="none search"  href="{% url 'lista_responsaveis' %}" target="_blank" ><i class='bx bx-search'></i></a>
                    </div>
                </div>
                <hr>
                <div class="row produtos-peraltas checkbox form-group" style="width: 100%" onchange="teste()">
                    <h5 class="titulo-secao">Produto Peraltas</h5>
                    {{ form.produto }}
                    <div class="mt-2 outro-produto none" style="width: 50%" onchange="verQuantidades(this)">
                        <label>Qual?</label>
                        {{ form.outro_produto }}
                    </div>
                </div>

                <hr>
                <div class="row mb-2">
                    <h5 class="titulo-secao">Período de viagem</h5>
                    <div style="width: 35%">
                        <label>Check in</label>
                        {{ form.check_in }}
                    </div>
                    <div style="width: 35%">
                        <label>Check out</label>
                        {{ form.check_out }}
                    </div>
                </div>
                <hr>
                <div class="row mb-2">
                    <h5 class="titulo-secao">Quantidades</h5>
                    <div style="width: 16%">
                        <label>QTD convidada</label>
                        {{ form.qtd_convidada }}
                    </div>
                    <div style="width: 16%">
                        <label>QTD reservada</label>
                        {{ form.qtd_confirmada }}
                    </div>
                    <div class="alunos-pernoite none" style="width: 15%">
                        <label>QTD meninas</label>
                        {{ form.qtd_meninas }}
                    </div>
                    <div class="alunos-pernoite none" style="width: 15%">
                        <label>QTD meninos</label>
                        {{ form.qtd_meninos }}
                    </div>
                    <div class="corporativo none" style="width: 15%;">
                        <label>QTD homens</label>
                        {{ form.qtd_homens }}
                    </div>
                    <div class="corporativo none" style="width: 15%">
                        <label>QTD mulheres</label>
                        {{ form.qtd_mulheres }}
                    </div>
                </div>
                <div class="row professores none">
                    <div style="width: 16%">
                        <label>QTD professores</label>
                        {{ form.qtd_professores }}
                    </div>
                    <div class="professores-pernoite none" style="width: 15%">
                        <label>QTD homens</label>
                        {{ form.qtd_profs_homens }}
                    </div>
                    <div class="professores-pernoite none" style="width: 15%">
                        <label>QTD mulheres</label>
                        {{ form.qtd_profs_mulheres }}
                    </div>
                    <div class="mt-2 professores-pernoite none">
                        {{ form.professores_com_alunos }}
                        <label class="my-1">Professores dormirão com os alunos?</label>
                    </div>
                </div>
                <hr>
                <div class="row perfil-participantes-ver-ficha" style="width: 100%">
                    <h5 class="titulo-secao">Perfil dos participantes</h5>
                    <div class="row perfil checkbox">
                        {{ form.perfil_participantes }}
                        <script>$('#id_perfil_participantes').removeClass('form-check-input')</script>
                    </div>
                </div>
                <hr class="perfil-participantes-ver-ficha">
                <div>
                    <h5 class="titulo-secao">Refeições</h5>
                    <table class="table">
                        <thead>
                            <td style="width: 5px">Data</td>
                            <td style="width: 5px"><small>Café</small></td>
                            <td style="width: 5px"><small>Coffe manhã</small></td>
                            <td style="width: 5px"><small>Almoço</small></td>
                            <td style="width: 5px"><small>Lanche tarde</small></td>
                            <td style="width: 5px"><small>Coffe tarde</small></td>
                            <td style="width: 5px"><small>Jantar</small></td>
                            <td style="width: 5px"><small>Lanche noite</small></td>
                            <td style="width: 2px"><small></small></td>
                        </thead>
                        <tbody id="corpo-tabela-refeicao"></tbody>
                    </table>
                    <button class="buton-plus" type="button" onclick="add_refeicao()" style="margin-left: 5px; margin-top: -15px">
                        <span><i class='bx bxs-plus-circle'></i></span>
                    </button>
                    <div class="form-group form-check form-switch mb-3 mt-3">
                        <input type="checkbox" class="form-check-input switch" onChange="obs()">
                        <label class="form-check-label">Observações</label>
                    </div>
                    <div id="observacoes_refeicoes" class="none">
                        <label>Observações</label>
                        {{ form.observacoes_refeicoes }}
                    </div>
                </div>
                <hr>
                <div id="ceu" class="row">
                    <h5 class="titulo-secao none">CEU</h5>
                    <div id="atividades_ceu_ver_ficha" class="none" style="width: 40%">
                        <label>Atividades</label>
                        {{ form.atividades_ceu }}
                        <script src="{% static 'js/MultiSelect.js' %}"></script>
                        <script>
                            $(document).ready(function () {
                                $("#id_atividades_ceu").CreateMultiCheckBox({ width: '250px',
                                    defaultText : 'Selecione as atividades', height:'250px' });
                            });
                        </script>
                    </div>
                    <div id="locacoes_ceu_ver_ficha" class="none" style="width: 40%">
                        <label>Locações</label>
                        {{ form.locacoes_ceu }}
                        <script>
                            $(document).ready(function () {
                                $("#id_locacoes_ceu").CreateMultiCheckBox({ width: '250px',
                                    defaultText : 'Selecione o local', height:'250px' });
                            });
                        </script>
                    </div>
                </div>
                <hr class="ceu none">
                <div id="atividades_peraltas_ficha" class="row peraltas">
                    <h5 class="titulo-secao none">Peraltas</h5>
                    <div id="atividades_eco_ver_ficha" class="none" style="width: 40%">
                        <label>Ecoturismo</label>
                        {{ form.atividades_eco }}
                        <script>
                            $(document).ready(function () {
                              $("#id_atividades_eco").CreateMultiCheckBox({ width: '250px',
                                 defaultText : 'Selecione as atividades', height:'250px' });
                            });
                        </script>
                    </div>
                    <div id="atividades_peraltas_ver_ficha" class="none" style="width: 40%">
                        <label>Acampamento</label>
                        {{ form.atividades_peraltas }}
                        <script>
                            $(document).ready(function () {
                                $("#id_atividades_peraltas").CreateMultiCheckBox({ width: '250px',
                                    defaultText : 'Selecione as atividades', height:'250px' });
                            });
                        </script>
                    </div>
                </div>
                <hr class="peraltas none">
                <div class="form-check">
                    <input class="form-check-input info" type="checkbox" value="" id="info_adicionais_ok" name="info_adicionais_ok" disabled required>
                    <label class="my-1">Informações adicionais</label>
                    <button class="buton-plus" type="button" id="add_infos" data-toggle="modal" data-target="#modal-adicionais" onclick="pegarIdInfosAdicionais(editando=true)" style="margin-left: 5px; margin-top: -15px">
                        <span><i class='bx bxs-plus-circle'></i></span>
                    </button>
                </div>
                {{ form.informacoes_adcionais.as_hidden }}
                <hr>
                <div class="form-check">
                    <input class="form-check-input info" type="checkbox" value="" id="codigos_app_ok" name="codigos_app_ok" disabled>
                    <label class="my-1">Códigos APP</label>
                    <button class="buton-plus" type="button" id="add_infos" data-toggle="modal" data-target="#modal_codigos_app" onclick="pegarIdCodigosApp()" style="margin-left: 5px; margin-top: -15px">
                        <span><i class='bx bxs-plus-circle'></i></span>
                    </button>
                </div>
                {{ form.codigos_app.as_hidden }}
                <hr class="observacoes-ver-ficha">
                <div class="mb-3 row observacoes-ver-ficha">
                    <h5 class="titulo-secao">Observações</h5>
                    {{ form.observacoes }}
                </div>
                {{ form.vendedora.as_hidden }}
                {{ form.empresa.as_hidden }}
            </fieldset>
            {% if comercial or operacional %}
                <div class="botoes">
                    <button id="salvar" type="submit" class="btn btn-primary ml-5" disabled>Salvar</button>
                    <button type="button" class="btn btn-primary ml-5" onclick="edita_ficha()">Editar</button>
                    <button id="excluir" type="button" class="btn btn-danger ml-5" data-toggle="modal" data-target="#excluir_ficha_evento" disabled>Excluir</button>
                </div>
            {% endif %}
        </form>
    </div>

    <!------------------------------- Modais dos formulários adicionais e de códigos APP -------------->
    <form method="POST" action="{% url 'ficha_de_evento' %}" id="infos" enctype="multipart/form-data">
        <fieldset id="form_adicionais" disabled="disabled">
            {% csrf_token %}
            <!-- Modal -->
            <div class="modal fade" id="modal-adicionais" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Informações Adicionais</h5>
                    <button type="button" class="x-fechar-modal" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                        <h5 class="titulo-secao">Transporte</h5>
                        <input type="hidden" name="infos" value="adicionais">
                        <div class="checkbox" style="width: 20%">
                            {{ formAdicionais.transporte }}
                            <label>Transporte?</label>
                        </div>
                        <script>
                            setTimeout(() => {
                                pegarEndereco()
                            }, 1)
                        </script>
                    </div>
                    <div class="row mt-2">
                        <div class="checkbox none" style="width: 50%" id="viacao">
                            <label>Viação</label>
                            {{ formAdicionais.viacao }}
                        </div>
                        <div class="checkbox none" style="width: 25%" id="veiculo">
                            <label>Tipo veículos</label>
                            {{ formAdicionais.tipo_veiculo }}
                        </div>
                        <div class="row mt-2 none" id="dados_embarque">
                            <div style="width: 75%" id="endereco_embarque">
                                <label>Endereço de embarque</label>
                                {{ formAdicionais.endereco_embarque }}
                            </div>
                            <div style="width: 25%" id="horario_embarque">
                                <label for="id_hora_embarque">Horário</label>
                                {{ formAdicionais.hora_embarque }}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="checkbox">
                            {{ formAdicionais.etiquetas_embarque }}
                            <label>Etiquetas de embarque?</label>
                        </div>
                        <div class="mt-2 none" style="width: 30%" id="servico_de_bordo">
                            <label>Serviço de bordo</label>
                            {{ formAdicionais.servico_bordo }}
                        </div>
                    </div>
                    <script>
                        setTimeout(() => {
                            servicoBordo()
                        }, 1)
                    </script>
                    <hr>
                    <div class="checkbox" onchange="lista_segurados()">
                        {{ formAdicionais.seguro }}
                        <label>Seguro</label>

                        {% if formAdicionais.lista_de_segurados %}
                            <div id="arquivo_atual_lista">
                                <a id="baixar_lista" href="/media/{{ formAdicionais.lista_de_segurados }}">Lista de segurados</a>
                            </div>
                            <div id="arquivo_atual_lista_editar" class="none mb-2">
                                <label for="lista_atual_de_segurados">Lista atual de segurados: </label>
                                <a id="lista_atual_de_segurados" href="/media/{{ formAdicionais.lista_de_segurados }}">{{ formAdicionais.lista_de_segurados }}</a>
                            </div>
                        {% endif %}

                        {{ formAdicionais.lista_segurados }}
                        <style>
                            #id_lista_segurados{
                                width: 60%;
                                height: 10%;
                                margin-left: 5%;
                            }
                        </style>
                    </div>
                    <script>
                        setTimeout(() => {
                            lista_segurados(editando=true)
                        }, 1)
                    </script>
                    <hr>
                      <div class="row">
                        <h5 class="titulo-secao">Monitoria</h5>
                        <div class="mb-2" style="width: 60%">
                            <label>Tipo</label>
                            {{ formAdicionais.monitoria }}
                        </div>
                        <div class="checkbox" style="width: 40%; margin-top: 35px">
                            {{ formAdicionais.biologo }}
                            <label>Biólogo?</label>
                        </div>
                        <div id="biologo" class="mt-2 none" style="width: 50%">
                            <label>Em quais atividades</label>
                            {{ formAdicionais.quais_atividades }}
                            <script>
                                $(document).ready(function () {
                                  $("#id_quais_atividades").CreateMultiCheckBox({ width: '250px',
                                     defaultText : 'Selecione as atividades', height:'250px' });
                                });
                            </script>
                        </div>
                        <script>
                            setTimeout(() => {
                                quaisAtividades()
                            }, 1)
                        </script>
                      </div>
                    <hr>
                    <div class="row">
                        <h5 class="titulo-secao">Enfermaria</h5>
                        <div style="width: 30%">
                            <label>Tipo</label>
                            {{ formAdicionais.enfermaria }}
                        </div>
                        <div class="mb-2 none" style="width: 30%" id="horario">
                            <label>Horário</label>
                            {{ formAdicionais.horario_garantia }}
                        </div>
                    </div>
                    <hr>
                    <div id="opcionais_geral" class="row mb-2">
                        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
                        <h5 class="titulo-secao">Opcionais gerais</h5>
                        {{ formAdicionais.opcionais_geral }}
                        <button id="botao_add_opcionais_geral" type="button" onclick="adcionar_novo_op_geral()">
                            <i class='bx bx-plus' style="width: 5%; font-size: 25px"></i>
                        </button>
                        <div class="mt-2 row none" id="adcionar_opcional_geral">
                            <div style="width: 50%;">
                                <label for="nome_novo_op_geral">Novo opcional</label>
                                <input id="nome_novo_op_geral" type="text" class="form-control">
                            </div>
                            <div style="width: 50%; margin-top: 23px">
                                <button type="button" class="btn btn-outline-primary" onclick="salvar_novo_op_geral()">Salvar</button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="opcionais_formatura" class="row">
                        <h5 class="titulo-secao">Formatura</h5>
                        {{ formAdicionais.opcionais_formatura }}
                        <button id="botao_add_opcionais_formatura" type="button" onclick="adcionar_novo_op_formatura()">
                            <i class='bx bx-plus' style="width: 5%; font-size: 25px"></i>
                        </button>
                        <div class="mt-2 row none" id="adcionar_opcional_formatura">
                            <div style="width: 50%;">
                                <label for="nome_novo_op_formatura">Novo opcional</label>
                                <input id="nome_novo_op_formatura" type="text" class="form-control">
                            </div>
                            <div style="width: 50%; margin-top: 23px">
                                <button type="button" class="btn btn-outline-primary" onclick="salvar_novo_op_formatura()">Salvar</button>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary" id="salvar_infos">Salvar informações</button>
                  </div>
                </div>
              </div>
                <script>
                    $('#id_opcionais_geral, #id_opcionais_formatura').prop('disabled', true)
                </script>
            </div>
            <script>
                $(document).ready(function() {
                    $('#id_opcionais_geral').select2({
                        dropdownParent: $("#modal-adicionais")
                    });
                    $('#id_opcionais_formatura').select2({
                        dropdownParent: $("#modal-adicionais")
                    });
                });
            </script>
        </fieldset>
    </form>

    <form method="POST" action="" id="codigos_app">
        <fieldset id="form_app" disabled="disabled">
            {% csrf_token %}
            <!-- Modal para o cadastro dos códigos do APP -->
            <div class="modal fade" id="modal_codigos_app" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Códigos APP</h5>
                            <button type="button" class="x-fechar-modal" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body app">
                            <input type="hidden" name="infos" value="app">
                            <div class="row">
                                <div style="width: 25%">
                                    <label>Cliente PJ</label>
                                    {{ formApp.cliente_pj }}
                                </div>
                                <div style="width: 25%">
                                    <label>Cliente PF</label>
                                    {{ formApp.cliente_pf }}
                                </div>
                                <div style="width: 25%">
                                    <label>Evento</label>
                                    {{ formApp.evento }}
                                </div>
                                <div style="width: 25%">
                                    <label>Reserva</label>
                                    {{ formApp.reserva }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary">Savar</button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    <!--  Modal para excluir ficha de evento  -->
    <div class="modal fade" id="excluir_ficha_evento" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Tem certeza disso?</h5>
                            <button type="button" class="x-fechar-modal" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body app">
                            <p>Tem ceteza que deseja excluir a ficha de evento em questão?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary" name="excluir" value="Sim"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}