{% extends 'base.html' %}
{% load static %}
{% load custom_filter_tag %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
<!-------------------------------- LINHA 1 ---------------------------->
  <div class="row conteudo-publico">
    <div class="titulo-publico">
      <center>
        <h2>RELATÓRIO DE ATENDIMENTO DO PÚBLICO</h2>
      </center>
    </div>
    <hr>
    <form action="" method="POST">
        <fieldset id="formulario" disabled>
          {% csrf_token %}
          <div class="row">
              <input type="hidden" id="id_publico" value="{{ formulario.id }}">
            <div style="width: 20%" class="mb-3">
              <label>Coordenador</label>
                <select class="mr-sm-2" id="coordenador" name="coordenador" required>
                  {% for professor in professores %}
                    <option value="{{ professor.id }}" {% if professor.id == formulario.equipe.coordenador %} selected {% endif %}>{{ professor.usuario.get_full_name }}</option>
                  {% endfor %}
                </select>
            </div>
            <div style="width: 35%">
              <label class="participantes" style="margin-left: 80px">Participantes: </label>
              <div class="row">
                <div style="width: 40%">
                  {{ formulario.participantes_previa }}
                </div>
                <div style="width: 60%">
                  {{ formulario.participantes_confirmados }}
                </div>
              </div>
            </div>
            <div style="width: 26%">
              <label>Data do atendimento</label>
              {{ formulario.data_atendimento}}
            </div>
          </div>

          <!-------------------------------- LINHA 2 ---------------------------->
          <div class="row">
            <div style="width: 20%">
              <label>Professor 2: </label>
                <select class="mr-sm-2" id="professor_2" name="professor_2" required>
                  {% if not equipe.professor_2 %}
                      <option selected></option>
                  {% endif %}
                  {% for professor in professores %}
                    <option value="{{ professor.id }}" {% if professor.id == equipe.professor_2 %} selected {% endif %}>{{ professor.usuario.get_full_name }}</option>
                  {% endfor %}
                </select>
            </div>
            <div style="width: 20%">
              <label>Professor 3: </label>
                <select class="mr-sm-2" id="professor_3" name="professor_3">
                  {% if not equipe.professor_3 %}
                      <option selected></option>
                  {% endif %}
                  {% for professor in professores %}
                    <option value="{{ professor.id }}" {% if professor.id == equipe.professor_3 %} selected {% endif %}>{{ professor.usuario.get_full_name }}</option>
                  {% endfor %}
                </select>
            </div>
            <div style="width: 20%">
              <label>Professor 4: </label>
                <select class="mr-sm-2" id="professor_4" name="professor_4">
                  {% if not equipe.professor_4 %}
                      <option selected></option>
                  {% endif %}
                  {% for professor in professores %}
                    <option value="{{ professor.id }}" {% if professor.id == equipe.professor_4 %} selected {% endif %}>{{ professor.usuario.get_full_name }}</option>
                  {% endfor %}
                </select>
            </div>
            </div>
          <hr>
    <!-------------------------------- LINHA 3 ---------------------------->
        <table class="table table-striped table-sm" style="caption-side: top">
            <caption>Atividades realizadas no CEU:</caption>
            <thead>
                <tr>
                    <th style="width: 550px"><center>Nome dos professores</center></th>
                    <th style="width: 100px"><center>Início</center></th>
                    <th style="width: 250px"><center>Atividade</center></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="corpo_tabela_atividade_publico">
                {% for ativ in formulario.dados_atividades %}
                    <tr class="linhas" id="linha_{{ forloop.counter }}">
                        <td class="coluna_1" id="coluna_1_linha_{{ forloop.counter }}">
                            {% for j in rangej %}
                                <select class="professores" name="prf{{ j }}atv{{ forloop.parentloop.counter }}" id="prf{{ j }}atv{{ forloop.parentloop.counter }}" style="width: 23%" onchange="validacao(this)" {% if j < 2 %} required {% endif %}>
                                    {% if not formulario.id_professores|index:forloop.parentloop.counter0 %}
                                        <option selected></option>
                                    {% else %}
                                        <option></option>
                                    {% endif %}
                                    {% for professor in professores %}
                                        <option value="{{ professor.id }}" {% if professor.id == formulario.id_professores|index:forloop.parentloop.parentloop.counter0|index:forloop.parentloop.counter0 %} selected {% endif %}>{{ professor.usuario.get_full_name }}</option>
                                    {% endfor %}
                                </select>
                            {% endfor %}
                        </td>
                        <td class="coluna_2" id="coluna_2_linha_{{ forloop.counter }}">
                            <input class="horas" type="time" style="width: 100px" id="horaAtividade_{{ forloop.counter }}" name="horaAtividade_{{ forloop.counter }}" onchange="validarTabelaPublico()" value="{{ ativ.inicio }}">
                        </td>
                        <td class="coluna_3" id="coluna_3_linha_{{ forloop.counter }}">
                            <select class="atividades" style="width: 100%" name="ativ{{ forloop.counter }}" id="ativ{{ forloop.counter }}" onchange="validarTabelaPublico()">
                                {% if not atividader %}
                                    <option selected></option>
                                {% else %}
                                    <option></option>
                                {% endif %}
                                <option selected></option>
                                {% for atividade in atividades %}
                                    <option value="{{ atividade.id }}" {% if atividade.id == ativ.atividade %} selected {% endif %}>{{ atividade.atividade }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="coluna_4" id="coluna_4_linha_{{ forloop.counter }}">
                            <button type="button" id="btn_{{ forloop.counter }}" class="btn-close" style="height: 2px; width: 1px" onclick="remover_linha(this)"></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="buton-plus-" type="button" onclick="add_linha_atividade()">
            <span><i class='bx bxs-plus-circle'></i></span>
            <span class="text-black-50" style="font-size: 15px">Adcionar atividade</span>
        </button>
    <!-------------------------------- RELATÓRIO FINAL ---------------------------->
          <div>
            <label>Relatório do dia:</label>
            {{ formulario.relatorio }}
          </div>
        </fieldset>
        {% if editar %}
            <div>
                <button type="submit" class="btn btn-primary ml-5" id="salvar" disabled>Salvar</button>
                <button type="button" class="btn btn-primary ml-5" id="editar" onclick="edita()">Editar</button>
                <button type="button" class="btn btn-danger" id="excluir" data-toggle="modal" data-target="#modal-excuir">Excluir</button>
            </div>
        {% endif %}

        <div class="modal fade" id="modal-excuir" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Tem certeza disso?</h5>
                <button type="button" class="close x-fechar-modal" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Você tem certeza que deseja excluir o relatório em questão?
                {% csrf_token %}
              </div>
              <div class="modal-footer">
                <input type="submit" name="acao" value="Sim" style="background-color: #dc3545; color: white; width: 65px; display: flex; justify-content: center; padding: 2px">
                <button type="button" class="btn btn-primary">Não</button>
              </div>
            </div>
          </div>
        </div>
    </form>

    <script src="{% static 'js/script_base.js' %}"></script>
    <script src="{% static 'js/validacao.js' %}"></script>
    <script src="{% static 'js/scripts_publico.js' %}"></script>
  </div>

{% endblock %}


