{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
    <link rel="stylesheet" href="{% static 'css/MultiSelect.css' %}"> <!-- Estilização da parte das Ficha de evento -->
    <div id="ver_os" class="row conteudo-ver-os">
        <div class="titulo-os">
            <center>
                <h2>Ordem de serviço</h2>
            </center>
            <hr>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            <fieldset id="fieldset_form" disabled="disabled">
                {% csrf_token %}
                <script src="{% static 'js/scripts_ordem.js' %}"></script>
                <script src="{% static 'js/Moment.js' %}"></script>
                <script src="{% static 'js/Moment_timezone.js' %}"></script>
                <script src="{% static 'js/MultiSelect.js' %}"></script>
                <script>setTimeout(() => {
                    dadosVerOrdem()
                }, 100)</script>
                <input type="hidden" id="id_ordem" value="{{ form.id }}">
                <div class="row">
                    <h5 class="titulo-secao">Informações do grupo</h5>
                    {{ form.ficha_de_evento.as_hidden }}
                    {% if adm_peraltas %}
                        <a href="{% url 'verDocumento' 'ficha' id_ficha %}" style="margin-bottom: 5px">Ficha de evento</a>
                    {% endif %}
                    <div class="mb-2" style="width: 70%">
                        <label>Instituição</label>
                        {{ form.instituicao }}
                    </div>
                    <div style="width: 30%">
                        <label>Cidade</label>
                        {{ form.cidade }}
                    </div>
                    <div class="mb-2" style="width: 45%">
                        <label>Responsável do grupo</label>
                        {{ form.responsavel_grupo }}
                    </div>
                    <div style="width: 22%">
                        <label>Participantes</label>
                        {{ form.n_participantes }}
                    </div>
                    <div style="width: 25%">
                        <label>Tipo</label>
                        {{ form.tipo }}
                    </div>
                </div>
                <hr>
                {% if colegio %}
                    <div class="row colegios">
                        <div style="width: 45%">
                            <label>Série</label>
                            {{ form.serie }}
                        </div>
                        <div style="width: 20%">
                            <label>Professores</label>
                            {{ form.n_professores }}
                        </div>
                    </div>
                    <hr class="colegios">
                {% endif %}
                <div class="row mb-2">
                    <h5 class="titulo-secao">Informações internas</h5>
                    <div style="width: 39%">
                        <label>Check in</label>
                        {{ form.check_in }}
                    </div>
                    <div style="width: 39%">
                        <label>Check out</label>
                        {{ form.check_out }}
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div style="width: 35%">
                            <label>Vendedor(a)</label>
                            {{ form.vendedor }}
                        </div>
                        <div class="mb-2" style="width: 35%">
                            <label>Coordenador do grupo</label>
                            {{ form.monitor_responsavel }}
                        </div>
                        <div class="mb-2" style="width: 30%">
                            <label>Empresa</label>
                            {{ form.empresa }}
                        </div>
                    </div>
                </div>

                {% if atividades_eco %}
                    <hr class="p-atividades-eco">
                    <div class="p-atividades-eco">
                        <h5 class="titulo-secao">Atividades Ecoturismo</h5>
                        <p id="atividades_ecoturismo_os">{{ atividades_eco }}</p>
                    </div>
                {% endif %}

                <hr class="atividades_eco_os none">
                <div class="row atividades_eco_os none" style="width: 100%">
                    <div class="row">
                        <h5 class="titulo-secao">Atividades Ecoturismo</h5>
                        {{ form.atividades_eco }}
                        <script>
                            $(document).ready(function () {
                              $("#id_atividades_eco").CreateMultiCheckBox({ width: '250px',
                                 defaultText : 'Selecione as atividades', height:'250px' });
                            });
                        </script>
                    </div>
                </div>

                {% if atividades_peraltas %}
                    <hr class="p-atividades-peraltas">
                    <div class="p-atividades-peraltas">
                        <h5 class="titulo-secao">Atividades Peraltas</h5>
                        <p id="atividades_peraltas_os">{{ atividades_peraltas }}</p>
                    </div>
                {% endif %}
                <hr class="atividades_peraltas_os none">
                <div id="atividades_peraltas_os" class="row none atividades_peraltas_os">
                    <h5 class="titulo-secao">Atividades Peraltas</h5>
                    {{ form.atividades_peraltas }}
                    <script>
                        $(document).ready(function () {
                          $("#id_atividades_peraltas").CreateMultiCheckBox({ width: '250px',
                             defaultText : 'Selecione as atividades', height:'250px' });
                        });
                    </script>
                </div>
                <hr>
                <div class="atividade-ceu">
                    <h5 class="titulo-secao">Atividades no CEU</h5>
                    <div class="row atividades"></div>
                    <button class="buton-plus none" type="button" onclick="add_atividade()" style="margin-left: 0">
                        <span><i class='bx bxs-plus-circle'></i></span>
                    </button>
                    <hr style="margin-left: 3px">
                </div>
                <div class="center locacao-ceu">
                    <h5 class="titulo-secao">Locacoes no CEU</h5>
                    <div class="row locacoes"></div>
                    <button class="buton-plus none" type="button" onclick="add_locacao()" style="margin-left: 0">
                        <span><i class='bx bxs-plus-circle'></i></span>
                    </button>
                    <hr style="margin-left: 3px">
                </div>
                <div class="cronograma-cliente none">
                    <h5 class="titulo-secao">Cronograma do grupo</h5>
                    {{ form.cronograma_peraltas }}
                </div>
                {% if coordenador_grupo %}
                    <hr class="cronograma-cliente none" style="width: 100%">
                    <div class="cliente-cronograma">
                        <h5 class="titulo-secao">Cronograma do grupo</h5>
                    </div>
                    <hr class="cliente-cronograma">
                {% endif %}
                <hr class="observacoes">
                <div class="observacoes">
                    <div class="row mb-3">
                        <h5 class="titulo-secao">Observações</h5>
                        {{ form.observacoes }}
                    </div>
                </div>
            </fieldset>
            {% if adm_peraltas %}
                <div class="botoes">
                    <button type="submit" class="btn btn-primary ml-5 salvar" disabled>Salvar</button>
                    <button type="button" class="btn btn-primary ml-5" onclick="edita_os()">Editar</button>
                    <button type="button" class="btn btn-danger ml-5" id="excluir" data-toggle="modal" data-target="#modal-excuir" disabled>Excluir</button>
                </div>
            {% endif %}
            <div class="modal fade" id="modal-excuir" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="TituloModalCentralizado">Tem certeza disso?</h5>
                            <button type="button" class="close x-fechar-modal" data-dismiss="modal" aria-label="Fechar">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Você tem certeza que deseja excluir a ordem de serviço em questão?
                            {% csrf_token %}
                        </div>
                        <div class="modal-footer">
                            <input type="submit" name="acao" value="Sim" style="background-color: #dc3545; color: white; width: 65px; display: flex; justify-content: center; padding: 2px">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Fechar">Não</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>



{% endblock %}
