{% extends 'base.html' %}
{% load static %}
{#{% load pipes %}#}
{% include 'parciais/_head.html' %}

{% block conteudo %}

    <!-------------------------------- LINHA 1 ---------------------------->
    <div class="row conteudo-colegio">
        <div class="titulo-colegio" style="text-align: center">
            <h2>RELATÓRIO DE ATENDIMENTO DO COLÉGIO</h2>
        </div>
        <hr>
        <script src="{% static 'js/script_base.js' %}"></script>
        <script src="{% static 'js/scripts_colegio.js' %}"></script>
        <div>
            <div style="width: 66%">
                <form action="{% url 'colegio' %}" method="GET">
                    <fieldset>
                        <label for="colegio">Colégio</label>
                        <select class="select-control mr-sm-2" id="colegio" name="colegio"
                                onchange="this.form.submit()" required>
                            <option selected></option>
                            {% for ordem_bd in ordens %}
                                <option value="{{ ordem_bd.id }}" {% if ordem.id == ordem_bd.id %}
                                        selected {% endif %}>{{ ordem_bd.ficha_de_evento.cliente }}</option>
                            {% endfor %}
                        </select>
                    </fieldset>
                </form>
            </div>
            <hr>
        </div>
        <!------------------------------------------------------------------------------>
        {% if ordem %}
            <form action="{% url 'colegio' %}" method="POST">
                <fieldset id="relatorio">
                    {% csrf_token %}
                    <input type="hidden" name="instituicao" id="instituicao" value="{{ ordem.instituicao }}">
                    <input type="hidden" name="id_ordem" id="id_ordem" value="{{ ordem.id }}">
                    <h5 class="titulo-secao">Dados cliente</h5>
                    <div class="mb-2" style="display: flex; column-gap: 15px;">
                        <div style="width: 30%">
                            <label>Coordenador peraltas</label>
                            <select name="coordenador_peraltas" id="coordenador_peraltas" multiple>
                                <option></option>
                                {% for monitor in monitores %}
                                    <option value="{{ monitor.id }}"
                                            {% if monitor.id in ordem.listar_id_monitor_responsavel %}
                                            selected {% endif %}>{{ monitor.usuario.get_full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div style="width: 33%; text-align: center">
                            <label>Participantes: </label>
                            <div style="display: flex; column-gap: 5px">
                                <div style="width: 45%">
                                    <input type="number" min="0" id="participantes_previa" name="participantes_previa"
                                           placeholder="Prévia" value="{{ ordem.n_participantes }}" readonly>
                                </div>
                                <div style="width: 55%">
                                    <input type="number" min="0" id="participantes_confirmados"
                                           name="participantes_confirmados" placeholder="Confirmados">
                                </div>
                            </div>
                        </div>
                        <div>
                            <label>Série</label>
                            <input type="text" id="serie" name="serie" readonly value="{{ ordem.serie }}">
                        </div>
                    </div>
                    <div style="width: 15%">
                        <label>Professores</label>
                        <input type="number" min="0" id="responsaveis" name="responsaveis" readonly
                               value="{{ ordem.n_professores }}">
                    </div>
                    <hr>
                    <h5 class="titulo-secao">Escala</h5>
                    <div style="display: flex; gap: 15px; flex-wrap: wrap">
                        <div style="width: 30%">
                            <label for="coordenador">Coordenador</label>
                            <select class="select-control mr-sm-2" id="coordenador" name="professores" required>
                                <option selected></option>
                                {% for professor in professores %}
                                    <option value="{{ professor.id }}">{{ professor.usuario.get_full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div style="width: 30%">
                            <label>Professor 2: </label>
                            <select class="select-control mr-sm-2" id="professor_2" name="professores">
                                <option selected></option>
                                {% for professor in professores %}
                                    <option value="{{ professor.id }}">{{ professor.usuario.get_full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div style="width: 30%">
                            <label>Professor 3: </label>
                            <select class="select-control mr-sm-2" id="professor_3" name="professores">
                                <option selected></option>
                                {% for professor in professores %}
                                    <option value="{{ professor.id }}">{{ professor.usuario.get_full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div style="width: 30%">
                            <label>Professor 4: </label>
                            <select class="select-control mr-sm-2" id="professor_4" name="professores">
                                <option selected></option>
                                {% for professor in professores %}
                                    <option value="{{ professor.id }}">{{ professor.usuario.get_full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div style="width: 30%">
                            <label>Professor 5: </label>
                            <select class="select-control mr-sm-2" id="professor_5" name="professores">
                                <option selected></option>
                                {% for professor in professores %}
                                    <option value="{{ professor.id }}">{{ professor.usuario.get_full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div style="width: 30%">
                            <label>Professor 6: </label>
                            <select class="select-control mr-sm-2" id="professor_6" name="professor_6">
                                <option selected></option>
                                {% for professor in professores %}
                                    <option value="{{ professor.id }}">{{ professor.usuario.get_full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <hr>
                    <h5>Atividades ralizadas no CEU</h5>
                    <!------------------------------------ TABELA ATIVIDADES ------------------------------------->
                    <table class="table table-striped table-sm" style="caption-side: top">
                        <caption>Atividades do colégio no CEU:</caption>
                        <thead>
                        <tr>
                            <th style="width: 25%; text-align: center">
                                Nome dos professores
                            </th>
                            <th style="width: 25%; text-align: center">
                                Atividade
                            </th>
                            <th style="width: 20%; text-align: center">
                                Data e Hora
                            </th>
                            <th style="width: 10%; text-align: center">
                                QTD
                            </th>
                            <th style="width: 5%; text-align: center">

                            </th>
                        </tr>
                        </thead>
                        <tbody class="auto" id="corpo_tabela_atividade">
                        {% for atividade_bd in ordem.dividir_atividades_ceu %}
                            <tr class="linhas" id="linha_{{ forloop.counter }}" style="vertical-align: middle">
                                <td class="colunas_1" id="coluna_1_linha_{{ forloop.counter }}"
                                    style="display: flex; flex-wrap: wrap">
                                    <select class="professores" id="prof_1_ativ_{{ forloop.counter }}"
                                            name="professores_ativ_{{ forloop.counter }}"
                                            style="width: 45%; margin: 2px;" onchange="validacao(this)" required>
                                        <option selected></option>
                                            {% for professor in professores %}
                                                <option value="{{ professor.id }}">{{ professor.usuario.get_full_name }}</option>
                                            {% endfor %}
                                    </select>
                                    <select class="professores" id="prof_2_ativ_{{ forloop.counter }}"
                                            name="professores_ativ_{{ forloop.counter }}"
                                            style="width: 45%; margin: 2px;" onchange="validacao(this)">
                                        <option selected="">
                                            {% for professor in professores %}
                                                <option value="{{ professor.id }}">{{ professor.usuario.get_full_name }}</option>
                                            {% endfor %}
                                    </select>
                                    <select class="professores" id="prof_3_ativ_{{ forloop.counter }}"
                                            name="professores_ativ_{{ forloop.counter }}"
                                            style="width: 45%; margin: 2px;" onchange="validacao(this)">
                                        <option selected="">
                                            {% for professor in professores %}
                                                <option value="{{ professor.id }}">{{ professor.usuario.get_full_name }}</option>
                                            {% endfor %}
                                    </select>
                                    <select class="professores" id="prof_4_ativ_{{ forloop.counter }}"
                                            name="professores_ativ_{{ forloop.counter }}"
                                            style="width: 45%; margin: 2px;" onchange="validacao(this)">
                                        <option selected="">
                                            {% for professor in professores %}
                                                <option value="{{ professor.id }}">{{ professor.usuario.get_full_name }}</option>
                                            {% endfor %}
                                    </select>
                                </td>
                                <td class="colunas_2" id="coluna_2_linha_{{ forloop.counter }}">
                                    <select class="atividades" id="ativ_{{ forloop.counter }}" name="ativ_{{ forloop.counter }}" onchange="verificar_n_professores()" required>
                                        <option></option>
                                        {% for atividade in atividades %}
                                            <option value="{{ atividade.id }}" {% if atividade.id == atividade_bd.atividade %} selected {% endif %}>{{ atividade.atividade }}</option>
                                        {% endfor %}

                                    </select>
                                </td>
                                <td class="colunas_3" id="coluna_3_linha_{{ forloop.counter }}">
                                    <input class="datas" type="datetime-local" id="data_hora_ativ{{ forloop.counter }}" name="ativ_{{ forloop.counter }}" value="{{ atividade_bd.data_e_hora }}" required/>
                                </td>
                                <td class="colunas_4" id="coluna_4_linha_{{ forloop.counter }}">
                                    <input class="qtds" type="number" id="qtd_ativ{{ forloop.counter }}" name="ativ_{{ forloop.counter }}" value="{{ atividade_bd.participantes }}" required/>
                                </td>
                                <td class="colunas_5" id="coluna_5_linha_{{ forloop.counter }}">
                                    <button class="buton-x-" id="btn_{{ forloop.counter }}" type="button" onClick="remover_linha(this)"><span><i class='bx bx-x'></i></span></button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button class="buton-plus-" type="button" onclick="add_linha_atividade()">
                        <span><i class='bx bxs-plus-circle'></i></span>
                        <span class="text-black-50" style="font-size: 15px">Adcionar atividade</span>
                    </button>

                    <!------------------------------------------------------------------------------------->
                    <div class="form-group form-check form-switch mb-3 mt-3" id="div_check">
                        <input type="checkbox" class="form-check-input switch" id="checkAtividade"
                               onChange="check_locacao()">
                        <span class="text-black-50" style="font-size: 15px">O colégio realizou locações no CEU?</span>
                    </div>
                    <!------------------------------------------------------------------------------------->

                    <!-------------------------------------- TABELA LOCAÇÃO --------------------------------------->
                    <div class="none" id="tabela">
                        <table id="locacao" class="table table-striped table-sm" style="caption-side: top">
                            <caption>Locações do colégio no CEU:</caption>
                            <thead>
                            <tr>
                                <th>
                                    <center>Professor</center>
                                </th>
                                <th>
                                    <center>Local</center>
                                </th>
                                <th>
                                    <center>Check in</center>
                                </th>
                                <th>
                                    <center>Check out</center>
                                </th>
                                <th>
                                    <center>QTD</center>
                                </th>
                                <th>
                                    <center></center>
                                </th>
                            </tr>
                            </thead>
                            <tbody id="corpo_tabela_locacao"></tbody>
                        </table>
                        <button class="buton-plus-" type="button" onclick="add_linha_locacao()">
                            <span><i class='bx bxs-plus-circle'></i></span>
                            <span class="text-black-50" style="font-size: 15px">Adcionar locacao</span>
                        </button>
                    </div>

                    <!-------------------------------- RELATÓRIO FINAL ---------------------------->
                    <div class="form-group">
                        <label>Relatório do dia:</label>
                        <textarea class="form-control mb-3" style="height: 150px; resize: none" name="relatorio"> Atividades realizadas com sucesso! </textarea>
                        <button type="submit" id="salvar" class="btn btn-primary ml-5">Salvar</button>
                        <script src="{% static 'js/script_base.js' %}"></script>
                    </div>
                </fieldset>
            </form>
        {% endif %}

        {% if mostrar %}
            <script>
                $(window).on('load', function () {
                    $('#modal_dados_usuario_colegio').modal('show');
                });
            </script>
        {% endif %}
    </div>

    <div class="modal fade" id="modal_dados_usuario_colegio" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Dados de login para avaliação do colégio</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <b style="width: 13%">Email: </b>
                        <p style="width: 87%">{{ email }}</p>
                    </div>
                    <div class="row">
                        <b style="width: 13%">Senha: </b>
                        <p style="width: 87%">{{ senha }}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            onclick="window.location.href = {% url 'dashboard' %}">Fechar
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
