{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
    <link rel="stylesheet" href="{% static 'css/cadastro_ficha.css' %}">
    <!-- Estilização da parte das Ficha de evento -->

    <div class="row conteudo-ficha">
        <div class="titulo-os">
            <center>
                <h2>Ficha de Evento</h2>
            </center>
            <hr>
        </div>

        <form action='{% if ficha_de_evento %} {% url 'ver_ficha_de_evento' ficha_de_evento.id %} {% elif pre_reserva %} {% url 'ficha_de_evento' pre_reserva.id %} {% else %} {% url 'ficha_de_evento' %} {% endif %}'
              method="POST" enctype="multipart/form-data" onsubmit="loading()">
            <fieldset id="form_ficha" {% if ficha_de_evento %} disabled {% endif %}>
                <input type="hidden" id="pre_reserva" value="{{ pre_reserva }}">
                {% csrf_token %}
                <div class="row">
                    <div style="width: 55%; margin-right: -15px; {% if pre_reserva or ficha_de_evento %} margin-right: 10% {% endif %}">
                        <label for="cliente">Cliente</label>
                        {{ form.cliente.as_hidden }}
                        {% if pre_reserva %}
                            <input type="text" id="cliente" readonly
                                   value="{{ pre_reserva.cliente.nome_fantasia }}" onclick="pegarCliente()"
                                   required>
                        {% elif ficha_de_evento %}
                            <input type="text" id="cliente" value="{{ ficha_de_evento.cliente.nome_fantasia }}" readonly
                                   required>
                        {% else %}
                            <input type="text" id="cliente" onclick="pegarCliente()" readonly required>
                        {% endif %}

                    </div>
                    {% if not pre_reserva and not ficha_de_evento %}
                        <div style="width: 5%; align-items:end; display: flex; margin-right: 5%;">
                            <a href="{% url 'lista_cliente' %}" onclick="encaminhamento()" target="_blank"><i
                                    class='bx bx-search'></i></a>
                        </div>
                    {% endif %}
                    <div style="width: 30%; margin-right: -15px">
                        <label>Responsavel</label>
                        {% if ficha_de_evento %}
                            <input type="text" id="responsavel" name="responsavel"
                                   value="{{ ficha_de_evento.responsavel_evento.nome }}" readonly required>
                        {% elif pre_reserva %}
                            <input type="text" id="responsavel" name="responsavel"
                                   value="{{ pre_reserva.responsavel_evento.nome }}" readonly required>
                        {% else %}
                            <input type="text" id="responsavel" name="responsavel"
                                   onclick="pegarResponsavel()" readonly required>
                        {% endif %}
                        {{ form.responsavel_evento.as_hidden }}
                    </div>
                    {% if not pre_reserva %}
                        <div style="width: 5%; align-items:end; display: flex">
                            <a id="pesquisar_responsavel" class="none search" href="{% url 'lista_responsaveis' %}"
                               target="_blank"><i class='bx bx-search'></i></a>
                        </div>
                    {% endif %}
                    <div style="width: 40%">
                        <label>CNPJ</label>
                        <input type="text" id="cnpj_cliente"
                               value="{% if ficha_de_evento %} {{ ficha_de_evento.cliente.cnpj }} {% elif pre_reserva %} {{ pre_reserva.cliente.cnpj }} {% endif %}"
                               readonly>
                    </div>
                </div>
                {% if not pre_reserva and not ficha_de_evento %}
                    <button type="button" id="btn_limpar_dados_cliente" onclick="limpar_dados()">Limpar dados cliente
                    </button>
                {% endif %}
                <hr>
                <div class="row produtos-peraltas checkbox form-group" style="width: 100%">
                    <h5 class="titulo-secao">Produto Peraltas</h5>
                    <fieldset>
                        {{ form.produto }}
                    </fieldset>
                </div>
                <hr class="produtos-corporativos {% if not form.produto_corporativo.value %} none {% endif %}">
                <div id="div_produto_corporativo" style="width: 70%"
                     class="{% if not form.produto_corporativo.value %} none {% endif %} produtos-corporativos">
                    <h5 class="titulo-secao">Produto corporativo</h5>
                    <fieldset>
                        {{ form.produto_corporativo }}
                    </fieldset>
                </div>
                <hr>
                <div id="sessao_periodo_viagem" class="row mb-2">
                    <h5 class="titulo-secao">Período de viagem</h5>
                    <div style="width: 35%">
                        <label>Check in (data/horário)</label>
                        {{ form.check_in }}
                    </div>
                    <div style="width: 35%">
                        <label>Check out (data/horário)</label>
                        {{ form.check_out }}
                    </div>
                    <div id="div_editar_horarios" class="checkbox">
                        <input type="checkbox" class="form-check-input" name="editar_horario" id="check_editar_horarios"
                               style="margin-right: 5px; padding: 0" {% if form.obs_edicao_horario.value != None %}
                               checked {% endif %}
                               onclick="$('#obs_edicao').toggleClass('none');
                                           if ($('#obs_edicao').attr('class').includes('none')){
                                               $('#id_obs_edicao_horario').prop('required', false)}
                                           else{
                                               $('#id_obs_edicao_horario').prop('required', true)}">
                        <label for="check_editar_horarios">Editar horários</label>
                    </div>
                    <div id="obs_edicao" class="mt-2 {% if form.obs_edicao_horario.value == None %} none {% endif %}">
                        <label>Justificativa</label>
                        {{ form.obs_edicao_horario }}
                    </div>
                </div>
                <hr>
                <div class="row mb-2">
                    <h5 class="titulo-secao">Quantidades</h5>
                    <div style="width: 15%">
                        <label>QTD estimada</label>
                        {{ form.qtd_convidada }}
                    </div>
                    <div style="width: 15%">
                        <label>QTD reservada</label>
                        {{ form.qtd_confirmada }}
                    </div>
                    <div id="div_eficha" style="width: 15%" class="{% if not form.qtd_eficha.value or form.qtd_eficha.value == 0 %} none {% endif %}">
                        <label>QTD E-ficha</label>
                        {{ form.qtd_eficha }}
                    </div>
                    <div id="div_avulso" style="width: 15%" class="{% if not form.qtd_offline.value >= 0 %} none {% endif %}">
                        <label>QTD avulso</label>
                        {{ form.qtd_offline }}
                    </div>
                    {% if ficha_de_evento %}
                        <div class="alunos-pernoite {% if not ficha_de_evento.produto.colegio or not ficha_de_evento.produto.pernoite %} none {% endif %}"
                             style="width: 15%">
                            <label>QTD meninas</label>
                            {{ form.qtd_meninas }}
                        </div>
                        <div class="alunos-pernoite {% if not ficha_de_evento.produto.colegio or not ficha_de_evento.produto.pernoite %} none {% endif %}"
                             style="width: 15%">
                            <label>QTD meninos</label>
                            {{ form.qtd_meninos }}
                        </div>
                        <div class="corporativo {% if ficha_de_evento.produto.colegio %} none {% endif %}"
                             style="width: 15%;">
                            <label>QTD homens</label>
                            {{ form.qtd_homens }}
                        </div>
                        <div class="corporativo {% if ficha_de_evento.produto.colegio %} none {% endif %}"
                             style="width: 15%">
                            <label>QTD mulheres</label>
                            {{ form.qtd_mulheres }}
                        </div>
                    {% else %}
                        <div class="alunos-pernoite {% if not pre_reserva.produto.colegio or not pre_reserva.produto.pernoite %} none {% endif %}"
                             style="width: 15%">
                            <label>QTD meninas</label>
                            {{ form.qtd_meninas }}
                        </div>
                        <div class="alunos-pernoite {% if not pre_reserva.produto.colegio or not pre_reserva.produto.pernoite %} none {% endif %}"
                             style="width: 15%">
                            <label>QTD meninos</label>
                            {{ form.qtd_meninos }}
                        </div>
                        <div class="corporativo {% if pre_reserva.produto.colegio %} none {% endif %}"
                             style="width: 15%;">
                            <label>QTD homens</label>
                            {{ form.qtd_homens }}
                        </div>
                        <div class="corporativo {% if pre_reserva.produto.colegio %} none {% endif %}"
                             style="width: 15%">
                            <label>QTD mulheres</label>
                            {{ form.qtd_mulheres }}
                        </div>
                    {% endif %}
                </div>
                {% if ficha_de_evento %}
                    <div class="row professores {% if not ficha_de_evento.produto.colegio %} none {% endif %}">
                        <div style="width: 16%">
                            <label>QTD professores</label>
                            {{ form.qtd_professores }}
                        </div>
                        <div class="professores-pernoite {% if not ficha_de_evento.produto.pernoite %} none {% endif %}"
                             style="width: 15%">
                            <label>QTD profs. homens</label>
                            {{ form.qtd_profs_homens }}
                        </div>
                        <div class="professores-pernoite {% if not ficha_de_evento.produto.pernoite %} none {% endif %}"
                             style="width: 15%">
                            <label>QTD profs. mulheres</label>
                            {{ form.qtd_profs_mulheres }}
                        </div>
                        <div class="mt-2 professores-pernoite {% if not ficha_de_evento.produto.pernoite %} none {% endif %}">
                            {{ form.professores_com_alunos }}
                            <label class="my-1">Professores dormirão com os alunos?</label>
                        </div>
                    </div>
                {% else %}
                    <div class="row professores {% if not pre_reserva.produto.colegio %} none {% endif %}">
                        <div style="width: 16%">
                            <label>QTD professores</label>
                            {{ form.qtd_professores }}
                        </div>
                        <div class="professores-pernoite {% if not pre_reserva.produto.pernoite %} none {% endif %}"
                             style="width: 15%">
                            <label>QTD profs. homens</label>
                            {{ form.qtd_profs_homens }}
                        </div>
                        <div class="professores-pernoite {% if not pre_reserva.produto.pernoite %} none {% endif %}"
                             style="width: 15%">
                            <label>QTD profs. mulheres</label>
                            {{ form.qtd_profs_mulheres }}
                        </div>
                        <div class="mt-2 professores-pernoite {% if not pre_reserva.produto.pernoite %} none {% endif %}">
                            {{ form.professores_com_alunos }}
                            <label class="my-1">Professores dormirão com os alunos?</label>
                        </div>
                    </div>
                {% endif %}
                <hr>
                <div class="row" style="width: 100%" id="perfil_participantes">
                    <h5 class="titulo-secao">Perfil dos participantes</h5>
                    <div class="row perfil checkbox">
                        {{ form.perfil_participantes }}
                    </div>
                </div>
                <hr>
                <div id="refeicoes_grupo">
                    <h5 class="titulo-secao">Refeições</h5>
                    <table class="table">
                        {% if ficha_de_evento %}
                            <thead>
                            <tr>
                                <th style="width: 5px">Data</th>
                                <th style="width: 5px"><small>Café</small></th>
                                <th style="width: 5px"
                                    class="coffees {% if ficha_de_evento.produto.colegio %} none {% endif %}"><small>Coffe
                                    manhã</small></th>
                                <th style="width: 5px"><small>Almoço</small></th>
                                <th style="width: 5px"
                                    class="lanches {% if not ficha_de_evento.produto.colegio %} none {% endif %}">
                                    <small>Lanche
                                        tarde</small></th>
                                <th style="width: 5px"
                                    class="coffees {% if ficha_de_evento.produto.colegio %} none {% endif %}"><small>Coffe
                                    tarde</small></th>
                                <th style="width: 5px"><small>Jantar</small></th>
                                <th style="width: 5px"
                                    class="lanches {% if not ficha_de_evento.produto.colegio %} none {% endif %}">
                                    <small>Lanche
                                        noite</small></th>
                                <th style="width: 2px"><small></small></th>
                            </tr>
                            </thead>
                        {% else %}
                            <thead>
                            <tr>
                                <th style="width: 5px">Data</th>
                                <th style="width: 5px"><small>Café</small></th>
                                <th style="width: 5px"
                                    class="coffees {% if pre_reserva.produto.colegio %} none {% endif %}"><small>Coffe
                                    manhã</small></th>
                                <th style="width: 5px"><small>Almoço</small></th>
                                <th style="width: 5px"
                                    class="lanches {% if not pre_reserva.produto.colegio %} none {% endif %}"><small>Lanche
                                    tarde</small></th>
                                <th style="width: 5px"
                                    class="coffees {% if pre_reserva.produto.colegio %} none {% endif %}"><small>Coffe
                                    tarde</small></th>
                                <th style="width: 5px"><small>Jantar</small></th>
                                <th style="width: 5px"
                                    class="lanches {% if not pre_reserva.produto.colegio %} none {% endif %}"><small>Lanche
                                    noite</small></th>
                                <th style="width: 2px"><small></small></th>
                            </tr>
                            </thead>
                        {% endif %}
                        <tbody id="corpo-tabela-refeicao">
                        {% for dados_refeicoes in ficha_de_evento.tabelar_refeicoes %}
                            <tr class="linha" id="linha_{{ forloop.counter }}">
                                <td><input type="date" class="data" name="data_refeicao_{{ forloop.counter }}"
                                           style="width:  180px" value="{{ dados_refeicoes.dia }}">
                                </td>
                                <td><input type="checkbox" class="form-check-input cafe" id="cafe_{{ forloop.counter }}"
                                           name="cafe_{{ forloop.counter }}" {% if dados_refeicoes.refeicoes.0 %}
                                           checked {% endif %} style="width: 5px; height: 5px">
                                </td>
                                {% if not ficha_de_evento.produto.colegio %}
                                    <td><input type="checkbox" class="form-check-input coffee_m"
                                               id="coffee_m_{{ forloop.counter }}" name="coffee_m_{{ forloop.counter }}"
                                            {% if dados_refeicoes.refeicoes.1 %} checked {% endif %}
                                               style="width: 5px; height: 5px">
                                    </td>
                                {% endif %}
                                <td><input type="checkbox" class="form-check-input almoco"
                                           id="almoco_{{ forloop.counter }}" name="almoco_{{ forloop.counter }}"
                                        {% if dados_refeicoes.refeicoes.2 %} checked {% endif %}
                                           style="width: 5px; height: 5px">
                                </td>
                                {% if ficha_de_evento.produto.colegio %}
                                    <td><input type="checkbox" class="form-check-input lanche_t"
                                               id="lanche_t_{{ forloop.counter }}" name="lanche_t_{{ forloop.counter }}"
                                            {% if dados_refeicoes.refeicoes.3 %} checked {% endif %}
                                               style="width: 5px; height: 5px">
                                    </td>
                                {% endif %}
                                {% if not ficha_de_evento.produto.colegio %}
                                    <td><input type="checkbox" class="form-check-input coffee_t"
                                               id="coffee_t_{{ forloop.counter }}" name="coffee_t_{{ forloop.counter }}"
                                            {% if dados_refeicoes.refeicoes.4 %} checked {% endif %}
                                               style="width: 5px; height: 5px">
                                    </td> {% endif %}
                                <td><input type="checkbox" class="form-check-input jantar"
                                           id="jantar_{{ forloop.counter }}" name="jantar_{{ forloop.counter }}"
                                        {% if dados_refeicoes.refeicoes.5 %} checked {% endif %}
                                           style="width: 5px; height: 5px">
                                </td>
                                {% if ficha_de_evento.produto.colegio %}
                                    <td><input type="checkbox" class="form-check-input lanche_n"
                                               id="lanche_n_{{ forloop.counter }}" name="lanche_n_{{ forloop.counter }}"
                                            {% if dados_refeicoes.refeicoes.6 %} checked {% endif %}
                                               style="width: 5px; height: 5px">
                                    </td>
                                {% endif %}
                                <td>
                                    <button class="buton-x-ref" id="btn-ref_{{ forloop.counter }}" type="button"
                                            onClick="remover_dia_refeicao(this)"><span><i class='bx bx-x'></i></span>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button class="buton-plus" type="button" onclick="add_refeicao()"
                            style="margin-left: 5px; margin-top: -15px">
                        <span><i class='bx bxs-plus-circle'></i></span>
                    </button>
                    <div class="form-group form-check form-switch mb-3 mt-3">
                        <input type="checkbox" class="form-check-input switch"
                                {% if ficha_de_evento and ficha_de_evento.observacoes_refeicoes %}
                               checked {% endif %} onChange="obs()">
                        <label class="form-check-label">Observações</label>
                    </div>
                    <div id="observacoes_refeicoes"
                            {% if not ficha_de_evento or not ficha_de_evento.observacoes_refeicoes %}
                         class="none" {% endif %}>
                        <label>Observações</label>
                        {{ form.observacoes_refeicoes }}
                    </div>
                </div>
                <hr>
                <div class="row ceu">
                    <h5 class="titulo-secao">CEU</h5>
                    <div style="width: 60%">
                        <label>Atividades</label>
                        {{ form.atividades_ceu }}
                        <div class="mt-2 mb-2" style="display: flex; align-items: center">
                            <input type="checkbox" id="check_a_definir" class="form-check-input"
                                   style="width: 7px; height: 7px; margin-right: 5px" onchange="atividades_a_definir()"
                                    {% if form.atividades_ceu_a_definir.value != None %} checked {% endif %}>
                            <label>A definir?</label>
                            <div id="atividades_ceu_a_definir" {% if form.atividades_ceu_a_definir.value == None %}
                                 class="none" {% endif %} style="width: 15%; margin-left: 8px">
                                {{ form.atividades_ceu_a_definir }}
                            </div>
                        </div>
                    </div>
                    {% if ficha_de_evento %}
                        <div style="width: 40%" id="div_locacao_ceu"
                             class="{% if ficha_de_evento.produto.colegio %} none {% endif %}">
                            <label>Locações</label>
                            {{ form.locacoes_ceu }}
                        </div>
                    {% else %}
                        <div style="width: 40%" id="div_locacao_ceu"
                             class="{% if pre_reserva.produto.colegio %} none {% endif %}">
                            <label>Locações</label>
                            {{ form.locacoes_ceu }}
                        </div>
                    {% endif %}
                </div>
                <hr class="dados_locacoes_ {% if not ficha_de_evento or ficha_de_evento.produto.colegio %} none {% endif %}">
                <div id="dados_locacoes"
                     class="dados_locacoes_ {% if not ficha_de_evento or ficha_de_evento.produto.colegio %} none {% endif %}">
                    <h5 class="titulo-secao">Dados das locações</h5>
                    {% if not ficha_de_evento.produto.colegio and ficha_de_evento.informacoes_locacoes %}
                        {% for espaco in ficha_de_evento.separar_informacoes_locacoes %}
                            <div class="row" id="espaco_{{ espaco.id_espaco }}">
                                <div style="width: 40%">
                                    <label>Espaço</label>
                                    <input type="text" name=espaco readonly required value="{{ espaco.espaco }}">
                                    <input type="hidden" id="id_espaco" name="id_espaco" value="{{ espaco.id_espaco }}">
                                </div>
                                <div style="width: 20%">
                                    <label>Intervalo</label>
                                    <select name="intervalo" id="id_intervalo" required>
                                        <option></option>
                                        <option value="4" {% if espaco.intervalo == '4' %} selected {% endif %} >4
                                            horas
                                        </option>
                                        <option value="8" {% if espaco.intervalo == '8' %} selected {% endif %}>8
                                            horas
                                        </option>
                                    </select>
                                </div>
                                <div style="width: 30%">
                                    <label>Formato da sala</label>
                                    <select name="formato_sala" id="id_formato_sala" required>
                                        {% if espaco.espaco == 'Auditório' %}
                                            <option value="auditorio">Auditório</option>
                                        {% elif espaco.espaco == 'Outro' %}
                                            <option value="livre">Formato livre</option>
                                        {% else %}
                                            <option></option>
                                            <option value="auditorio" {% if espaco.formato_sala == 'auditorio' %}
                                                    selected {% endif %}>Auditório
                                            </option>
                                            <option value="u" {% if espaco.formato_sala == 'u' %} selected {% endif %}>
                                                Formato U
                                            </option>
                                            <option value="redondo" {% if espaco.formato_sala == 'redondo' %}
                                                    selected {% endif %}>Formato redondo
                                            </option>
                                            <option value="escolar" {% if espaco.formato_sala == 'escolar' %}
                                                    selected {% endif %}>Formato escolar
                                            </option>
                                            <option value="coquetel" {% if espaco.formato_sala == 'coquetel' %}
                                                    selected {% endif %}>Coquetel
                                            </option>
                                            <option value="livre" {% if espaco.formato_sala == 'livre' %}
                                                    selected {% endif %}>Formato livre
                                            </option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                        {% endfor %}

                    {% endif %}
                </div>
                <hr>
                <div class="row peraltas">
                    <h5 class="titulo-secao">Peraltas</h5>
                    <div id="atividades_ecoturismo" style="width: 50%;">
                        <label>Atividades extra</label>
                        {{ form.atividades_eco }}
                    </div>
                    <div style="width: 50%">
                        <label>Acampamento</label>
                        {{ form.atividades_peraltas }}
                    </div>
                </div>
                <hr class="peraltas">
                <div class="form-check">
                    <input class="form-check-input info" type="checkbox" value="" id="info_adicionais_ok"
                           name="info_adicionais_ok" {% if ficha_de_evento %} checked {% endif %} required>
                    <label for="add_infos" class="my-1">Informações adicionais</label>
                    <a class="buton-plus" href="" id="add_infos" data-toggle="modal"
                       data-target="#modal-adicionais" onclick="pegarIdInfosAdicionais()"
                       style="margin-left: 5px; margin-top: -15px">
                        <span><i class='bx bxs-plus-circle'></i></span>
                    </a>
                </div>
                {{ form.informacoes_adcionais.as_hidden }}
                <hr>
                <div class="form-check">
                    <input class="form-check-input info" type="checkbox" value="" id="codigos_app_ok"
                           name="codigos_app_ok" {% if ficha_de_evento %} checked {% endif %} required>
                    <label class="my-1">Códigos APP</label>
                    <a class="buton-plus" href="" id="add_infos" data-toggle="modal"
                       data-target="#modal_codigos_app" onclick="pegarIdCodigosApp()"
                       style="margin-left: 5px; margin-top: -15px">
                        <span><i class='bx bxs-plus-circle'></i></span>
                    </a>
                </div>
                {{ form.codigos_app.as_hidden }}
                <hr>
                <div class="form-check" style="display: flex; align-items: center">
                    {{ form.exclusividade }}
                    <label for="check_exclusivo">Exclusividade</label>
                </div>
                <hr>
                <div class="row">
                    <div>
                        <label for="id_vendedora">Atendente</label>
                    </div>
                    <div style="width: 35%">
                        {{ form.vendedora }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div style="width: 30%">
                        <label>Data final de inscrição</label>
                        {{ form.data_final_inscricao }}
                    </div>
                    <div style="width: 30%">
                        <label>Data para divulgação</label>
                        {{ form.data_divulgacao }}
                    </div>
                    <div style="width: 40%">
                        <label>ID negócio (RD)</label>
                        {{ form.id_negocio }}
                    </div>
                </div>
                <hr>
                <div style="display: table-caption; width: 700px">
                    <h5 class="titulo-secao">Material de apoio</h5>
                    {{ form.material_apoio }}
                </div>
                <hr>
                <div class="mb-3 row">
                    <h5 class="titulo-secao">Observações</h5>
                    {{ form.observacoes }}
                </div>
                {{ form.empresa.as_hidden }}
            </fieldset>
            <div class="botoes">
                {% if not ficha_de_evento %}
                    <button type="submit" id="salvar" class="btn btn-primary ml-5">Salvar</button>
                {% elif request.user == ficha_de_evento.vendedora.usuario or diretoria %}
                    <button type="submit" id="salvar" class="btn btn-primary ml-5" disabled>Salvar</button>
                    <button type="button" class="btn btn-secondary ml-5" onclick="editar_ficha()">Editar</button>
                {% endif %}

                {% if ficha_de_evento and perms.peraltas.delete_fichadeevento %}
                    <button type="button" id="excluir" class="btn btn-danger ml-5" data-toggle="modal"
                            data-target="#excluir_ficha_evento">Excluir
                    </button>
                {% endif %}

                {% if ficha_de_evento and perms.ordemDeServico.add_ordemdeservico %}
                    <button type="button" class="btn btn-outline-primary ml-5" style="float: right"
                            onclick="window.location.href='{% url 'ordem_de_servico_com_ficha' ficha_de_evento.id %}'">
                        Ordem de serviço
                    </button>
                {% endif %}
            </div>
        </form>
    </div>

    <form method="POST" action="{% url 'ficha_de_evento' %}" id="infos" enctype="multipart/form-data">
        <fieldset id="form_adicionais" {% if ficha_de_evento %} disabled {% endif %}>
            {% csrf_token %}
            <!-- Modal -->
            <div class="modal fade" id="modal-adicionais" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Informações Adicionais</h5>
                            <button type="button" class="x-fechar-modal" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <h5 class="titulo-secao">Transporte</h5>
                                <input type="hidden" name="infos" value="adicionais">
                                <div class="checkbox" style="width: 20%">
                                    {{ formAdicionais.transporte }}
                                    <label>Transporte?</label>
                                </div>
                            </div>
                            <div id="dados_transporte"
                                 class="row mt-2 {% if not formAdicionais.transporte.value %} none {% endif %}">
                                <div class="mb-2">
                                    <label>Fechado internamente?</label>
                                    {{ formAdicionais.transporte_fechado_internamente }}
                                </div>
                                <div class="checkbox mt-2">
                                    {{ formAdicionais.lanche_bordo }}
                                    <label>Lanche de bordo?</label>
                                </div>
                                <div class="ida_e_volta mt-2 {% if not ficha_de_evento.informacoes_adcionais.lanche_bordo %} none {% endif %}">
                                    <div class="checkbox">
                                        {{ formAdicionais.ida }}
                                        <label>Ida</label>
                                    </div>
                                    <div class="checkbox">
                                        {{ formAdicionais.volta }}
                                        <label>Volta</label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="checkbox">
                                {{ formAdicionais.seguro }}
                                <label>Seguro</label>
                            </div>
                            <hr>
                            <div class="row" id="monitoria_peraltas">
                                <h5 class="titulo-secao">Monitoria</h5>
                                <div class="mb-2" style="width: 60%">
                                    <label>Tipo</label>
                                    {{ formAdicionais.monitoria }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <h5 class="titulo-secao">Enfermaria</h5>
                                <div style="width: 30%">
                                    <label>Tipo</label>
                                    {{ formAdicionais.enfermaria }}
                                </div>
                                <div class="mb-2 none" style="width: 30%" id="horario">
                                    <label>Horário</label>
                                    {{ formAdicionais.horario_garantia }}
                                </div>
                            </div>
                            <hr>
                            <div id="cantina_roupa_cama" class="row">
                                <h5 class="titulo-secao">Cantina e roupa de cama</h5>
                                <div id="div_cantina" style="width: 20%">
                                    <label for="id_cantina">Cantina</label>
                                    {{ formAdicionais.cantina }}
                                </div>
                                <div style="width: 20%">
                                    <label for="id_roupa_de_cama">Roupa de cama</label>
                                    {{ formAdicionais.roupa_de_cama }}
                                </div>
                                <div style="width: 20%">
                                    <label for="id_link_foto">Link de foto</label>
                                    {{ formAdicionais.link_foto }}
                                </div>
                            </div>
                            <hr>
                            <div id="opcionais_geral" class="row mb-2">
                                <h5 class="titulo-secao">Opcionais gerais</h5>
                                {{ formAdicionais.opcionais_geral }}
                                <button id="botao_add_opcionais_geral" type="button" onclick="adcionar_novo_op_geral()">
                                    <i class='bx bx-plus' style="width: 5%; font-size: 25px"></i>
                                </button>
                                <div class="mt-2 row none" id="adcionar_opcional_geral">
                                    <div style="width: 50%;">
                                        <label for="nome_novo_op_geral">Novo opcional</label>
                                        <input id="nome_novo_op_geral" type="text" class="form-control">
                                    </div>
                                    <div style="width: 50%; margin-top: 23px">
                                        <button type="button" class="btn btn-outline-primary"
                                                onclick="salvar_novo_op_geral()">Salvar
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div id="opcionais_formatura" class="row">
                                <h5 class="titulo-secao">Formatura</h5>
                                {{ formAdicionais.opcionais_formatura }}
                                <button id="botao_add_opcionais_formatura" type="button"
                                        onclick="adcionar_novo_op_formatura()">
                                    <i class='bx bx-plus' style="width: 5%; font-size: 25px"></i>
                                </button>
                                <div class="mt-2 row none" id="adcionar_opcional_formatura">
                                    <div style="width: 50%;">
                                        <label for="nome_novo_op_formatura">Novo opcional</label>
                                        <input id="nome_novo_op_formatura" type="text" class="form-control">
                                    </div>
                                    <div style="width: 50%; margin-top: 23px">
                                        <button type="button" class="btn btn-outline-primary"
                                                onclick="salvar_novo_op_formatura()">Salvar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary" id="salvar_infos">Salvar informações</button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    <form method="POST" action="{% url 'ficha_de_evento' %}" id="codigos_app">
        <fieldset id="form_app" {% if ficha_de_evento %} disabled {% endif %}>
            {% csrf_token %}
            <!-- Modal para o cadastro dos códigos do APP -->
            <div class="modal fade" id="modal_codigos_app" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Códigos e Dados de Financeiros</h5>
                            <button type="button" class="x-fechar-modal" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body app">
                            <input type="hidden" name="infos" value="app">
                            <h5 class="titulo-secao">Códdigos</h5>
                            <div style="display: flex; flex-wrap: wrap; column-gap: 20px">
                                <div style="width: 30%">
                                    <label>Cliente PJ</label>
                                    {{ formApp.cliente_pj }}
                                </div>
                                <div style="width: 30%">
                                    <label>Cliente PF</label>
                                    {{ formApp.cliente_pf }}
                                </div>
                                <div class="codigo_editavel" style="width: 30%">
                                    <label>Reserva APP</label>
                                    {{ formApp.reserva }}
                                </div>
                                <div class="mt-2" style="display: flex; gap: 20px">
                                    <div class="codigo_editavel" style="width: 75%">
                                        <label>Código eficha</label>
                                        {{ formApp.eficha }}
                                    </div>
                                    <div style="width: 25%">
                                        <label>Evento APP</label>
                                        {{ formApp.evento_app }}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h5 class="titulo-secao">Dados financeiros</h5>
                            <div style="display: flex; gap: 20px; flex-wrap: wrap">
                                <div style="width: 100%">
                                    <label>Tipo de pagamento</label>
                                    {{ formApp.tipo_de_pagamento }}
                                </div>
                                <div style="width: 50%">
                                    <label>Ficha financeira</label>
                                    {{ formApp.ficha_financeira }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            {% if not ficha_de_evento.cliente.codigo_app_pf or not ficha_de_evento.cliente.codigo_app_pj %}
                                <input type="hidden" name="id_cliente_sem_app" id="id_cliente_sem_app"
                                        {% if pre_reserva %} value="{{ pre_reserva.cliente.id }} {% endif %}">
                            {% endif %}
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-primary" onclick="verificar_codigos_eficha()">Salvar
                            </button>
                            <button type="submit" id="btn_submit" class="none">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    {% if ficha_de_evento %}
        <!--  Modal para excluir ficha de evento  -->
        <div class="modal fade" id="excluir_ficha_evento" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tem certeza disso?</h5>
                        <button type="button" class="x-fechar-modal" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{% url 'ver_ficha_de_evento' ficha_de_evento.id %}" method="POST">
                        {% csrf_token %}
                        <div class="modal-body app">
                            <label for="motivo_cancelamento">Motivo cancelamento</label>
                            <input type="text" id="motivo_cancelamento" name="motivo_cancelamento" required
                                   minlength="10">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                            <input type="submit" class="btn btn-primary" name="excluir" value="Sim"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{% static 'js/scripts_ficha_de_evento.js' %}"></script>
    <script src="{% static 'js/scripts_cliente.js' %}"></script>
    <script src="{% static 'js/Moment.js' %}"></script>

    <script>
        $(document).ready(function () {
            {% if not perms.peraltas.delete_fichadeevento %}
                $('#id_vendedora').css({'pointer-events': 'none'})
            {% endif %}

            hora_padrao_check_in = '{{ ficha_de_evento.produto.hora_padrao_check_in|date:'G:i:s' }}'
            hora_padrao_check_out = '{{ ficha_de_evento.produto.hora_padrao_check_out|date:'G:i:s' }}'

            if ($('#id_data_final_inscricao').val() === '') {
                $('#id_data_final_inscricao').val(moment($('#id_check_in').val()).subtract(15, 'days').format('YYYY-MM-DD'))
            }

            carregar_scripts('{{ editando }}')

            {% if not editando %}
                evento_corporativo = '{{ coorporativo|safe }}' == 'True'
                $('#cliente').trigger('click')
                tabela_refeicoes()
            {% endif %}
        })
    </script>

{% endblock %}