{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
  <div>
    <center>
      <h2>CADASTRO DE ORDEM DE SERVIÇO DE EMPRESA</h2>
    </center>
  </div>
  <br>
<!-------------------------------- LINHA 1 ---------------------------->
  <div class="conteudo-empresa">
    <form action="{% url 'empresa' %}" method="POST">
      {% csrf_token %}
      <script src="{% static 'js/teste.js' %}"></script>
      <script src="{% static 'js/jquery.js' %}"></script>
      <div class="row">
        <div class="col-9">
          <label>Instituição</label>
          <input type="text" class="form-control" name="instituicao">
        </div>
        <div class="col-3">
          <label style="width: 25vh">Data do atendimento</label>
          <input type="date" class="form-control" name="dataAtendimento" style="width: 25vh">
        </div>
      </div>
      <hr>
<!------------------------------------------------------------------------------>
      <div class="row">
        <div class="col-2">
          <label class="mb-2">Coordenador</label>
          <select class="col-10" id="coordenador" onChange="equipe(this)" name="coordenador">
            <option selected></option>
              {% for nome in professores %}
                <option value="{{ nome }}">{{ nome }}</option>
              {% endfor %}
          </select>
        </div>
        <div class="col-2">
          <label class="mb-2">Professor 2: </label>
          <select class="col-10" id="p2" onChange="equipe(this)" name="prf2">
            <option selected></option>
            {% for nome in professores %}
              <option>{{ nome }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-4">
          <label>Participantes: </label>
          <div class="row">
            <div style="width: 32%">
              <input type="number" class="form-control" placeholder="Prévia" name="previaParticipantes">
            </div>
            <div style="width: 46%">
              <input type="number" class="form-control" placeholder="Confirmado"  name="participantes" style="width: 18vh height: 12vh">
            </div>
          </div>
        </div>
        <div class="col-4">
          <label>Coordenador peraltas</label>
          <input type="text" class="form-control" name="coordenadorPeraltas">
        </div>
      </div>
<!-------------------------------- LINHA 2 ---------------------------->
      <div class="row mb-3">
        <div class="col-8">
        </div>
      </div>
      <hr>
<!-------------------------------- LINHA 3 ---------------------------->
      <table class="table table-sm" style="caption-side: top; border-color: #93989d">
        <caption>Atividades realizadas no CEU:</caption>
        <thead>
          <tr>
            <th><center>Nome dos professores</center></th>
            <th>Atividade realizada</th>
            <th>Horário entrada</th>
            <th>Horário saída</th>
          </tr>
        </thead>
        <tbody>
          {% for i in rangei %}
          <tr>
            {% if i == 1 or i == 4 or i == 7 %}
              <td rowspan="3">
                {% for j in rangej %}
                  <select class="custom-select-d mr-sm-2 my-1" name="prf{{ j }}atv{{ i }}" style="width: 10vh">
                    <option selected></option>
                  </select>
                {% endfor %}
              </td>
            {% endif %}
            {% if i == 1 or i == 4 or i == 7 %}
              <td rowspan="3">
                <select class="custom-select mr-sm-2 my-1" style="width: 20vh" name="ativ{{ i }}">
                  <option selected></option>
                  {% for atividade in atividades %}
                    <option>{{ atividade }}</option>
                  {% endfor %}
                </select>
              </td>
            {% endif %}
            <td>
                <input type="time" class="form-control" style="width: 100px" name="horaEntrada{{ i }}">
            </td>
            <td>
                <input type="time" class="form-control" style="width: 100px" name="horaSaida{{ i }}">
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
<!-------------------------------- RELATÓRIO FINAL ---------------------------->
      <div class="form-group">
        <label>Relatório do dia:</label>
        <textarea class="form-control mb-3" style="height: 25vh; resise=none" name="relatorio"> Atividades realizadas com sucesso! </textarea>
        <button type="submit" class="btn btn-primary ml-5">Salvar</button>
      </div>
    </form>
  </div>

{% endblock %}
