{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
<!-------------------------------- LINHA 1 ---------------------------->
  <div class="row conteudo-empresa">
    <div class="titulo-empresa">
      <center>
        <h2>CADASTRO DE ORDEM DE SERVIÇO DE EMPRESA</h2>
      </center>
    </div>
    <hr>
    <form action="{% url 'empresa' %}" method="POST">
      {% csrf_token %}
      <script src="{% static 'js/teste.js' %}"></script>
      <script src="{% static 'js/jquery.js' %}"></script>
      <div class="row">
        <div style="width: 70%">
          <label>Instituição</label>
          <input type="text" class="form-control" name="instituicao">
        </div>
        <div style="width: 30%">
          <label>Data do atendimento</label>
          <input type="date" class="form-control" name="dataAtendimento">
        </div>
      </div>
      <hr>
<!------------------------------------------------------------------------------>
      <div class="row mb-2">
        <div style="width: 150px">
          <label>Coordenador</label>
          <select class="form-select" id="coordenador" onChange="equipe(this)" name="coordenador">
            <option selected></option>
              {% for nome in professores %}
                <option value="{{ nome }}">{{ nome }}</option>
              {% endfor %}
          </select>
        </div>
        <div style="width: 150px">
          <label >Professor 2 </label>
          <select class="form-select" id="p2" onChange="equipe(this)" name="prf2">
            <option selected></option>
            {% for nome in professores %}
              <option>{{ nome }}</option>
            {% endfor %}
          </select>
        </div>
        <div style="width: 150px">
          <label >Professor 3 </label>
          <select class="form-select" id="p3" onChange="equipe(this)" name="prf2">
            <option selected></option>
            {% for nome in professores %}
              <option>{{ nome }}</option>
            {% endfor %}
          </select>
        </div>
        <div style="width: 150px">
          <label >Professor 4 </label>
          <select class="form-select" id="p4" onChange="equipe(this)" name="prf2">
            <option selected></option>
            {% for nome in professores %}
              <option>{{ nome }}</option>
            {% endfor %}
          </select>
        </div>
        <div style="width: 300px">
          <label>Participantes: </label>
          <div class="row">
            <div style="width: 40%">
              <input type="number" class="form-control" placeholder="Prévia" name="previaParticipantes">
            </div>
            <div style="width: 60%">
              <input type="number" class="form-control" placeholder="Confirmado"  name="participantes">
            </div>
          </div>
        </div>
      </div>
      <div style="width: 300px">
        <label>Coordenador peraltas</label>
        <input type="text" class="form-control" name="coordenadorPeraltas">
      </div>

<!-------------------------------- LINHA 2 ---------------------------->
      <div class="row mb-3">
        <div class="col-8">
        </div>
      </div>
      <hr>
<!-------------------------------- LINHA 3 ---------------------------->
      <h5>Atividades ralizadas no CEU</h5>
      <table class="table table-striped table-sm" style="caption-side: top">
        <caption>Atividades realizadas pela empresa:</caption>
        <thead>
          <tr>
            <th style="width: 400px"><center>Nome dos professores</center></th>
            <th style="width: 100px"><center>Entrada</center></th>
            <th style="width: 100px"><center>Início</center></th>
            <th style="width: 150px"><center>Atividade</center></th>
          </tr>
        </thead>
        <tbody>
          {% for i in rangei %}
            {% if i < 4 %}
              <tr>
                <td>
                  <div class="row">
                    {% for j in rangej %}
                      <div style="width: 120px; margin-right: -20px">
                        <select class="form-control d mr-sm-2 my-1" name="prf{{ j }}atv{{ i }}">
                          <option selected></option>
                        </select>
                      </div>
                    {% endfor %}
                  </div>
                </td>
                <td>
                  <center>
                    {% if i == 1 %}
                      <input type="time" class="form-control my-1" style="width: 100px" name="horaEntrada">
                    {% endif %}
                  </center>
                </td>
                <td>
                  <center>
                    <input type="time" class="form-control my-1" style="width: 100px" name="horaAtividade_{{ i }}">
                  </center>
                </td>
                <td>
                  <select class="form-control mr-sm-2 my-1" style="width: 100%" name="ativ{{ i }}">
                    <option selected></option>
                    {% for atividade in atividades %}
                      <option>{{ atividade }}</option>
                    {% endfor %}
                  </select>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>

      <table class="table table-striped table-sm" style="caption-side: top">
        <caption>Atividades de locação:</caption>
        <thead>
          <tr>
            <th style="width: 300px"><center>Nome dos professores</center></th>
            <th style="width: 200px"><center>Atividade</center></th>
            <th style="width: 100px"><center>Entrada</center></th>
            <th style="width: 100px"><center>Saída</center></th>
          </tr>
        </thead>
        <tbody>
          {% for i in rangei %}
          <tr>
            {% if i == 1 or i == 4 or i == 7 %}
              <td rowspan="3">
                <div class="row">
                  {% for j in rangej %}
                    <div style="width: 50%; margin-right: -15px">
                      <select class="form-select d mr-sm-2 my-1" name="prf{{ j }}loca{{ i }}">
                        <option selected></option>
                      </select>
                    </div>
                  {% endfor %}
                </div>
              </td>
            {% endif %}
            {% if i == 1 or i == 4 or i == 7 %}
              <td rowspan="3">

                <select class="form-select mr-sm-2 my-1" name="loca{{ i }}">
                  <option selected></option>
                  {% for atividade in atividades %}
                    <option>{{ atividade }}</option>
                  {% endfor %}
                </select>
              </td>
            {% endif %}
            <td>
                <input type="time" class="form-control my-1" name="horaEntrada{{ i }}">
            </td>
            <td>
                <input type="time" class="form-control my-1" name="horaSaida{{ i }}">
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
<!-------------------------------- RELATÓRIO FINAL ---------------------------->
      <div class="form-group">
        <label>Relatório do dia:</label>
        <textarea class="form-control mb-3" style="height: 150px; resize: none" name="relatorio"> Atividades realizadas com sucesso! </textarea>
        <button type="submit" class="btn btn-primary ml-5">Salvar</button>
      </div>
    </form>
  </div>

{% endblock %}
