{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
    <div class="row conteudo-ficha">
        <div class="titulo-os">
            <center>
                <h2>Ficha de Evento</h2>
            </center>
            <hr>
        </div>
        <form action='' method="POST">
            {% csrf_token %}
            <script src="{% static 'js/scripts_ficha_de_evento.js' %}"></script>
            <script src="{% static 'js/scripts_cliente.js' %}"></script>
            <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
            <script src="{% static 'js/Moment.js' %}"></script>
            <div class="row">
                <div style="width: 55%; margin-right: -15px">
                    <label>Cliente</label>
                    <input type="text" id="cliente" readonly onclick="pegarCliente()" required>
                    {{ form.cliente.as_hidden }}
                </div>
                <div style="width: 5%; align-items:end; display: flex; margin-right: 5%;">
                    <a href="{% url 'lista_cliente' %}" onclick="encaminhamento()" target="_blank"><i class='bx bx-search'></i></a>
                </div>
                <div style="width: 30%; margin-right: -15px">
                    <label>Responsavel</label>
                    <input type="text" id="responsavel" name="responsavel" onclick="pegarResponsavel()" readonly required>
                    {{ form.responsavel_evento.as_hidden }}
                </div>
                <div style="width: 5%; align-items:end; display: flex">
                    <a class="none search"  href="{% url 'lista_responsaveis' %}" target="_blank" ><i class='bx bx-search'></i></a>
                </div>
            </div>
            <hr>
            <div class="row produtos-peraltas checkbox form-group" style="width: 100%">
                <h5 class="titulo-secao">Produto Peraltas</h5>
                {{ form.produto }}
                <div class="mt-2" style="width: 50%">
                    <label>Qual?</label>
                    {{ form.outro_produto }}
                </div>
            </div>

            <hr>
            <div class="row mb-2">
                <h5 class="titulo-secao">Período e viagem e quantidades</h5>
                <div style="width: 35%">
                    <label>Check in</label>
                    {{ form.check_in }}
                </div>
                <div style="width: 35%">
                    <label>Check out</label>
                    {{ form.check_out }}
                </div>
            </div>
            <div class="row mb-2">
                <div style="width: 20%">
                    <label>QTD confirmada</label>
                    {{ form.qtd_confirmada }}
                </div>
                <div style="width: 20%">
                    <label>QTD convidada</label>
                    {{ form.qtd_confirmada }}
                </div>
                <div style="width: 20%">
                    <label>QTD professores</label>
                    {{ form.qtd_professores }}
                </div>
                <div class="mt-2">
                    {{ form.professores_com_alunos }}
                    <label class="my-1">Professores dormirão com os alunos?</label>
                </div>

            </div>
            <hr>
            <div class="row" style="width: 100%">
                <h5 class="titulo-secao">Perfil dos participantes</h5>
                <div class="row perfil checkbox">
                    {{ form.perfil_participantes }}
                </div>
            </div>
            <hr>
            <div>
                <h5 class="titulo-secao">Refeições</h5>
                <table class="table">
                    <thead>
                        <td style="width: 5px">Data</td>
                        <td style="width: 5px"><small>Café</small></td>
                        <td style="width: 5px"><small>Coffe manhã</small></td>
                        <td style="width: 5px"><small>Almoço</small></td>
                        <td style="width: 5px"><small>Lanche tarde</small></td>
                        <td style="width: 5px"><small>Coffe tarde</small></td>
                        <td style="width: 5px"><small>Jantar</small></td>
                        <td style="width: 5px"><small>Lanche noite</small></td>
                        <td style="width: 2px"><small></small></td>
                    </thead>
                    <tbody id="corpo-tabela-refeicao"></tbody>
                </table>
                <button class="buton-plus" type="button" onclick="add_refeicao()" style="margin-left: 5px; margin-top: -15px">
                    <span><i class='bx bxs-plus-circle'></i></span>
                </button>
            </div>
            <hr>
            <div class="form-check">
                <input class="form-check-input info" type="checkbox" value="" id="info_adicionais_ok" name="info_adicionais_ok" disabled required>
                <label class="my-1">Informações adicionais</label>
                <button class="buton-plus" type="button" id="add_infos" data-toggle="modal" data-target="#modal-adicionais" onclick="pegarIdInfosAdicionais()" style="margin-left: 5px; margin-top: -15px">
                    <span><i class='bx bxs-plus-circle'></i></span>
                </button>
            </div>
            {{ form.informacoes_adcionais.as_hidden }}
            <hr>
            <div class="form-check">
                <input class="form-check-input info" type="checkbox" value="" id="resumo_financeiro_ok" name="resumo_financeiro_ok" disabled required>
                <label class="my-1">Resumo financeiro</label>
                <button class="buton-plus" type="button" id="add_infos" data-toggle="modal" data-target="#resumo_financeiro" onclick="pegarIdResumoFinanceiro()" style="margin-left: 5px; margin-top: -15px">
                    <span><i class='bx bxs-plus-circle'></i></span>
                </button>
            </div>
            {{ form.resumo_financeiro.as_hidden }}
            <hr>
            <div class="form-check">
                <input class="form-check-input info" type="checkbox" value="" id="codigos_app_ok" name="codigos_app_ok" disabled>
                <label class="my-1">Códigos APP</label>
                <button class="buton-plus" type="button" id="add_infos" data-toggle="modal" data-target="#modal_codigos_app" onclick="pegarIdCodigosApp()" style="margin-left: 5px; margin-top: -15px">
                    <span><i class='bx bxs-plus-circle'></i></span>
                </button>
            </div>
            {{ form.codigos_app.as_hidden }}
            <hr>
            <div class="mb-3 row">
                <h5 class="titulo-secao">Observações</h5>
                {{ form.observacoes }}
            </div>
            {{ form.vendedora.as_hidden }}
            {{ form.empresa.as_hidden }}
            <script>
                $('#id_vendedora').val({{ request.user.pk }})
                $('#id_empresa').val('{{ grupo_usuario }}')
            </script>
            <button type="submit" class="btn btn-primary ml-5">Salvar</button>
        </form>
    </div>

    <form method="POST" action="{% url 'ficha_de_evento' %}" id="infos">
        {% csrf_token %}
        <!-- Modal -->
        <div class="modal fade" id="modal-adicionais" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Informações Adicionais</h5>
                <button type="button" class="x-fechar-modal" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                    <input type="hidden" name="infos" value="adicionais">
                    <div class="mt-4 checkbox" style="width: 20%">
                        {{ formAdicionais.transporte }}
                        <label>Transporte?</label>
                    </div>
                    <div class="mb-2 none" style="width: 50%" id="endereco_embarque">
                        {{ formAdicionais.endereco_embarque }}
                        <label>Endereço de embarque</label>
                    </div>
                </div>
                <div class="row">
                    <div class="mt-4 checkbox" style="width: 32%">
                        {{ formAdicionais.etiquetas_embarque }}
                        <label>Etiquetas de embarque?</label>
                    </div>
                    <div class="mb-2 none" style="width: 30%" id="servico_de_bordo">
                        {{ formAdicionais.servico_bordo }}
                        <label>Serviço de bordo</label>
                    </div>
                </div>
                <hr>
                <div class="row mb-2">
                    <div class="mt-4 checkbox" style="width: 15%">
                        {{ formAdicionais.biologo }}
                        <label>Biólogo?</label>
                    </div>
                    <div class="mb-2 none" style="width: 50%" id="quais_atividades">
                        <label>Em quais atividades</label>
                        {{ formAdicionais.quais_atividades }}
                    </div>
                </div>
                <div class="row">
                    <div class="mb-2" style="width: 40%">
                        <label>Monitoria</label>
                        {{ formAdicionais.monitoria }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div style="width: 30%">
                        <label>Enfermaria</label>
                        {{ formAdicionais.enfermaria }}
                    </div>
                    <div class="mb-2 none" style="width: 30%" id="horario">
                        <label>Horário</label>
                        {{ formAdicionais.horario_garantia }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div>
                        <h5 class="titulo-secao">Atividades CEU</h5>
                        {{ formAdicionais.atividades_ceu }}
                    </div>
                </div>
              <hr>
                <div class="row">
                    <div>
                        <h5 class="titulo-secao">Locções CEU</h5>
                            {{ formAdicionais.locacoes_ceu }}
                    </div>
                </div>
                <hr>
               <div class="row">
                    <div>
                        <h5 class="titulo-secao">Atividades Ecoturismo</h5>
                        {{ formAdicionais.atividades_eco }}
                    </div>
                </div>
                <hr>
                <div class="row mb-2">
                    <div class="checkbox" style="width: 15%">
                        {{ formAdicionais.seguro }}
                        <label>Seguro</label>
                    </div>
                    <div class="checkbox" style="width: 20%">
                        {{ formAdicionais.exclusividade }}
                        <label>Exclusividade</label>
                    </div>
                    <div class="checkbox" style="width: 20%">
                        {{ formAdicionais.fotos_site }}
                        <label>Fotos no site</label>
                    </div>
                    <div class="checkbox" style="width: 25%">
                        {{ formAdicionais.roupa_de_cama }}
                        <label>Roupa de cama</label>
                    </div>
                    <div class="mt-2 checkbox" style="width: 25%">
                        {{ formAdicionais.camera_on_line }}
                        <label>Camêra on-line</label>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <h5 class="titulo-secao">Formatura</h5>
                    <div class="checkbox" style="width: 13%">
                        {{ formAdicionais.abada }}
                        <label>Abadá</label>
                    </div>
                    <div class="checkbox" style="width: 18%">
                        {{ formAdicionais.camiseta }}
                        <label>Camiseta</label>
                    </div>
                    <div class="checkbox" style="width: 13%">
                        {{ formAdicionais.festas }}
                        <label>Festas</label>
                    </div>
                    <div class="checkbox" style="width: 25%">
                        {{ formAdicionais.cd_para_aluno }}
                        <label>Cd para o aluno</label>
                    </div>
                    <div class="checkbox" style="width: 18%">
                        {{ formAdicionais.bate_bate }}
                        <label>Bate-bate</label>
                    </div>
                    <div class="mt-3 checkbox" style="width: 20%">
                        {{ formAdicionais.fogueira }}
                        <label>Fogueira</label>
                    </div>
                </div>
                <hr>
                <div class="mt-3">
                    <label>Outros</label>
                    {{ formAdicionais.outros }}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="salvar_infos">Salvar informações</button>
              </div>
            </div>
          </div>
        </div>
    </form>

    <form method="POST" action="{% url 'ficha_de_evento' %}" id="financeiro">
    <!-- Modal do resumo financeiro -->
        <div class="modal fade" id="resumo_financeiro" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Resumo financeiro</h5>
                        <button type="button" class="x-fechar-modal" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="m-2 modal-body">
                        <input type="hidden" name="infos" value="financeiro">
                        <div class="row">
                            <h5 class="titulo-secao">Valores</h5>
                            <div style="width: 35%">
                                <label>Valor pacote R$</label>
                                {{ formFinanceiro.valor }}
                            </div>
                            <div style="width: 35%">
                                <label>Valor indivudual</label>
                                {{ formFinanceiro.valor_por_participantes }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <h5 class="titulo-secao">Forma de pagamento</h5>
                            <div style="width: 30%">
                                <select name="parcelas" id="parcelas" onchange="n_pracelas(this)">
                                    <option selected></option>
                                    <option value="1">A vista</option>
                                    <option value="2">2 vezes</option>
                                    <option value="3">3 vezes</option>
                                    <option value="4">4 vezes</option>
                                    <option value="5">5 vezes</option>
                                    <option value="6">6 vezes</option>
                                    <option value="7">7 vezes</option>
                                    <option value="8">8 vezes</option>
                                    <option value="9">9 vezes</option>
                                    <option value="10">10 vezes</option>
                                    <option value="11">11 vezes</option>
                                    <option value="12">12 vezes</option>
                                </select>
                            </div>
                            <div style="width: 30%">
                                <select name="forma_pagamento" id="forma_pagamento">
                                    <option selected></option>
                                    <option>Dinheiro</option>
                                    <option>Débito</option>
                                    <option>Crédito</option>
                                    <option>PIX</option>
                                    <option>Transferência</option>
                                    <option>Depósito</option>
                                    <option>Cheque</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="row" id="vencimentos">
                            <h5 class="titulo-secao">Vencimentos</h5>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="mb-3" style="width: 35%">
                                <label>Tipo de contrato</label>
                                {{ formFinanceiro.contrato }}
                            </div>
                            <div>
                                {{ formFinanceiro.nota_fiscal }}
                                <label>Nota fiscal?</label>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <h5 class="titulo-secao">Observações</h5>
                            {{ formFinanceiro.observacoes_financeiras }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Salvar resumoss</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form method="POST" action="{% url 'ficha_de_evento' %}" id="codigos_app">
        {% csrf_token %}
        <!-- Modal para o cadastro dos códigos do APP -->
        <div class="modal fade" id="modal_codigos_app" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Códigos APP</h5>
                        <button type="button" class="x-fechar-modal" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body app">
                        <input type="hidden" name="infos" value="app">
                        <div class="row">
                            <div style="width: 25%">
                                <label>Cliente PJ</label>
                                {{ formApp.cliente_pj }}
                            </div>
                            <div style="width: 25%">
                                <label>Cliente PF</label>
                                {{ formApp.cliente_pf }}
                            </div>
                            <div style="width: 25%">
                                <label>Evento</label>
                                {{ formApp.evento }}
                            </div>
                            <div style="width: 25%">
                                <label>Reserva</label>
                                {{ formApp.reserva }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}