{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
    <div class="row conteudo-ficha">
        <div class="titulo-os">
            <center>
                <h2>Ficha de Evento</h2>
            </center>
            <hr>
        </div>
        <form action='' method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <script src="{% static 'js/scripts_ficha_de_evento.js' %}"></script>
            <div class="row">
                <div style="width: 55%; margin-right: -15px">
                    <label>Cliente</label>
                    {{ form.cliente }}
                </div>
                <div style="width: 5%; align-items:end; display: flex; margin-right: 5%;">
                    <a href="#"><i class='bx bx-search'></i></a>
                </div>
                <div style="width: 30%; margin-right: -15px">
                    <label>Responsavel</label>
                    {{ form.responsavel_evento }}
                </div>
                <div style="width: 5%; align-items:end; display: flex">
                    <a href="#"><i class='bx bx-search'></i></a>
                </div>
            </div>
            <hr>
            <div class="row produtos-peraltas" style="width: 100%">
                <label>Produto Peraltas</label>
                {{ form.produto }}
            </div>
            <hr>


            <button type="submit" class="btn btn-primary ml-5">Salvar</button>
        </form>
    </div>

{% endblock %}
