{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}
{% load custom_filter_tag %}

{% block conteudo %}
    <link rel="stylesheet" href="{% static 'css/cadastro_ficha.css' %}"> <!-- Estilização da parte das Ficha de evento -->
    <div class="row conteudo-cliente">
        <div class="titulo-cliente">
            <h4>Busca de cliente</h4>
        </div>
        <hr>
        <div id="busca" class="busca mb-3">
            <form method="GET" action="{% url 'lista_cliente' %}" enctype='multipart/form-data'>
                <fieldset>
                    <script src="{% static 'js/scripts_cliente.js' %}"></script>
                    <div class="row">
                        <label>CNPJ</label>
                        <input class="form-control" type="text" value="{{ request.GET.termo }}" id="search-input" name="termo" style="width: 50%; margin-left: 10px">
                        <button type="submit" class="buton-search">
                            <span><i class='bx bx-search'></i></span>
                        </button>
                        <button class="buton-plus" type="button" onclick="novo_cliente()">
                            <span><i class='bx bxs-plus-circle'></i></span>
                        </button>
                    </div>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script> <!-- Máscaras -->
                </fieldset>
            </form>
            <hr>
        </div>

        <div class="lista-clientes">
            <table class="table">
                <thead>
                    <th style="width: 35%">CNPJ</th>
                    <th>NOME FANTASIA</th>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                        <tr>
                            <td>
                                <button type="button" class="button-cliente" onclick="completa_dados_cliente(this)">
                                    <span>
                                        {{ cliente.cnpj }}
                                    </span>
                                </button>
                            </td>
                            <td>{{ cliente.nome_fantasia }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <nav aria-label="...">
                <ul class="pagination justify-content-end">
                    {% for pagina in clientes.paginator.page_range %}
                        {% if clientes.number == pagina %}
                            <li class="page-item active"><a class="page-link" href="?page={{ pagina }}&termo={{ request.GET.termo }}">
                                {{ pagina }}
                            </a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ pagina }}&termo={{ request.GET.termo }}">
                                {{ pagina }}
                            </a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>

        <div id="update" class="dados-cliente none">
            <form method="POST" action="{% url 'lista_cliente' %}" onchange="put()" enctype='multipart/form-data'>
                <fieldset>
                    {% csrf_token %}
                    <div>
                        <label>Razão social</label>
                        {{ form.razao_social }}
                    </div>
                    <div class="row">
                        <div style="width: 35%">
                            <label>CNPJ</label>
                            {{ form.cnpj }}
                        </div>
                        <div style="width: 65%">
                            <label>Nome fantasia</label>
                            {{ form.nome_fantasia }}
                        </div>
                        <div style="width: 65%">
                            <label>Endereço</label>
                            {{ form.endereco }}
                        </div>
                        <div style="width: 35%">
                            <label>Bairro</label>
                            {{ form.bairro }}
                        </div>
                        <div style="width: 35%">
                            <label>Cidade</label>
                            {{ form.cidade }}
                        </div>
                        <div style="width: 15%">
                            <label>Estado</label>
                            {{ form.estado }}
                        </div>
                        <div style="width: 50%">
                            <label>CEP</label>
                            {{ form.cep }}
                        </div>
                    </div>
                    <input type="hidden" name="update" value="true">
                    <input type="hidden" id="id_id" name="id">
                    <button type="button" class="btn btn-primary ml-5" id="btn_selecionar_cliente" onclick="salvarCliente()">Seleconar cliente</button>
                    <button type="submit" class="btn btn-primary btn-update" disabled>Salvar</button>
                </fieldset>
            </form>
        </div>

        <div class="cadastro-novo none" id="cadastro">
            <form method="POST" action="{% url 'lista_cliente' %}" id="cadastro_cliente" enctype='multipart/form-data'>
                <fieldset>
                    {% csrf_token %}
                    <input type="hidden" name="novo" value="cliente">
                    <div class="row">
                        <h5 class="titulo-secao">Códigos APP</h5>
                        <div style="width: 20%">
                            <label>Cliente PJ</label>
                            {{ form.codigo_app_pj }}
                        </div>
                        <div style="width: 20%">
                            <label>Cliente PF</label>
                            {{ form.codigo_app_pf }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <h5 class="titulo-secao">Informações do cliente</h5>
                        <div>
                            <label>Razão social</label>
                            {{ form.razao_social }}
                        </div>
                        <div style="width: 35%">
                            <label>CNPJ</label>
                            {{ form.cnpj }}
                        </div>
                        <div style="width: 65%">
                            <label>Nome fantasia</label>
                            {{ form.nome_fantasia }}
                        </div>
                        <div style="width: 65%">
                            <label>Endereço</label>
                            {{ form.endereco }}
                        </div>
                        <div style="width: 35%">
                            <label>Bairro</label>
                            {{ form.bairro }}
                        </div>
                        <div style="width: 35%">
                            <label>Cidade</label>
                            {{ form.cidade }}
                        </div>
                        <div style="width: 15%">
                            <label>Estado</label>
                            {{ form.estado }}
                        </div>
                        <div style="width: 50%">
                            <label>CEP</label>
                            {{ form.cep }}
                        </div>
                    </div>
                    <hr>
                    <div class="row" id="div-pai-responsavel-evento">
                        <div id="responsavel-evento" style="width: 50%"></div>
                    </div>
                    <div id="add_responsavel">
                        <label>Adicionar responsavel</label>
                        <button class="buton-plus" type="button" style="margin-left: 0px" data-toggle="modal" data-target="#novo_responsavel">
                            <span><i class='bx bxs-plus-circle'></i></span>
                        </button>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary ml-5" >Salvar</button>
                </fieldset>
            </form>
        </div>

        <form method="POST" action="{% url 'lista_cliente' %}" id="form_responsavel">
            {% csrf_token %}
            <fieldset>
                <div class="modal fade" tabindex="-1" role="dialog" id="novo_responsavel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Cadastro de novo responsável</h5>
                                <button type="button" class="close x-fechar-modal" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="cadastro-responsavel">
                                    <div class="row mb-3">
                                        <div style="width: 60%">
                                            <label>Nome Completo</label>
                                            {{ formResponsavel.nome }}
                                        </div>
                                        <div style="width: 40%">
                                            <label>Telefone</label>
                                            {{ formResponsavel.fone }}
                                        </div>
                                        <div style="width: 30%">
                                            <label>Cargo</label>
                                            {{ formResponsavel.cargo }}
                                        </div>
                                        <div style="width: 70%">
                                            <label>Email</label>
                                            {{ formResponsavel.email_responsavel_evento }}
                                        </div>
                                        <input type="hidden" name="novo" value="responsavel">
                                    </div>
                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script> <!-- Máscaras -->
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Savar</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

{% endblock %}