{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
<!-------------------------------- LINHA 1 ---------------------------->
  <div class="row conteudo-publico">
    <div class="titulo-publico">
      <center>
        <h2>RELATÓRIO DE ATENDIMENTO DO PÚBLICO</h2>
      </center>
    </div>
    <hr>
    <form action="{% url 'publico' %}" method="POST">
      {% csrf_token %}
      <script src="{% static 'js/teste.js' %}"></script>
      <script src="{% static 'js/validacao.js' %}"></script>
      <div class="row">
        <div style="width: 20%" class="mb-3">
          <label>Coordenador</label>
            <select class="form-select mr-sm-2" id="coordenador" name="coordenador" onclick="validarTabelaPublico()" onchange="equipe(this)" required>
              <option selected></option>
              {% for professor in professores %}
                <option>{{ professor.usuario.first_name }}</option>
              {% endfor %}
            </select>
        </div>
        <div style="width: 35%">
          <label class="participantes" style="margin-left: 80px">Participantes: </label>
          <div class="row">
            <div style="width: 40%">
              {{ formulario.participantes_previa }}
            </div>
            <div style="width: 60%">
              {{ formulario.participantes_confirmados }}
            </div>
          </div>
        </div>
        <div style="width: 26%">
          <label>Data do atendimento</label>
          {{ formulario.data_atendimento }}
        </div>
      </div>

      <!-------------------------------- LINHA 2 ---------------------------->
      <div class="row">
        <div style="width: 20%">
          <label>Professor 2: </label>
            <select class="form-select mr-sm-2" id="professor_2" name="professor_2" onchange="equipe(this)" required>
              <option selected></option>
              {% for professor in professores %}
                <option>{{ professor.usuario.first_name }}</option>
              {% endfor %}
            </select>
        </div>
        <div style="width: 20%">
          <label>Professor 3: </label>
            <select class="form-select mr-sm-2" id="professor_3" name="professor_3" onchange="equipe(this)">
              <option selected></option>
              {% for professor in professores %}
                <option>{{ professor.usuario.first_name }}</option>
              {% endfor %}
            </select>
        </div>
        <div style="width: 20%">
          <label>Professor 4: </label>
            <select class="form-select mr-sm-2" id="professor_4" name="professor_4" onchange="equipe(this)">
              <option selected></option>
              {% for professor in professores %}
                <option>{{ professor.usuario.first_name }}</option>
              {% endfor %}
            </select>
        </div>
        </div>
      <hr>
<!-------------------------------- LINHA 3 ---------------------------->
      <table class="table table-striped table-sm" style="caption-side: top">
        <caption>Atividades realizadas no CEU:</caption>
        <thead>
          <tr>
            <th style="width: 550px"><center>Nome dos professores</center></th>
            <th style="width: 100px"><center>Início</center></th>
            <th style="width: 250px"><center>Atividade</center></th>
          </tr>
        </thead>
        <tbody>
          {% for i in rangei %}
          <tr>
            <td>
              <div class="row">
                {% for j in rangej %}
                  <div style="width: 135px; margin-right: -20px">
                    <select class="form-select d mr-sm-2 my-1" id="prf{{ j }}atv{{ i }}" name="prf{{ j }}atv{{ i }}" onchange="validarTabelaPublico()">
                      <option selected></option>
                    </select>
                  </div>
                {% endfor %}
              </div>
            </td>
            <td>
              <center>
                <input type="time" class="form-control my-1" style="width: 100px" id="horaAtividade_{{ i }}" name="horaAtividade_{{ i }}" onchange="validarTabelaPublico()">
              </center>
            </td>
            <td>
              <select class="form-select mr-sm-2 my-1" style="width: 100%" name="ativ{{ i }}" id="ativ{{ i }}" onchange="validarTabelaPublico()">
                <option selected></option>
                {% for atividade in atividades %}
                  <option>{{ atividade.atividade }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
<!-------------------------------- RELATÓRIO FINAL ---------------------------->
      <div>
        <label>Relatório do dia:</label>
        {{ formulario.relatorio }}
        <button type="submit" class="btn btn-primary ml-5">Salvar</button>
      </div>
    </form>
  </div>

{% endblock %}


