{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
<!-------------------------------- LINHA 1 ---------------------------->
  <div class="row conteudo-publico">
    <div class="titulo-publico">
      <center>
        <h2>CADASTRO DE ORDEM DE SERVIÇO DE PÚBLICO</h2>
      </center>
    </div>
    <hr>
    <form action="{% url 'publico' %}" method="POST">
      {% csrf_token %}
      <script src="{% static 'js/teste.js' %}"></script>
        <div class="row">
          <div style="width: 20%" class="mb-3">
            <label>Coordenador</label>
            {{ formulario.coordenador }}
          </div>
          <div style="width: 35%">
            <label class="participantes" style="margin-left: 80px">Participantes: </label>
            <div class="row">
              <div style="width: 40%">
                {{ formulario.participantes_previa }}
              </div>
              <div style="width: 60%">
                {{ formulario.participantes_confirmados }}
              </div>
            </div>
          </div>
          <div style="width: 26%">
            <label>Data do atendimento</label>
            {{ formulario.data_atendimento }}
          </div>
        </div>
<!-------------------------------- LINHA 2 ---------------------------->
      <div class="row">
        <div style="width: 20%">
          <label>Professor 2: </label>
          {{ formulario.professor_2 }}
        </div>
        <div style="width: 20%">
          <label>Professor 3: </label>
          {{ formulario.professor_3 }}
        </div>
        <div style="width: 20%">
          <label>Professor 4: </label>
          {{ formulario.professor_4 }}
        </div>
        </div>
      <hr>
<!-------------------------------- LINHA 3 ---------------------------->
      <table class="table table-striped table-sm" style="caption-side: top">
        <caption>Atividades realizadas no CEU:</caption>
        <thead>
          <tr>
            <th style="width: 400px"><center>Nome dos professores</center></th>
            <th style="width: 100px"><center>Entrada</center></th>
            <th style="width: 100px"><center>Início</center></th>
            <th style="width: 150px"><center>Atividade</center></th>
          </tr>
        </thead>
        <tbody>
          {% for i in rangei %}
          <tr>
            <td>
              <div class="row">
                {% for j in rangej %}
                  <div style="width: 120px; margin-right: -20px">
                    <select class="form-control d mr-sm-2 my-1" name="prf{{ j }}atv{{ i }}">
                      <option selected></option>
                      {% for professor in professores %}
                        <option value="{{ professor.id }}">{{ professor.nome }}</option>
                      {% endfor %}
                    </select>
                  </div>
                {% endfor %}
              </div>
            </td>
            <td>
              <center>
                {% if i == 1 %}
                  {{ formulario.hora_entrada }}
                {% endif %}
              </center>
            </td>
            <td>
              <center>
                <input type="time" class="form-control my-1" style="width: 100px" name="horaAtividade_{{ i }}">
              </center>
            </td>
            <td>
              <select class="form-control mr-sm-2 my-1" style="width: 100%" name="ativ{{ i }}" id="ativ{{ i }}">
                <option selected></option>
                {% for atividade in atividades %}
                  <option>{{ atividade }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
<!-------------------------------- RELATÓRIO FINAL ---------------------------->
      <div>
        <label>Relatório do dia:</label>
        {{ formulario.relatorio }}
        <button type="submit" class="btn btn-primary ml-5">Salvar</button>
      </div>
    </form>
  </div>

{% endblock %}


