{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}

  <div class="agradecimentos">
    <center>
        <img class="imagem" src="{% static 'img/grupoPeraltas.png' %}" style="margin-top: 50px">
        <img class="imagem" src="{% static 'img/logoAvalicao.png' %}">

      <hr>
      <p class="texto-animacao" align="center">
        Agradecemos a atenção e ao preenchimento desta ficha
      </p>
      <p class="texto-animacao" align="center">
        Que seu grupo tenha um bom retorno à Terra!
      </p>
      <p class="texto-animacao" align="center">
        Nos vemos no futuro!
      </p>
      <hr>
    </center>
  </div>

<script>
    setTimeout(() =>
        {  window.location.href = "{% url 'logout' %}";
    }, 8000)
    ;
</script>

{% endblock %}
