{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
    <!-------------------------------- LINHA 1 ---------------------------->
    <div class="conteudo-inicio">
        <center>
            <img class="imagem" src="{% static 'img/grupoPeraltas.png' %}" style="margin-top: 50px">
            <img class="imagem" src="{% static 'img/logoAvalicao.png' %}">

            <hr>
            <p>
                Olá cara professora, caro professor
            </p>
            <p class="texto-animacao" align="justify">
                Esta é uma ficha de avaliação das atividades feitas pelo seu grupo. Para nós, os dados aqui coletados
                são
                de grande importância na busca pela excelência de nossos serviços e na qualidade da infraestrutura.
            </p>
            <p align="right">
                Ass. Grupo Peraltas e Fundação CEU
            </p>
            <hr>
            <button onClick="animacao()">
                <span><h4>Iniciar</h4></span>
            </button>
        </center>
    </div>

    <div class="conteudo-avaliacao hide" style="padding: 10px">
        <script src="{% static 'js/script_base.js' %}"></script>

        <div class="head">
            <img src="{% static  'img/logoAvalicao.png' %}">
            <p>Ficha de Avaliação das atividades</p>
        </div>
        <hr class="divisao">

        <form action="{% url 'fichaAvaliacao' %}" method="POST">
            {% csrf_token %}
            <script src="{% static 'js/script_base.js' %}"></script>
            <script src="{% static 'js/jquery.js' %}"></script>
            <link rel="stylesheet" href="{% static 'css/avaliacao.css' %}">

            <!-- Identificação do colégio e quantidades -->
            <h5 class="titulo-secao">Dados do grupo</h5>
            <div id="dados_grupo" style="display: flex; gap: 30px;">
                <div style="width: 60%">
                    {{ form.instituicao }}
                </div>
                <div style="width: 35%">
                    {{ form.cidade }}
                </div>
                <div style="display: flex; align-items: baseline; gap: 5px; width: 20%">
                    <label>
                        <nobr>Nº Alunos:</nobr>
                    </label>
                    {{ form.n_alunos }}
                </div>
                <div style="display: flex; align-items: baseline; gap: 5px; width: 25%;">
                    <label>
                        <nobr>Nº Educadores:</nobr>
                    </label>
                    {{ form.n_professores }}
                </div>
                <div style="display: flex; align-items: baseline; gap: 5px; width: 46%;">
                    <label>
                        <nobr>Série:</nobr>
                    </label>
                    {{ form.serie }}
                </div>
            </div>

            <!-- Identificação dos avaliadores -->
            <hr class="divisao">
            <h5 class="titulo-secao">Identificação do avaliador</h5>
            <div style="display: flex; gap: 30px;">
                <div style="width: 35%">
                    {{ form.nome_avaliador }}
                </div>
                <div style="width: 35%">
                    {{ form.cargo_avaliador }}
                </div>
                <div style="width: 35%">
                    {{ form.email_avaliador }}
                </div>
            </div>
            <hr class="divisao">

            <!-- Avaliação representante de vendas -->
            <h5 class="titulo-secao">Avaliação do responsável de vendas</h5>
            <div class="vendas">
                <div class="labels" style="display: flex; gap: 15px; margin-left: 74px;">
                    <label style="margin-left: 145px"><b>Cordialidade</b></label>
                    <label style="margin-left: 75px"><b>Agilidade</b></label>
                    <label style="margin-left: 100px"><b>Clareza de ideias</b></label>
                </div>
                <div style="display: flex; gap: 30px;">
                    <div style="width: 30%">
                        {{ form.nome_vendedor }}
                    </div>
                    <div style="width: 26%">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cordialidade_vendedor" id="inlineRadio5"
                                   value="5" required>
                            <label class="form-check-label" for="inlineRadio1">5</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cordialidade_vendedor" id="inlineRadio4"
                                   value="4">
                            <label class="form-check-label" for="inlineRadio2">4</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cordialidade_vendedor" id="inlineRadio3"
                                   value="3">
                            <label class="form-check-label" for="inlineRadio3">3</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cordialidade_vendedor" id="inlineRadio2"
                                   value="2">
                            <label class="form-check-label" for="inlineRadio3">2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cordialidade_vendedor" id="inlineRadio1"
                                   value="1">
                            <label class="form-check-label" for="inlineRadio3">1</label>
                        </div>
                    </div>
                    <div style="width: 26%">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="agilidade_vendedor" id="inlineRadio5"
                                   value="5" required>
                            <label class="form-check-label" for="inlineRadio1">5</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="agilidade_vendedor" id="inlineRadio4"
                                   value="4">
                            <label class="form-check-label" for="inlineRadio2">4</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="agilidade_vendedor" id="inlineRadio3"
                                   value="3">
                            <label class="form-check-label" for="inlineRadio3">3</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="agilidade_vendedor" id="inlineRadio2"
                                   value="2">
                            <label class="form-check-label" for="inlineRadio3">2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="agilidade_vendedor" id="inlineRadio1"
                                   value="1">
                            <label class="form-check-label" for="inlineRadio3">1</label>
                        </div>
                    </div>
                    <div style="width: 26%">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="clareza_vendedor" id="inlineRadio5"
                                   value="5"
                                   required>
                            <label class="form-check-label" for="inlineRadio1">5</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="clareza_vendedor" id="inlineRadio4"
                                   value="4">
                            <label class="form-check-label" for="inlineRadio2">4</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="clareza_vendedor" id="inlineRadio3"
                                   value="3">
                            <label class="form-check-label" for="inlineRadio3">3</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="clareza_vendedor" id="inlineRadio2"
                                   value="2">
                            <label class="form-check-label" for="inlineRadio3">2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="clareza_vendedor" id="inlineRadio1"
                                   value="1">
                            <label class="form-check-label" for="inlineRadio3">1</label>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="divisao">
            <!-- Avaliação atividades -->
            <h5 class="titulo-secao">Atividades do CEU - Centro de Estudos do Universo</h5>
            <div style="display: flex; flex-wrap: wrap; column-gap: 30px; row-gap: 20px">
                {% for atividade in form.atividades %}
                    <div style="width: 75%">
                        <input type="text" name="atividade_{{ forloop.counter }}" id="atividade_{{ forloop.counter }}"
                               value="{{ atividade }}" readonly>
                    </div>
                    <div style="width: 20%">
                        <select name="avaliacao_atividade_{{ forloop.counter }}"
                                id="avaliacao_ativ_{{ forloop.counter }}" required>
                            <option value="" disabled selected>...</option>
                            <option value="5">Excelente</option>
                            <option value="4">Ótimo</option>
                            <option value="3">Bom</option>
                            <option value="2">Regular</option>
                            <option value="1">Ruim</option>
                        </select>
                    </div>
                {% endfor %}
            </div>
            <hr class="divisao">
            <!-- Avaliação dos professores do CEU -->
            <h5 class="titulo-secao">Avaliação dos Professores do CEU</h5>
            <div style="display: flex; flex-direction: column;">
                <div class="labels" style="display: flex; margin-left: 63px;">
                    <label style="margin-left: 150px"><b>Dominio do assunto</b></label>
                    <label style="margin-left: 53px"><b>Cordialidade</b></label>
                    <label style="margin-left: 85px"><b>Desenvoltura</b></label>
                </div>
                <div style="display: flex; flex-wrap: wrap; gap: 20px">
                    {% for professor in form.professores %}
                        <div style="width: 26%; height: fit-content">
                            <input type="text" name="professor_{{ forloop.counter }}"
                                   id="professor_{{ forloop.counter }}" value="{{ professor.nome }}"
                                   readonly>
                        </div>
                        <div style="width: 22%">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                       name="dominio_professor_{{ forloop.counter }}"
                                       id="inlineRadio5" value="5" required>
                                <label class="form-check-label" for="inlineRadio1">5</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                       name="dominio_professor_{{ forloop.counter }}"
                                       id="inlineRadio4" value="4">
                                <label class="form-check-label" for="inlineRadio2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                       name="dominio_professor_{{ forloop.counter }}"
                                       id="inlineRadio3" value="3">
                                <label class="form-check-label" for="inlineRadio3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                       name="dominio_professor_{{ forloop.counter }}"
                                       id="inlineRadio2" value="2">
                                <label class="form-check-label" for="inlineRadio3">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                       name="dominio_professor_{{ forloop.counter }}"
                                       id="inlineRadio1" value="1">
                                <label class="form-check-label" for="inlineRadio3">1</label>
                            </div>
                        </div>
                        <div style="width: 22%">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                       name="cordialidade_professor_{{ forloop.counter }}" id="inlineRadio5" value="5"
                                       required>
                                <label class="form-check-label" for="inlineRadio1">5</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                       name="cordialidade_professor_{{ forloop.counter }}" id="inlineRadio4" value="4">
                                <label class="form-check-label" for="inlineRadio2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                       name="cordialidade_professor_{{ forloop.counter }}" id="inlineRadio3" value="3">
                                <label class="form-check-label" for="inlineRadio3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                       name="cordialidade_professor_{{ forloop.counter }}" id="inlineRadio2" value="2">
                                <label class="form-check-label" for="inlineRadio3">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                       name="cordialidade_professor_{{ forloop.counter }}" id="inlineRadio1" value="1">
                                <label class="form-check-label" for="inlineRadio3">1</label>
                            </div>
                        </div>
                        <div style="width: 22%">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                       name="desenvoltura_professor_{{ forloop.counter }}" id="inlineRadio5" value="5"
                                       required>
                                <label class="form-check-label" for="inlineRadio1">5</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                       name="desenvoltura_professor_{{ forloop.counter }}" id="inlineRadio4" value="4">
                                <label class="form-check-label" for="inlineRadio2">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                       name="desenvoltura_professor_{{ forloop.counter }}" id="inlineRadio3" value="3">
                                <label class="form-check-label" for="inlineRadio3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                       name="desenvoltura_professor_{{ forloop.counter }}" id="inlineRadio2" value="2">
                                <label class="form-check-label" for="inlineRadio3">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"
                                       name="desenvoltura_professor_{{ forloop.counter }}" id="inlineRadio1" value="1">
                                <label class="form-check-label" for="inlineRadio3">1</label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <hr class="divisao">
            <!-- Avaliações gerais -->
            <h5 class="titulo-secao">Avaliação Geral</h5>
            <div style="display: flex; flex-direction: column; width: 98%;">
                <label><nobr>O que motivou trazer o seu grupo?</nobr></label>
                {{ form.motivo_trazer_grupo }}
            </div>
            <div style="display: flex; margin-top: 20px">
                <div style="width: 50%">
                    <div style="display: flex; width: 76%; margin-bottom: 20px; gap: 10px">
                        <label><nobr>Conteúdo Pedagógico:</nobr></label>
                        {{ form.avaliacao_conteudo_pedagogico }}
                    </div>
                    <div style="display: flex; width: 80%; margin-bottom: 20px; gap: 10px">
                        <label><nobr>Limpeza das Instalações:</nobr></label>
                        {{ form.limpeza_instalacoes }}
                    </div>
                    <div style="display: flex; width: 88%; margin-bottom: 20px; gap: 10px">
                        <label><nobr>Conservação das estruturas:</nobr></label>
                        {{ form.estado_conservacao }}
                    </div>
                </div>
                <div>
                    <img src="{% static  'img/logoAvalicao.png' %}">
                </div>
            </div>
            <div style="display: flex; width: 98%; margin-bottom: 20px; flex-direction: column">
                <label>O que deseja ver na próxima visita ao CEU?</label>
                {{ form.o_que_quer_proxima }}
            </div>
            <div style="display: flex; width: 98%; margin-bottom: 20px; flex-direction: column;">
                <label>Outras observações:</label>
                {{ form.observacoes }}
            </div>
            <hr class="divisao">
            <div style="display: flex; justify-content: end; padding-right: 20px; margin-bottom: 20px;">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>

{% endblock %}
