#conteudo_pre_orcamento {
    margin: auto;
    width: 1100px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 5px 5px 10px;
    border-radius: 15px;
    padding: 10px;
}

#conteudo_pre_orcamento .aba {
    height: 2em;
    margin: 0 1px 0 0;
    box-shadow: 4px 1px 6px 2px;
    padding: 5px;
    border-radius: 10px 10px 0 0;
    background: #414040;
    color: #FFFFFF;
    cursor: pointer;
}

#conteudo_pre_orcamento .aba.ativo {
    background: #f1f1f1;
    color: #000000;
}

.btn_adicionar_nova_previa {
    background: transparent;
    border: none;
    font-size: 25px;
}

.div_btns_status {
    display: flex;
    column-gap: 10px;
}

.btn_alterar_status_previa {
    background: transparent;
    border: none;
    font-size: 25px;
}

#pre_orcamento table tr, #clientes table tr{
    vertical-align: middle;
}

#pre_orcamento table thead, #pre_orcamento table tbody tr > td:not(:first-child),
#clientes table thead, #clientes table tbody tr > td:not(:first-child){
    text-align: center;
}