#conteudo_pre_orcamento, #conteudo_nova_previa {
    margin: auto auto 200px;
    width: 1100px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 5px 5px 10px;
    border-radius: 15px;
    padding: 10px;
}

#conteudo_nova_previa {
    width: 800px;
}

#conteudo_pre_orcamento .aba {
    height: 2em;
    margin: 0 1px 0 0;
    box-shadow: 4px 1px 6px 2px;
    padding: 5px;
    border-radius: 10px 10px 0 0;
    background: #414040;
    color: #FFFFFF;
    cursor: pointer;
}

#conteudo_pre_orcamento .aba.ativo {
    background: #f1f1f1;
    color: #000000;
}

.btn_adicionar_nova_previa {
    background: transparent;
    border: none;
    font-size: 25px;
}

.div_btns_status {
    display: flex;
    column-gap: 10px;
}

.btn_alterar_status_previa {
    background: transparent;
    border: none;
    font-size: 25px;
}

#pre_orcamento table tr, #clientes table tr{
    vertical-align: middle;
}

#pre_orcamento table thead, #pre_orcamento table tbody tr > td:not(:first-child),
#clientes table thead, #clientes table tbody tr > td:not(:first-child){
    text-align: center;
}

#conteudo_nova_previa #dados_cliente {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

#conteudo_nova_previa #dados_cliente div {
    display: flex;
    flex-direction: column;
}

#conteudo_nova_previa input:not(input[type=checkbox]) {
    padding: 2px 8px 2px 8px;
    border: solid 1px #b5b4b4;
    background: #fff;
    border-radius: 7px;
    width: 100%;
}

#conteudo_nova_previa select {
    padding: 2px 8px 2px 8px;
    border: solid 1px #b5b4b4;
    background: #fff;
    border-radius: 7px;
    width: 100%;
}

#div_id_nome_colegio {
    width: 69%;
}

#div_id_nome_responsavel {
    width: 60%;
}

#valores_base {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.inativo {
    opacity: 0.5;
    pointer-events: none;
}

#previa {
    border: solid 1px #5c5c5c;
    background: #f1f1f1;
    box-shadow: inset 0 0 8px
}

#venda_certa {
    border-right: solid 1px #000000;
    box-sizing: border-box;
}

#venda_certa #titulo, #atividades .abas_secao {
    padding: 5px;
    width: 100%;
    border-bottom: solid 1px #000000;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0 3px 5px;
    margin-bottom: 10px;
    text-align: center;
}

#venda_certa #sugestoes div {
    height: 40px;
    margin: 0 20px 10px 20px;
    border: solid 1px;
    border-radius: 15px;
    box-shadow: 1px 3px 4px 1px;
    background: #ffffff;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

#atividades .abas_secao {
    padding: 0;
    display: flex;
}

#atividades .abas_secao div{
    margin-left: 10px;
    box-shadow: 1px 1px 1px 1px;
}
