:root {
    --cor-planetario: #003366;
    --cor-observacao: #336699;
    --cor-astronomia: #3366cc;
    --cor-geologia: #ffa664;
    --cor-fisica: #6699cc;
    --cor-astronautica: #336666;
    --cor-agua: #336633;
    --cor-fazendinha: #666633;
    --cor-meio-ambiente: #666666;
    --cor-eclusa: #999999;
    --cor-fazenda-de-cafe: #663300;
    --cor-formatura: #660000;
}


#conteudo_pre_orcamento, #conteudo_nova_previa {
    margin: auto auto 200px;
    width: 1100px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 5px 5px 10px;
    border-radius: 15px;
    padding: 10px;
}

#conteudo_nova_previa {
    width: 800px;
}

#conteudo_pre_orcamento .aba {
    height: 2em;
    margin: 0 1px 0 0;
    box-shadow: 4px 1px 6px 2px;
    padding: 5px;
    border-radius: 10px 10px 0 0;
    background: #414040;
    color: #FFFFFF;
    cursor: pointer;
}

#conteudo_pre_orcamento .aba.ativo {
    background: #f1f1f1;
    color: #000000;
}

.btn_adicionar_nova_previa {
    background: transparent;
    border: none;
    font-size: 25px;
}

.div_btns_status {
    display: flex;
    column-gap: 10px;
}

.btn_alterar_status_previa {
    background: transparent;
    border: none;
    font-size: 25px;
}

#pre_orcamento table tr, #clientes table tr {
    vertical-align: middle;
}

#pre_orcamento table thead, #pre_orcamento table tbody tr > td:not(:first-child),
#clientes table thead, #clientes table tbody tr > td:not(:first-child) {
    text-align: center;
}

#conteudo_nova_previa #dados_cliente {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

#conteudo_nova_previa #dados_cliente div {
    display: flex;
    flex-direction: column;
}

#conteudo_nova_previa input:not(input[type=checkbox]) {
    padding: 2px 8px 2px 8px;
    border: solid 1px #b5b4b4;
    background: #fff;
    border-radius: 7px;
    width: 100%;
}

#conteudo_nova_previa select {
    padding: 2px 8px 2px 8px;
    border: solid 1px #b5b4b4;
    background: #fff;
    border-radius: 7px;
    width: 100%;
}

#div_id_nome_colegio {
    width: 69%;
}

#div_id_nome_responsavel {
    width: 60%;
}

#valores_base {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.inativo {
    opacity: 0.5;
    pointer-events: none;
}

#previa {
    border: solid 1px #5c5c5c;
    background: #f1f1f1;
    box-shadow: inset 0 0 8px
}

#venda_certa {
    border-right: solid 1px #000000;
    box-sizing: border-box;
}

#venda_certa #sugestoes {
    display: flex;
    min-height: 300px;
    flex-direction: column;
    justify-content: center;
    height: 95%;
    align-items: center;
    padding: 0 15px 0 15px;
}

#atividades .conteudo_atividades {
    max-height: 350px;
    overflow: auto;
    padding: 20px;
}

#venda_certa #titulo, #atividades .abas_secao {
    padding: 5px;
    width: 100%;
    border-bottom: solid 1px #000000;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0 3px 5px;
    text-align: center;
}

.card_atividade {
    height: 40px;
    width: 100%;
    margin-bottom: 15px;
    border: solid 1px #000000;
    border-radius: 15px;
    box-shadow: 1px 3px 4px 1px #000000;
    color: #ffffff;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

#atividades .abas_secao {
    padding: 0;
    display: flex;
    height: 35px;
}

#atividades .abas_secao .aba_ativa {
    box-shadow: inset -2px 0 2px 0 #000000;
    background: #a4a4a4;
    color: #FFFFFF;
}

#atividades .abas_secao div {
    background: #FFFFFF;
    color: #000000;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
/* ------------ Cores das legendas dos temas de interesse ------------ */
#select2-temas_interesse-container li > button {
    color: #FFFFFF;
}
/* Planetário */

#select2-temas_interesse-container > li[title="Planetário"] {
    background: var(--cor-planetario);
    color: #FFFFFF;
}

#select2-temas_interesse-container li[title="Planetário"] > button:hover {
    color: #000000;
    background: var(--cor-planetario);
}

/* Observação */
#select2-temas_interesse-container > li[title="Observação"] {
    background: var(--cor-observacao);
    color: #FFFFFF;
}

#select2-temas_interesse-container li[title="Observação"] > button:hover {
    color: #000000;
    background: var(--cor-observacao);
}

/* Astronomia */
#select2-temas_interesse-container > li[title="Astronomia"] {
    background: var(--cor-astronomia);
    color: #FFFFFF;
}

#select2-temas_interesse-container li[title="Astronomia"] > button:hover {
    color: #000000;
    background: var(--cor-astronomia);
}

/* Geologia */
#select2-temas_interesse-container > li[title="Geologia"] {
    background: var(--cor-geologia);
    color: #FFFFFF;
}

#select2-temas_interesse-container li[title="Geologia"] > button:hover {
    color: #000000;
    background: var(--cor-geologia);
}

/* Física */
#select2-temas_interesse-container > li[title="Física"] {
    background: var(--cor-fisica);
    color: #FFFFFF;
}

#select2-temas_interesse-container li[title="Física"] > button:hover {
    color: #000000;
    background: var(--cor-fisica);
}

/* Astronáutica */
#select2-temas_interesse-container > li[title="Astronáutica"] {
    background: var(--cor-astronautica);
    color: #FFFFFF;
}

#select2-temas_interesse-container li[title="Astronáutica"] > button:hover {
    color: #000000;
    background: var(--cor-astronautica);
}

/* Água */
#select2-temas_interesse-container > li[title="Água"] {
    background: var(--cor-agua);
    color: #FFFFFF;
}

#select2-temas_interesse-container li[title="Água"] > button:hover {
    color: #000000;
    background: var(--cor-agua);
}

/* Fazendinha */
#select2-temas_interesse-container > li[title="Fazendinha"] {
    background: var(--cor-fazendinha);
    color: #FFFFFF;
}

#select2-temas_interesse-container li[title="Fazendinha"] > button:hover {
    color: #000000;
    background: var(--cor-fazendinha);
}

/* Meio ambiente */
#select2-temas_interesse-container > li[title="Meio ambiente"] {
    background: var(--cor-meio-ambiente);
    color: #FFFFFF;
}

#select2-temas_interesse-container li[title="Meio ambiente"] > button:hover {
    color: #000000;
    background: var(--cor-meio-ambiente);
}

/* Eclusa */
#select2-temas_interesse-container > li[title="Eclusa"] {
    background: var(--cor-eclusa);
    color: #FFFFFF;
}

#select2-temas_interesse-container li[title="Eclusa"] > button:hover {
    color: #000000;
    background: var(--cor-eclusa);
}

/* Fazenda de café */
#select2-temas_interesse-container > li[title="Fazenda de café"] {
    background: var(--cor-fazenda-de-cafe);
    color: #FFFFFF;
}

#select2-temas_interesse-container li[title="Fazenda de café"] > button:hover {
    color: #000000;
    background: var(--cor-fazenda-de-cafe);
}

/* Formatura */
#select2-temas_interesse-container > li[title="Formatura"] {
    background: var(--cor-formatura);
    color: #FFFFFF;
}

#select2-temas_interesse-container li[title="Formatura"] > button:hover {
    color: #000000;
    background: var(--cor-formatura);
}