#conteudo_ficha_financeira {
    background-color: #fff;
    margin: 5% auto 10% auto;
    width: 750px;
    padding: 10px;
    box-shadow: 5px 5px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

#conteudo_ficha_financeira input:not(input[type=checkbox]) {
    padding: 2px 8px 2px 8px;
    border: solid 1px #b5b4b4;
    background: #fff;
    border-radius: 7px;
}

#conteudo_ficha_financeira select {
    padding: 2px 8px 2px 8px;
    border: solid 1px #b5b4b4;
    background: #fff;
    border-radius: 7px;
}

#conteudo_ficha_financeira textarea, .modal textarea {
    resize: none;
    border: solid 1px #b5b4b4;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

#conteudo_ficha_financeira .titulo {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    align-items: end;
    padding: 0 5px 0px 5px;
}

.titulo h5 {
    margin: 0 0 -15px 0;
}

#conteudo_ficha_financeira .cabecalho {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    justify-content: center;
}

.cabecalho div {
    display: flex;
    height: fit-content;
    align-items: center;
    width: 65%;
    gap: 5px;
}

.cabecalho input {
    flex-grow: 1;
}

#conteudo_ficha_financeira .dados_evento, #conteudo_ficha_financeira .planos_pagamento,
#conteudo_ficha_financeira .nota_fiscal, #conteudo_ficha_financeira .observacoes {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: self-end;
}

.dados_evento > div, .planos_pagamento > div, #conteudo_ficha_financeira .nota_fiscal > div,
#conteudo_ficha_financeira .observacoes > div {
    display: flex;
    flex-direction: column;
}

#div_id_responsavel_operacional {
    width: 70%;
}

#div_id_colaborador {
    width: 48%;
}

#div_id_responsavel_financeiro {
    width: 27%;
}

#div_id_comissao {
    width: 12%;
}

#div_id_qtd_reservada, #div_id_alunos_confirmados, #div_id_responsaveis_confirmados, #div_id_cortesia_alunos,
#div_id_cortesia_responsaveis {
    width: 18%;
}

#div_id_responsaveis_outros_locais, #div_id_alunos_outros_locais {
    width: 20%;
}

.inalteravel {
    pointer-events: none;
    cursor: not-allowed;
}

#div_id_valor_a_vista, #div_id_forma_pagamento, #div_id_inicio_vencimento, #div_id_final_vencimento {
    width: 30%;
}

#div_id_parcelas {
    width: 10%;
}

#div_id_razao_social, .observacoes > div {
    width: 99%;
}

#div_id_endereco {
    width: 67%;
}

#div_id_cnpj {
    width: 30%;
}

#conteudo_ficha_financeira .botoes {
    display: flex;
    justify-content: end;
}

#tabela_descritivo_valores tbody > tr:not(:first-child) {
    border-top: dashed 1px #7b7b7b;
}

#tabela_descritivo_valores thead {
    border-bottom: solid 1px #000000;
}

#tabela_descritivo_valores thead {
    text-align: center;
}

#tabela_descritivo_valores .secao_tabela {
    font-weight: 500;
    vertical-align: middle;
}

#tabela_descritivo_valores tr > td:not(:first-child) {
    text-align: center;
}

#tabela_descritivo_valores .descritivo_opcionais {
    color: #7b7b7b !important;
    vertical-align: middle;
    text-align: center;
}

#tabela_descritivo_valores .secao_tabela.secao_opcionais {
    cursor: pointer;
}

#conteudo_ficha_financeira #linha_de_totais,  #modal_descritivo_dia #linha_de_totais{
    border-top: solid 1px #000;
    vertical-align: middle;
    text-align: center;
    font-weight: 700;
}

#conteudo_ficha_financeira #btn_descritivo_dia {
    border: none;
    background: transparent;
    display: flex;
    column-gap: 3px;
}

#btn_descritivo_dia i {
    font-size: 25px;
}

#modal_descritivo_dia table .tag_datas {
    border-left: dashed 2px #000000;
    border-right: dashed 2px #000000;
    border-top: dashed 2px #000000;
    border-bottom: solid 1px #000000;
}

#modal_descritivo_dia table .cabecalho {
    border-top: solid 1px #000000;
    border-left: solid 1px #000000;
}

#modal_descritivo_dia table tbody {
    border-left: solid 1px #000000;
    border-bottom: solid 1px #000000;
}

#modal_descritivo_dia table .datas {
    border-left: dashed 2px #000000;
    border-right: dashed 2px #000000;
}

#modal_descritivo_dia table #linha_de_totais > .datas {
    border-bottom: dashed 2px #000000;
}

#mostrar_motivo_recusa {
    position: fixed;
    background-color: #fff;
    padding: 10px;
    border-radius: 40% 40% 10% 40%;
    box-shadow: 5px 5px 10px;
    left: 25%;
}
#mostrar_motivo_recusa button {
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mostrar_motivo_recusa button i {
    font-size: 25px;
    transform: scaleX(-1);
}