{% load static %}
{% load templates_tag_gerais %}

<link rel="stylesheet" href="{% static 'css/style_chat.css' %}">

<div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chatModalLabel">
                    Chat com <span id="destinatario"></span> sobre o orçamento de <span id="cliente"></span>
                </h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="id_orcamento" id="id_orcamento" value="{{ mensagens.0.object_id }}">
                <input type="hidden" name="id_destinatario" id="id_destinatario" value="{% if mensagens.last.destinatario == request.user %}{{ mensagens.last.remetente.id | safe}}{% else %}{{ mensagens.last.destinatario.id | safe}}{% endif %}">
                <div class="chat-container" id="chatContainer">
                    {% for mensagem in mensagens %}
                        <div class="mensagem {{ mensagem.responsavel }}">
                            <div class="conteudo">{{ mensagem.conteudo }}</div>
                            <div class="infos">
                                <div class="data_hora">{{ mensagem.nome_remetente }} - {{ mensagem.data_hora_envio }}</div>
                                {% if mensagem.responsavel == 'remetente' %}
                                    {%if mensagem.data_hora_leitura %}
                                        <i class='bx bx-check-double'></i>
                                    {% else %}
                                        <i class='bx bx-check'></i>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    {% if mensagens and user|has_group:'Diretoria' and mensagens.last.responsavel == 'destinatario' and mensagens.last.data_hora_leitura %}
                    	<div class="visto">Visto em {{ mensagens.last.data_hora_leitura }}</div>
                    {% endif %}
                </div>
                <div class="mensagem-input">
                    <textarea class="form-control" id="messageInput" rows="3" cols="3"
                              placeholder="Digite sua mensagem..."></textarea>
                    {% if gerente_aprovando %}
                        <div class="mt-2 alert alert-info">
                            Para poder aprovar ou negar o orçamento é necessário primeiro enviar uma mensagem de resposta
                            para o comercial.
                        </div>
                    {% endif %}
                    <div class="botoes-resposta">
                        <button id="btn_enviar_mensagem" class="btn btn-outline-success mt-2" onclick="sendMessage()">Enviar</button>
                        {% if gerente_aprovando %}
                            <button onclick="aprovar_orcamento(0)" class="responder-orcamento btn btn-outline-danger" disabled>Negar</button>
                            <button onclick="aprovar_orcamento(1)" class="responder-orcamento btn btn-outline-dark" disabled>Aprovar</button>
                        {% endif %}
                        {% if 'Gerência' in request.user.groups.all|join:',' %}
                            <button onclick="negar_orcamento()" class="responder-orcamento btn btn-outline-dark" disabled>Negar</button>
                        {% else %}
                            <button onclick="reenviar_pedido()" class="responder-orcamento btn btn-outline-dark" disabled>Reenviar pedido</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/scripts_chat.js' %}"></script>