'{% load static %}

<div class="sidebar close">
    <div class="logo-details">
        {% if perms.cadastro.view_relatoriodeatendimentopublicoceu %}
            <i><img src="{% static 'img/centro_logo_ceu.png' %}" alt="Logo CEU" height="70px" width="auto"></i>
            <span class="logo_name ceu">Centro de Estudos do Universo</span>
        {% else %}
            <i><img src="{% static 'img/GP.png' %}" alt="Logo Grupo Peraltas" height="60px" width="auto"></i>
            <span class="logo_name" style="margin-top: 5px"><nobr>Grupo Peraltas</nobr></span>
        {% endif %}

    </div>
    {% if request.user.is_authenticated %}
        {% if not ver %}
            <ul class="nav-links">
                {% if perms.cadastro.view_relatoriodeatendimentopublicoceu %}
                    {% if 'dashboard' in request.path %}
                        <li>
                            <a>
                                <i class="bx bxs-calendar"></i>
                            </a>
                            <ul class="sub-menu blank">
                                <li><a class="link_name">Calendário</a></li>
                            </ul>
                        </li>

                        <div class="calendario">
                            {% include 'parciais/_calendario.html' %}
                        </div>
                    {% endif %}
                {% endif %}


                {% if 'dashboard' in request.path %}
                    {% if perms.cadastro.view_relatoriodeatendimentopublicoceu %}
                        <li class="item-sidebar">
                            {% else %}
                        <li>
                    {% endif %}
                {% else %}
                    <li>
                {% endif %}

                <a href="{% url 'dashboard' %}">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_name">Dashboard</span>
                </a>

                <ul class="sub-menu blank">
                    <li><a class="link_name" href="{% url 'dashboard' %}">Dashboard</a></li>
                </ul>
                </li>

                {% if 'dashboard' in request.path %}
                    {% if perms.cadastro.view_relatoriodeatendimentopublicoceu %}
                        <li class="item-sidebar">
                            {% else %}
                        <li>
                    {% endif %}
                {% else %}
                    <li>
                {% endif %}

                {% if perms.cadastro.view_relatoriodeatendimentopublicoceu %}
                    <a href="{% url 'resumo_atividades' %}">
                        <i class='bx bx-notepad'></i>
                        <span class="link_name">Resumo professores</span>
                    </a>
                {% endif %}

                <ul class="sub-menu blank">
                    <li><a class="link_name" href="{% url 'resumo_atividades' %}">Resumo professores</a></li>
                </ul>
                </li>

                {% if 'dashboard' in request.path %}
                    {% if perms.cadastro.view_relatoriodeatendimentopublicoceu %}
                        <li class="item-sidebar">
                            {% else %}
                        <li>
                    {% endif %}
                {% else %}
                    <li>
                {% endif %}
                {#                {% if perms.peraltas.add_listadecargos %}#}
                {#                    <a href="{% url 'painelGeral' %}">#}
                {#                        <i class='bx bxs-pie-chart-alt-2'></i>#}
                {#                        <span class="link_name"><nobr>Painel estatístico</nobr></span>#}
                {#                    </a>#}
                {#                    <ul class="sub-menu blank">#}
                {#                        <li><a class="link_name" href="{% url 'painelGeral' %}">Painel estatístico</a></li>#}
                {#                    </ul>#}
                {#                {% endif %}#}
                </li>

                {% if 'dashboard' in request.path %}
                    {% if perms.cadastro.view_relatoriodeatendimentopublicoceu %}
                        <li class="item-sidebar">
                            {% else %}
                        <li>
                    {% endif %}
                {% else %}
                    <li>
                {% endif %}

                {% if perms.detector.view_detectordebombas %}
                    <a href="{% url 'detector' %}">
                        <i class='bx bx-timer'></i>
                        <span class="link_name max-word"><nobr>Detector de bombas</nobr></span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name max-word" href="{% url 'detector' %}">Detector de bombas</a></li>
                    </ul>
                {% endif %}
                </li>

                {% if 'dashboard' in request.path %}
                    {% if perms.cadastro.view_relatoriodeatendimentopublicoceu %}
                        <li class="item-sidebar">
                            {% else %}
                        <li>
                    {% endif %}
                {% else %}
                    <li>
                {% endif %}

                {% if perms.cadastro.view_relatoriodeatendimentopublicoceu or perms.ordemDeServico.add_ordemdeservico or perms.peraltas.add_fichadeevento %}
                    <div class="iocn-link">
                        <a href="#">
                            <i class='bx bx-archive'></i>
                            <span class="link_name">Cadastrar</span>
                        </a>
                        <i class='bx bxs-chevron-down arrow'></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name">Cadastrar</a></li>

                        {% if perms.cadastro.view_relatoriodeatendimentopublicoceu %}
                            <li><a href="{% url 'publico' %}">Público</a></li>
                            <li><a href="{% url 'colegio' %}">Colégio</a></li>
                            <li><a href="{% url 'empresa' %}">Empresa</a></li>
                        {% endif %}

                        {% if perms.ordemDeServico.add_ordemdeservico %}
                            <li><a href="{% url 'ordem_de_servico' %}">Ordem de Serviço</a></li>
                        {% endif %}

                        {% if perms.peraltas.add_fichadeevento %}
                            <li><a href="{% url 'ficha_de_evento' %}">Ficha de Evento</a></li>
                            <li><a href="{% url 'lista_cliente' %}" onclick="localStorage.removeItem('encaminhado')">Cliente</a>
                            </li>
                            <li><a class="max-word" href="{% url 'lista_responsaveis' %}">Responsável de evento</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
                </li>

                {% if 'dashboard' in request.path %}
                    {% if perms.cadastro.view_relatoriodeatendimentopublicoceu %}
                        <li class="item-sidebar">
                            {% else %}
                        <li>
                    {% endif %}
                {% else %}
                    <li>
                {% endif %}

                {% if perms.escala.view_escala or perms.peraltas.view_escalaacampamento %}
                    <div class="iocn-link">
                        <a href="#">
                            <i class='bx bx-table'></i>
                            <span class="link_name">Escala</span>
                        </a>
                        <i class='bx bxs-chevron-down arrow'></i>
                    </div>
                {% endif %}

                <ul class="sub-menu">
                    {% if perms.escala.view_escala or perms.peraltas.view_escalaacampamento %}
                        <li><a class="link_name">Escala</a></li>
                    {% endif %}

                    {% if perms.escala.view_escala %}
                        <li><a href="{% url 'escala' %}">Visualizar (CEU)</a></li>
                        <li><a href="{% url 'disponibilidade' %}">Disponibilidade (CEU)</a></li>

                        {% if perms.escala.add_escala %}
                            <li><a class="max-word" href="{% url 'visualizarDisponibilidadeCeu' %}">Mapa de
                                disponibilidade (CEU)</a></li>
                        {% endif %}

                    {% endif %}

                    {% if perms.peraltas.view_escalaacampamento or perms.peraltas.add_escalahotelaria %}
                        <li><a href="{% url 'disponibilidadePeraltas' %}">Disponibilidade</a></li>
                        <li><a href="{% url 'escalaPeraltas' %}">Visualizar</a></li>

                        {% if perms.peraltas.add_escalaacampamento or perms.peraltas.add_escalahotelaria %}
                            <li><a class="max-word" href="{% url 'visualizarDisponibilidadePeraltas' %}">Mapa de
                                disponibilidade</a></li>
                        {% endif %}

                    {% endif %}
                </ul>
                </li>

                {% if 'dashboard' in request.path %}
                    {% if perms.cadastro.view_relatoriodeatendimentopublicoceu %}
                        <li class="item-sidebar">
                            {% else %}
                        <li>
                    {% endif %}
                {% else %}
                    <li>
                {% endif %}

                {% if perms.peraltas.view_prereserva or perms.peraltas.view_fichadeevento or perms.ordemDeServico.view_ordemdeservico %}
                    <a href="{% url 'calendario_eventos' %}">
                        <i class='bx bx-calendar'></i>
                        <span class="link_name">Eventos</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="{% url 'calendario_eventos' %}">Eventos</a></li>
                    </ul>
                {% endif %}

                </li>

                {% comment %}{% if 'dashboard' in request.path %}
                    {% if perms.cadastro.view_relatoriodeatendimentopublicoceu %}
                        <li class="item-sidebar">
                            {% else %}
                        <li>
                    {% endif %}
                {% else %}
                    <li>
                {% endif %}
                {% if perms.orcamento.add_orcamento %}
                    {% if perms.orcamento.add_orcamento %}
                        <a href="{% url 'orcamento' %}">
                            <i class='bx bxs-calculator'></i>
                            <span class="link_name">Orçamento</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="{% url 'orcamento' %}">Orçamento</a></li>
                        </ul>
                    {% endif %}
                {% endif %}{% endcomment %}

                </li>{% if 'dashboard' in request.path %}
                {% if perms.cadastro.view_relatoriodeatendimentopublicoceu %}
                    <li class="item-sidebar">
                        {% else %}
                    <li>
                {% endif %}
            {% else %}
                <li>
            {% endif %}

                {% if 'dashboard' in request.path %}
                    {% if perms.cadastro.view_relatoriodeatendimentopublicoceu %}
                        <li class="item-sidebar">
                            {% else %}
                        <li>
                    {% endif %}
                {% else %}
                    <li>
                {% endif %}

                {% if perms.fichaAvaliacao.view_fichadeavaliacao %}
                    <a href="{% url 'entregues' %}">
                        <i class='bx bxs-report'></i>
                        <span class="link_name">Avaliações</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="{% url 'entregues' %}">Avaliações</a></li>
                    </ul>
                {% endif %}

                </li>
                {% if 'dashboard' in request.path %}
                    {% if perms.cadastro.view_relatoriodeatendimentopublicoceu %}
                        <li class="item-sidebar">
                            {% else %}
                        <li>
                    {% endif %}
                {% else %}
                    <li>
                {% endif %}

                {% if request.user.is_staff %}
                    <a href="/admin/">
                        <i class='bx bx-cog'></i>
                        <span class="link_name">Área administrativa</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="/admin/">Área administrativa</a></li>
                    </ul>
                {% endif %}

                </li>

                {% if perms.peraltas.ver_relatorios_eventos %}
                    {% if 'dashboard' in request.path %}
                        {% if perms.cadastro.view_relatoriodeatendimentopublicoceu %}
                            <li class="item-sidebar">
                                {% else %}
                            <li>
                        {% endif %}
                    {% else %}
                        <li>
                    {% endif %}
                    <div class="iocn-link">
                        <a href="#">
                            <i class='bx bx-pie-chart-alt-2'></i>
                            <span class="link_name">Estatísticas</span>
                        </a>
                        <i class='bx bxs-chevron-down arrow'></i>
                    </div>
                    <ul class="sub-menu">
                        <li><a class="link_name">Estatísticas</a></li>
                            <li><a href="{% url 'painel_diretoria' %}">Eventos</a></li>
                            <li><a href="{% url 'estatisticas_monitoria' %}">Monitoria</a></li>
                    </ul>
                {% endif %}

                {% if 'dashboard' in request.path %}
                    {% if perms.cadastro.view_relatoriodeatendimentopublicoceu %}
                        <li class="item-sidebar">
                            {% else %}
                        <li>
                    {% endif %}
                {% else %}
                    <li>
                {% endif %}
                <a href="{% url 'alterar_senha' %}">
                    <i class='bx bxs-shield-alt-2'></i>
                    <span class="link_name">Alterar senha</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="{% url 'alterar_senha' %}">Alterar senha</a></li>
                </ul>
                </li>

                {% if 'dashboard' in request.path %}
                    {% if perms.cadastro.view_relatoriodeatendimentopublicoceu %}
                        <li class="item-sidebar">
                            {% else %}
                        <li>
                    {% endif %}
                {% else %}
                    <li>
                {% endif %}
                    {% if perms.cozinha.view_registrovisualizacoes %}
                        <div class="iocn-link">
                            <a href="#">
                                <i class='bx bx-knife'></i>
                                <span class="link_name">Cozinha</span>
                            </a>
                            <i class='bx bxs-chevron-down arrow'></i>
                        </div>

                        <ul class="sub-menu">
                            <li><a class="link_name">Cozinha</a></li>
                            <li><a href="{% url 'dashboard_cozinha' %}">Agenda</a></li>
                        </ul>
                    {% endif %}
                </li>

                <li>
                    <div class="profile-details">
                        <div class="profile-content">
                        </div>
                        <div class="name-job">
                            <div class="profile_name">{{ user.first_name }} {{ user.last_name }}</div>

                            {% for group in request.user.groups.all %}
                                {% if group.name != 'CEU' and group.name != 'Peraltas' %}
                                    <div class="job"> {{ group.name }} </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                        <a href="{% url 'logout' %}"><i class='bx bx-log-out'></i></a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        {% endif %}

        {% if ver %}
            <ul class="nav-links">
                <li>
                    <a href="{% url 'logout' %}">
                        <i class='bx bx-log-out'></i>
                        <span class="link_name">Logout</span>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        {% endif %}

    {% endif %}

</div>