{% extends 'base.html' %}
{% load static %}
{% load custom_filter_tags %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
    {% if False %}
        {% for versao in ultimas_versoes %}
            <div class="card card-log">
                {% if versao.campos_alterados == '' %}
                    <div class="card-header">Criação da <a href="{% url 'ver_ficha_de_evento' versao.ficha.id_ficha %}">{{ versao.ficha.ficha }}</a> por {{ versao.colaborador }} em {{ versao.data_e_hora }}</div>
                    <div class="card-body">
                        <ul>
                            <li>{{ versao.ficha.ficha }} adicionado ao sistema por {{ versao.colaborador }}</li>
                        </ul>
                    </div>
                {% elif versao.campos_alterados == 'excluido' %}
                    <div class="card-header">Alteração em {{ versao.ficha.ficha }} por {{ versao.colaborador }} em {{ versao.data_e_hora }}</div>
                    <div class="card-body">
                        <ul>
                            <li>{{ versao.ficha.ficha }} <span>excluída</span> por <span>{{ versao.motivo }}</span></li>
                        </ul>
                    </div>

                {% else %}
                    <div class="card-header">Alteração em <a href="{% url 'ver_ficha_de_evento' versao.ficha.id_ficha %}">{{ versao.ficha.ficha }}</a> por {{ versao.colaborador }} em {{ versao.data_e_hora }}</div>
                    <div class="card-body">
                        <ul>
                            {% if versao.campos_alterados|length > 4 %}
                                <li>
                                    <p>Campos
                                        {% for alteracao in versao.campos_alterados %}
                                            {% if not forloop.last %}
                                                 <span>{{ alteracao.campo.nome_campo }}</span>,
                                            {% else %}
                                                 e <span>{{ alteracao.campo.nome_campo }}</span>
                                            {% endif %}
                                        {% endfor %}
                                        alterados
                                    </p>
                                </li>
                            {% else %}
                                {% for alteracao in versao.campos_alterados %}
                                    <li>
                                        {% if alteracao.campo.tipo_campo == 'JSONField' %}
                                            {% if alteracao.campo.nome_campo == 'refeicoes' %}
                                                <p>Tabela de <span>refeicoes</span> alterado</p>
                                            {% elif alteracao.campo.nome_campo == 'informacoes locacoes' %}
                                                <p><span>Informações da locação</span> alterado</p>
                                            {% endif %}
                                        {% elif alteracao.campo.tipo_campo == 'FileField' %}
                                            <p><span>{{ alteracao.campo.nome_campo }}</span> alterado.</p>
                                        {% elif alteracao.campo.tipo_campo == 'TextField' %}
                                            <p><span>{{ alteracao.campo.nome_campo }}</span> alterado.</p>
                                        {% else %}
                                            <p>Campo <span>{{ alteracao.campo.nome_campo }}</span> alterado de <span>
                                                {% if alteracao.campo.valor_anterior is None or alteracao.campo.valor_anterior == '0' or alteração.campo.valor_anterior == '' %}
                                                    {% if alteracao.campo.tipo_campo == 'IntegerFIeld' %}
                                                        0
                                                    {% elif alteracao.campo.tipo_campo == 'DateField' or alteracao.campo.tipo_campo == 'DateTimeField' %}
                                                        Sem data
                                                    {% elif alteracao.campo.tipo_campo == 'CharField' %}
                                                        "Vazio"
                                                    {% endif %}
                                                {% else %}
                                                    {% if alteracao.campo.tipo_campo == 'BooleanField' %}
                                                        {% if alteracao.campo.valor_anterior %}
                                                            Sim
                                                        {% else %}
                                                            Não
                                                        {% endif %}
                                                    {% elif alteracao.campo.tipo_campo == 'DateField' %}
                                                        {{ alteracao.campo.valor_anterior |date:'d/m/Y' }}
                                                    {% elif alteracao.campo.tipo_campo == 'DateTimeField' %}
                                                        {{ alteracao.campo.valor_anterior |date:'d/m/Y H:i' }}
                                                    {% else %}
                                                        {{ alteracao.campo.valor_anterior }}
                                                    {% endif %}
                                                {% endif %}
                                            </span> para
                                            <span>
                                                {% if alteracao.campo.novo_valor is None or alteracao.campo.novo_valor == '0' or alteração.campo.novo_valor == '' %}
                                                    {% if alteracao.campo.tipo_campo == 'IntegerFIeld' %}
                                                        0
                                                    {% elif alteracao.campo.tipo_campo == 'DateField' or alteracao.campo.tipo_campo == 'DateTimeField' %}
                                                        Sem data
                                                    {% elif alteracao.campo.tipo_campo == 'CharField' %}
                                                        "Vazio"
                                                    {% endif %}
                                                {% else %}
                                                    {% if alteracao.campo.tipo_campo == 'BooleanField' %}
                                                        {% if alteracao.campo.novo_valor %}
                                                            Sim
                                                        {% else %}
                                                            Não
                                                        {% endif %}
                                                    {% elif alteracao.campo.tipo_campo == 'DateField' %}
                                                        {{ alteracao.campo.novo_valor |date:'d/m/Y' }}
                                                    {% elif alteracao.campo.tipo_campo == 'DateTimeField' %}
                                                        {{ alteracao.campo.novo_valor |date:'d/m/Y H:i' }}
                                                    {% else %}
                                                        {{ alteracao.campo.novo_valor }}
                                                    {% endif %}
                                                {% endif %}
                                            </span></p>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        {% if diretoria %}
            <div id="conteudo">
                <div id="abas" style="display: flex">
                    <div class="folder ativo" onclick="alterar_aba(this, 'orcamentos_aprovacao')">Orçamentos para aprovação</div>
                    <div class="folder" onclick="alterar_aba(this, 'log')">Log</div>
                </div>
                <div class="section-content ativo" id="orcamentos_aprovacao">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th style="width: 50%">Cliente</th>
                            <th style="width: 25%">Colaborador</th>
                            <th style="width: 25%">Valor</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for orcamento in orcamentos %}
                            <tr id="orcamento_{{ orcamento.id }}" onclick="console.log($(this))">
                                <td>{{ orcamento.cliente }}</td>
                                <td>{{ orcamento.colaborador.get_full_name }}</td>
                                <td>R$ {{ orcamento.valor|substituir_ponto }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="section-content" id="log">
                    Sem dados
                </div>
            </div>
        {% else %}
            <div class="conteudo_dashboard_peraltas_escrito">
                <h1>SGO</h1>
            </div>
        {% endif %}
    {% endif %}

    <!--------------------------------------------------------------------------------------------------------------------->
    <!------------------------- Fim da página e início do modal de aviso da disponibilidade ------------------------------->
    <!--------------------------------------------------------------------------------------------------------------------->
    {% if msg_acampamento or msg_hotelaria %}
        <div class="modal fade" id="aviso_disponibilidade" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Aviso de envio de disponibilidade</h5>
                        <button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="text-align: justify">
                        {% if msg_acampamento %}
                            <div>
                                {{ msg_acampamento | safe }}
                            </div>
                        {% endif %}
                        {% if msg_acampamento and msg_hotelaria %}
                            <hr>
                        {% endif %}
                        {% if msg_hotelaria %}
                            <div>
                                {{ msg_hotelaria | safe }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(window).on('load', function () {
                $('#aviso_disponibilidade').modal('show')
            })
        </script>
    {% endif %}

    {% if termo_monitor %}
        <div class="modal fade" data-backdrop="static" id="termo_aceite_monitor" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Termo de aceite</h5>
                    </div>
                    <div class="modal-body" style="text-align: justify">
                        <p>
                            Ao acessar esse sistema, você concorda em disponibilizar, nas datas pré-selecionadas, a
                            prestação de seus serviços como Monitor para supervisão de crianças e jovens. RESSALTANDO
                            QUE você pode recusar o trabalho quantas vezes quiser, sem necessidade de qualquer
                            justificativa.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <form action="{% url 'dashboardPeraltas' %}" method="POST">
                            <fieldset>
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary" name="termo_de_aceite" value="Sim"/>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(window).on('load', function () {
                $('#termo_aceite_monitor').modal('show')
            })
        </script>
    {% endif %}

    <script src="{% static 'js/scripts_dashboard.js' %}"></script>
{% endblock %}
