{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}

    {% if ceu %}
        <div class="conteudo-dashboard">
            <div class="tabela-dashboard">
                {% csrf_token %}
                <h5>Relatórios do dia: {{ data | date:'d/m/Y' }} </h5>
                <table class="table table-bordered table-striped table-hover tabela-conteudo" style="caption-side: top">
                    <thead>
                    <tr class="table-active">
                        <th width="90px">
                            <center>Tipo</center>
                        </th>
                        <th width="400px">
                            <center>Instituição</center>
                        </th>
                        <th width="120px">
                            <center>Coordenador</center>
                        </th>
                        <th width="250px">
                            <center>Equipe</center>
                        </th>
                        <th width="210px">
                            <center>
                                <nobr>Data de atendimento</nobr>
                            </center>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="dados">
                    {% if not relatorios %}
                        <td colspan='5'>Sem relatórios para o dia {{ data | date:'d/m/Y' }}</td>
                    {% endif %}

                    {% for relatorio in relatorios %}
                        <tr class='clickable-row' data-href="{% url 'verRelatorio' relatorio.id %}">
                            <td>{{ relatorio.tipo }}</td>
                            <td>{{ relatorio.instituicao }}</td>
                            <td>{{ relatorio.equipe.coordenador }}</td>
                            <td>{{ relatorio.equipe_escalada }}</td>
                            <td>{{ data }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!------------------------------ Parte de resumo do mês e escala do dia ----------------------------------------------->
            </div>
            <hr>
            <div class="dados_dashboard">
                <div class="dados-usuario">
                    <b>Resumo do mês:</b> {{ n_atividades }} atividade(s) e {{ n_horas }} com empresa.
                </div>
                <div class="escala">
                    <b>Escala do dia:</b>

                    {% if equipe_escalada %}
                        {% for professor in equipe_escalada %}
                            {{ forloop.counter }} - {{ professor }},
                        {% endfor %}
                    {% else %}
                        Ninguém escalado para hoje!
                    {% endif %}

                </div>
            </div>
        </div>
    {% else %}
        <div class="conteudo_dashboard_peraltas_escrito">
            <h1>SGO</h1>
        </div>
    {% endif %}

    <!--------------------------------------------------------------------------------------------------------------------->
    <!------------------------- Fim da página e início do modal de aviso da disponibilidade ------------------------------->
    <!--------------------------------------------------------------------------------------------------------------------->
    {% if msg_acampamento or msg_hotelaria %}
        <div class="modal fade" id="aviso_disponibilidade" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Aviso de envio de disponibilidade</h5>
                        <button class="btn-close" type="button" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="text-align: justify">
                        {% if msg_acampamento %}
                            <div>
                                {{ msg_acampamento | safe }}
                            </div>
                        {% endif %}
                        {% if msg_acampamento and msg_hotelaria %}
                            <hr>
                        {% endif %}
                        {% if msg_hotelaria %}
                            <div>
                                {{ msg_hotelaria | safe }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(window).on('load', function () {
                $('#aviso_disponibilidade').modal('show')
            })
        </script>
    {% endif %}

    {% if termo_monitor %}
        <div class="modal fade" data-backdrop="static" id="termo_aceite_monitor" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Termo de aceite</h5>
                    </div>
                    <div class="modal-body" style="text-align: justify">
                        <p>
                            Ao acessar esse sistema, você concorda em disponibilizar, nas datas pré-selecionadas, a
                            prestação de seus serviços como Monitor para supervisão de crianças e jovens. RESSALTANDO
                            QUE você pode recusar o trabalho quantas vezes quiser, sem necessidade de qualquer
                            justificativa.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <form action="{% url 'dashboardPeraltas' %}" method="POST">
                            <fieldset>
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary" name="termo_de_aceite" value="Sim"/>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(window).on('load', function () {
                $('#termo_aceite_monitor').modal('show')
            })
        </script>
    {% endif %}
{% endblock %}
