{% load static %}
<!DOCTYPE html>
<html lang="pt" dir="ltr">
<head>
    {% include 'parciais/_head.html' %}
</head>

<body style="background-color: #E4E9F7">
<div class="container_loading">
    <div class="{% if perms.cadastro.add_relatoriodeatendimentopublicoceu %} loading_ceu {% else %} loading {% endif %}">
        {% if perms.cadastro.add_relatoriodeatendimentopublicoceu %}
            <img class="centro" src="{% static 'img/centro_logo_ceu.png' %}" alt="">
            <img class="escrito" src="{% static 'img/escritos_logo_ceu.png' %}" alt="">
        {% else %}
            <img src="{% static 'img/GP.png' %}" alt="">
        {% endif %}
    </div>
</div>
{% if user.groups.all %}
    {% include 'parciais/_sidebar.html' %}
    <section class="home-section">
    {% if not ver %}
        <div class="home-content">
            <i class='bx bx-menu'></i>
            <span class="text">Sistema de Gerenciamento Operacional</span>
        </div>
        <hr class="barra">
    {% endif %}
{% endif %}
<div id="corpo_site">
    {% include 'parciais/_mensagens.html' %}
    {% block conteudo %}{% endblock %}
</div>
</section>
<script src="{% static 'js/script.js' %}"></script>
<script>
    function loading() {
        $('.container_loading').removeClass('none')
    }

    function end_loading() {
        $('.container_loading').addClass('none')
    }

    function formatar_dinheiro(valor) {
        return valor.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2 }).replace('.', ',')
    }

    $(document).ready(() => {
        end_loading()
    })
</script>
</body>
</html>
