{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}
{% load custom_filter_tag %}

{% block conteudo %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> <!-- Styles da bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> <!-- Styles da bootstrap -->

    <div class="conteudo-calendario-eventos">
        <div id="calendar" class="card" style="padding: 10px"></div>
        {% csrf_token %}
        <script src="{% static 'fullcalendar/main.js' %}"></script><!-- Script para o calendário da escala -->

        <script>
            function montar_calendario() {
                const calendarUI = document.getElementById('calendar');
                const calendar = new FullCalendar.Calendar(calendarUI, {

                    headerToolbar: {
                        left: '',
                        center: 'title',
                    },
                    eventOrderStrict: true,
                    locale: 'pt-br',
                    {#dayMaxEvents: 5,#}

                    {% if comercial %}
                        navLinks: true,
                        navLinkDayClick: function (date, jsEvent) {
                            $('#ModalCadastroPreReserva input, #ModalCadastroPreReserva select, #ModalCadastroPreReserva textarea').prop('disabled', false)
                            $('#ModalCadastroPreReserva input[type!=hidden], #ModalCadastroPreReserva select, #ModalCadastroPreReserva textarea').val('')
                            $('#ModalCadastroPreReserva #id_pre_reserva').val('')
                            $('#ModalCadastroPreReserva #id_cliente').trigger('change')
                            $('#ModalCadastroPreReserva #id_cliente').prop('disabled', false)
                            $('#ModalCadastroPreReserva #editar_horarios, #ModalCadastroPreReserva #id_exclusividade').prop('checked', false)
                            $('#ModalCadastroPreReserva #obs_edicao').addClass('none')
                            $('#ModalCadastroPreReserva').modal('show');
                            $('#ModalCadastroPreReserva #id_check_in').val((moment(date).format('yyyy-MM-DD 09:00')))
                            $('#nova_pre_reserva').removeClass('none')
                            $('#editar_pre_reserva').empty()
                            $('#aviso_lotacao').addClass('none')
                        },

                        eventClick: function (info) {
                            if (info.el.l) {
                                let cliente = info.event.title
                                let check_in = info.event.start
                                let check_out = info.event.end

                                $.ajax({
                                    type: 'POST',
                                    url: '',
                                    headers: {"X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()},
                                    data: {
                                        'cliente': cliente,
                                        'check_in': moment(check_in).format('yyyy-MM-DD HH:mm'),
                                        'check_out': moment(check_out).format('yyyy-MM-DD HH:mm')
                                    },
                                    success: function (response) {
                                        $('#ModalCadastroPreReserva input[type!=hidden], #ModalCadastroPreReserva select, #ModalCadastroPreReserva textarea').prop('disabled', true)
                                        $('#ModalCadastroPreReserva #id_pre_reserva').val(response['id'])
                                        $('#ModalCadastroPreReserva #id_responsavel_evento').val(response['responavel_evento'])
                                        $('#ModalCadastroPreReserva #id_produto').val(response['produto'])
                                        $('#ModalCadastroPreReserva #id_produto_corporativo').val(response['produto_corporativo'])
                                        $('#ModalCadastroPreReserva #id_check_in').val(moment(check_in).format('yyyy-MM-DDTHH:mm'))
                                        $('#ModalCadastroPreReserva #id_check_out').val(moment(check_out).format('yyyy-MM-DDTHH:mm'))
                                        $('#ModalCadastroPreReserva #id_obs_edicao_horario').val(response['obs_edicao'])
                                        $('#ModalCadastroPreReserva #id_qtd_convidada').val(response['qtd'])
                                        $('#ModalCadastroPreReserva #id_vendedora').val(response['vendedor'])
                                        $('#ModalCadastroPreReserva #id_observacoes').val(response['observacoes'])
                                        $('#nova_pre_reserva').addClass('none')
                                        $('#aviso_lotacao').addClass('none')
                                        const modal_footer = $('#editar_pre_reserva').empty().removeClass('none')
                                        $('#ModalCadastroPreReserva #id_cliente').val(response['cliente']).trigger('change').select2({
                                            'disabled': 'readonly',
                                            dropdownParent: $("#ModalCadastroPreReserva .modal-content")
                                        })
                                        console.log(response)
                                        if (response['exclusividade']) {
                                            $('#ModalCadastroPreReserva #id_exclusividade').prop('checked', true)
                                        } else {
                                            $('#ModalCadastroPreReserva #id_exclusividade').prop('checked', false)
                                        }

                                        if (response['obs_edicao'] !== null) {
                                            $('#ModalCadastroPreReserva #editar_horarios').prop('checked', true)
                                            $('#ModalCadastroPreReserva #obs_edicao').removeClass('none')
                                        } else {
                                            $('#ModalCadastroPreReserva #obs_edicao').addClass('none')
                                        }

                                        if (response['confirmado']) {
                                            modal_footer.append('<p>Agendamento já confirmado!</p>')
                                            modal_footer.append(`<button type="button" id="ir_ficha_de_evento" class="btn btn-success" onclick="window.location.href='/cadastro/ficha_de_evento/${response["id"]}'">Ficha de evento</button>`)
                                        } else {
                                            {% if comercial or diretoria %}
                                                {% if diretoria %}
                                                    modal_footer.append('<button type="button" class="btn btn-secondary" style="background-color: #DF362D; border-color: #DF362D" onclick="editar_agendamento()"> Editar agendamento</button>')
                                                {% else %}
                                                    if (response['editar']) {
                                                        modal_footer.append('<button type="button" class="btn btn-secondary" style="background-color: #DF362D; border-color: #DF362D" onclick="editar_agendamento()"> Editar agendamento</button>')
                                                    }
                                                    {% endif %}
                                            {% endif %}

                                            modal_footer.append('<input type="hidden" id="input_confirmar_agendamento" name="confirmar_agendamento" value="true">')
                                            modal_footer.append('<button type="submit" id="confirmar_agendamento" class="btn btn-primary">Confirmar agendamento</button>')

                                            {% if comercial or diretoria %}
                                                {% if diretoria %}
                                                    modal_footer.append('<button type="button" class="btn btn-outline-secondary" onclick="excluir_pre_agendamento()">Excluir</button>')
                                                {% else %}
                                                    if (response['editar']) {
                                                        modal_footer.append('<button type="button" class="btn btn-outline-secondary" onclick="excluir_pre_agendamento()">Excluir</button>')
                                                    }
                                                {% endif %}
                                            {% endif %}
                                        }
                                    }
                                })

                                $('#ModalCadastroPreReserva').modal('show');
                            }
                        },
                    {% endif %}

                    events: [
                        {% for pre_reserva in pre_reservas %}
                            {
                                title: "{{ pre_reserva.cliente }}".replace("&#x27;", "\'"),
                                start: "{{ pre_reserva.check_in | date:'Y-m-d H:i'}}",
                                end: "{{ pre_reserva.check_out | date:'Y-m-d H:i'}}",

                                {% if pre_reserva.agendado %}
                                    color: '#008000',
                                {% else %}
                                    color: '#b60c0c',
                                {% endif %}
                            },
                        {% endfor %}

                        {% for evento in eventos %}
                            {
                                {% if professor_ceu %}
                                    title: "{{ evento.ficha_de_evento.cliente }}".replace("&#x27;", "\'"),
                                    start: "{{ evento.check_in_ceu | date:'Y-m-d H:i'}}",
                                    end: "{{ evento.check_out_ceu | date:'Y-m-d H:i'}}",
                                    url: '{% url 'ver_ordem_de_servico' evento.id %}',
                                {% else %}
                                    title: "{{ evento.ficha_de_evento.cliente }}",
                                    start: "{{ evento.check_in | date:'Y-m-d H:i'}}",
                                    end: "{{ evento.check_out | date:'Y-m-d H:i'}}",
                                    url: '{% url 'ver_ordem_de_servico' evento.id %}',
                                {% endif %}

                                {% if evento.tipo == 'Empresa' %}
                                    color: '#fcc607',
                                    textColor: '#000',
                                {% endif %}

                                {% if evento.tipo == 'Colégio' %}
                                    color: '#FF8C00',
                                    textColor: '#000',
                                {% endif %}
                            },
                        {% endfor %}

                        {% for ficha in fichas %}
                            {% if not ficha.os%}
                                {
                                    {% if professor_ceu%}
                                        {% if ficha.atividades_ceu.all != '' or ficha.locacoes_ceu.all != ''%}
                                            title: "{{ ficha.cliente }}".replace("&#x27;", "\'"),
                                            start: "{{ ficha.check_in | date:'Y-m-d H:i'}}",
                                            end: "{{ ficha.check_out | date:'Y-m-d H:i'}}",
                                            url: '{% url 'ver_ficha_de_evento' ficha.id %}',
                                        {% endif %}
                                    {% else %}
                                        title: "{{ ficha.cliente}}",
                                        start: "{{ ficha.check_in | date:'Y-m-d H:i'}}",
                                        end: "{{ ficha.check_out | date:'Y-m-d H:i'}}",
                                        url: '{% url 'ver_ficha_de_evento' ficha.id %}',
                                    {% endif %}

                                    color: '#8B008B',
                                    textColor: 'white',
                                },
                            {% endif %}
                        {% endfor %}
                    ],

                });

                calendar.render();
                calendar.setOption('locale', 'pt-br')
            }

            let lotacao = {}

            $(document).ready(function () {
                montar_calendario()
                {% if comercial %}
                    gerar_lotacao()
                    $('.fc-toolbar-chunk').on('click', () => gerar_lotacao())
                {% endif %}
            })

            function gerar_lotacao() {
                const data_base = $('tbody[role=presentation]').children().children()[7].dataset.date
                const mes = moment(data_base).month() + 1
                const ano = moment(data_base).year()

                $.ajax({
                    type: 'GET',
                    url: '',
                    headers: {"X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()},
                    data: {'mes': mes, 'ano': ano},
                    success: function (response) {
                        lotacao = response
                    }
                })
            }

            {% if comercial %}
                $('body').on('mouseover', 'td.fc-day, td.fc-day-number', function () {
                    const lotacao_dia = lotacao[$(this).data('date')]
                    this.title = `Confirmados: ${lotacao_dia['confirmadas']} \n Reservadas: ${lotacao_dia['reservadas']} \n Total: ${lotacao_dia['total']}`
                });
            {% endif %}

            function lotacao_dia_dia(check_in, check_out) {
                const diferenca = moment(check_out, "YYYY-MM-DD").diff(moment(check_in, "YYYY-MM-DD"))
                const dias_evento = moment.duration(diferenca).asDays()
                moment.locale('pt-br')
                $('#aviso_lotacao ul').empty().removeClass('none')

                for (let soma_dia = 0; soma_dia <= dias_evento; soma_dia++) {
                    const data_busca = moment(check_in).add(soma_dia, 'days').format('YYYY-MM-DD')
                    const data_item = moment(data_busca).format('L')

                    if (lotacao[data_busca]['total'] <= 120) {
                        $('#aviso_lotacao ul').append(`<li>Dia ${data_item}: ${240 - lotacao[data_busca]['total']} vagas</li`)
                        $('#aviso_lotacao').removeAttr('class').addClass('alert-info')
                    } else if (lotacao[data_busca]['total'] <= 180) {
                        $('#aviso_lotacao ul').append(`<li>Dia ${data_item}: ${240 - lotacao[data_busca]['total']} vagas</li`)
                        $('#aviso_lotacao').removeAttr('class').addClass('alert-warning')
                    } else if (lotacao[data_busca]['total'] > 180 && lotacao[data_busca]['total'] < 240) {
                        $('#aviso_lotacao ul').append(`<li>Dia ${data_item}: ${240 - lotacao[data_busca]['total']} vagas</li`)
                        $('#aviso_lotacao').removeAttr('class').addClass('alert-danger')
                    } else {
                        $('#aviso_lotacao ul').append(`<li>Dia ${data_item}: Sem vagas ou vagas excedidas</li`)
                        $('#aviso_lotacao').removeAttr('class').addClass('alert-danger')
                    }
                }

            }

            function excluir_pre_agendamento() {
                $('document').ready(function () {
                    const cliente = $('#id_cliente :selected').text()
                    const cnpj = cliente.slice(cliente.indexOf('(') + 1, cliente.indexOf(')'))
                    const check_in = $('#id_check_in').val().replace('T', ' ')
                    const check_out = $('#id_check_out').val().replace('T', ' ')

                    $.ajax({
                        url: '',
                        headers: {"X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()},
                        type: "POST",
                        data: {
                            'excluir': true,
                            'cnpj': cnpj,
                            'check_in': check_in,
                            'check_out': check_out,
                        },
                        async: false,
                        success: function () {
                            window.location.reload()
                        }
                    });
                });
            }

            function salvar_editado() {
                $('#ModalDadosPreReserva #id_cliente, #ModalDadosPreReserva #id_vendedor').prop('disabled', false)
                document.getElementById('salvar_edicao').click()
            }

            function editar_agendamento() {
                $('#ModalCadastroPreReserva input, #ModalCadastroPreReserva select, #ModalCadastroPreReserva textarea').prop('disabled', false)
                $('#confirmar_agendamento, #input_confirmar_agendamento').remove()
                $('#nova_pre_reserva').removeClass('none')
            }

            function gerar_responsaveis(cliente) {
                const id_cliente = cliente.value
                const responsaveis = $('#id_responsavel_evento').children()

                if (id_cliente === '') {
                    $('.div-responsavel').addClass('none')

                    return
                }

                $.ajax({
                    type: 'POST',
                    url: '',
                    headers: {"X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()},
                    data: {'id_cliente': id_cliente},
                    success: function (response) {
                        for (let opcao of responsaveis) {
                            if (response['responsaveis'].includes(parseInt(opcao.value))) {
                                opcao.classList.remove('none')
                            } else {
                                opcao.classList.add('none')
                            }
                        }

                        $('.div-responsavel').removeClass('none')
                    }
                })
            }

            function dadosProduto(produto) {
                hora_padrao_check_in = hora_padrao_check_out = undefined
                $('#ModalCadastroPreReserva #id_check_out').val('')

                $.ajax({
                    type: 'POST',
                    url: '',
                    headers: {"X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()},
                    data: {'id_produto': produto.value},
                    success: function (response) {
                        hora_padrao_check_in = response['hora_check_in_padrao']
                        hora_padrao_check_out = response['hora_check_out_padrao']
                        const check_in = $('#ModalCadastroPreReserva #id_check_in').val()
                        dados_produto_corporativo = response['dados_produtos_corporativo']
                        dias_produto = response['n_dias']

                        if (Object.keys(dados_produto_corporativo).length !== 0) {
                            $('#produto_corporativo').removeClass('none')
                        } else {
                            $('#produto_corporativo').addClass('none')
                        }

                        if (response['hora_check_in_padrao'] === null && dados_produto_corporativo.length === 0) {
                            $('#ModalCadastroPreReserva #editar_horarios').prop('checked', true).prop('disabled', true)

                            if (response['n_dias'] !== null) {
                                const check_out = moment(check_in).add(response['n_dias'], 'days')
                                $('#ModalCadastroPreReserva #id_check_out').val((moment(check_out).format(`yyyy-MM-DD 18:00`)))
                            }
                        } else {
                            $('#ModalCadastroPreReserva #editar_horarios').prop('checked', false).prop('disabled', false)

                            if (response['n_dias'] !== null) {
                                const check_out = moment(check_in).add(response['n_dias'], 'days')
                                $('#ModalCadastroPreReserva #id_check_in').val((moment(check_in).format(`YYYY-MM-DD ${response['hora_check_in_padrao']}`)))
                                $('#ModalCadastroPreReserva #id_check_out').val((moment(check_out).format(`YYYY-MM-DD ${response['hora_check_out_padrao']}`)))
                            } else {
                                $('#ModalCadastroPreReserva #id_check_out').val('')
                            }
                        }
                    }
                }).done(function () {
                    $('#id_check_out').trigger('change')
                })
            }
        </script>
        <div class="event-description"></div>
        <div class="legenda row">
            <div class="pre-reserva" style="display: flex;  width: 300px">
                <div class="cor"></div>
                <p style="margin-top: 10px"> - Pré reserva</p>
            </div>
            <div class="reserva-confirmada" style="display: flex;  width: 300px">
                <div class="cor"></div>
                <p style="margin-top: 10px"> - Reserva confirmada</p>
            </div>
            <div class="ficha_evento" style="display: flex;  width: 300px">
                <div class="cor"></div>
                <p style="margin-top: 10px"> - Ficha de Evento</p>
            </div>
            <div class="colegio" style="display: flex; width: 300px">
                <div class="cor"></div>
                <p style="margin-top: 10px"> - Colégio</p>
            </div>
            <div class="empresa" style="display: flex; width: 300px">
                <div class="cor"></div>
                <p style="margin-top: 10px"> - Empresa</p>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalCadastroPreReserva" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cadastro de pré agendamento</h5>
                    <button class="btn-close" data-dismiss="modal"></button>
                </div>
                <div id="aviso_lotacao" class="alert-info none">Vagas para os dias do evento
                    <ul></ul>
                </div>
                <form action="{% url 'calendario_eventos' %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <input type="hidden" id="id_pre_reserva" name="id_pre_reserva">
                        <h5 class="titulo-secao">Dados cliente</h5>
                        <div class="mb-2 row" id="cliente_responsavel" onclick="ativar_mascara()">
                            <div class="mb-2" style="width: 90%">
                                <label for="clientes">Cliente</label>
                                {{ cadastro_pre_reserva.cliente }}
                                <style>
                                    .select2 {
                                        width: 100% !important;
                                    }
                                </style>
                            </div>
                            <div style="width: 10%; display: flex">
                                <button class="buton-plus" type="button"
                                        onclick=window.location.href="{% url 'lista_cliente' %}">
                                    <span><i class='bx bxs-plus-circle'></i></span>
                                </button>
                            </div>
                            <div class="div-responsavel none">
                                <label>Responsável</label>
                                {{ cadastro_pre_reserva.responsavel_evento }}
                            </div>
                        </div>
                        <hr>
                        <h5 class="titulo-secao">Dados evento</h5>
                        <div class="row">
                            <div class="div-produtos mb-2">
                                <label>Produto Peraltas</label>
                                {{ cadastro_pre_reserva.produto }}
                            </div>
                            <div class="mb-2 none" id="produto_corporativo">
                                <label>Produto corporativo</label>
                                {{ cadastro_pre_reserva.produto_corporativo }}
                            </div>
                            <div class="row mb-2">
                                <div style="width: 50%">
                                    <label for="check_in">Check in (Data/horário)</label>
                                    {{ cadastro_pre_reserva.check_in }}
                                </div>
                                <div style="width: 50%" class="mb-2">
                                    <label for="check_out">Check out (Data/horário)</label>
                                    {{ cadastro_pre_reserva.check_out }}
                                </div>
                                <div class="row">
                                    <div style="width: 50%">
                                        <input class="form-check-input" type="checkbox" name="editar_horario"
                                               id="editar_horarios" onclick="$('#obs_edicao').toggleClass('none');
                                           if ($('#obs_edicao').attr('class').includes('none')){
                                               $('#id_obs_edicao_horario').prop('required', false)}
                                           else{
                                               $('#id_obs_edicao_horario').prop('required', true)}">
                                        <label for="editar_horarios">Editar horários</label>
                                    </div>
                                   {% comment %} <div style="width: 50%">
                                        {{ cadastro_pre_reserva.exclusividade }}
                                        <label>Exclusividade?</label>
                                    </div>{% endcomment %}
                                </div>
                                <div id="obs_edicao" class="mt-2">
                                    <label>Motivo da edição:</label>
                                    {{ cadastro_pre_reserva.obs_edicao_horario }}
                                </div>
                            </div>
                            <div style="width: 30%">
                                <label for="participantes">QTD estimada</label>
                                {{ cadastro_pre_reserva.qtd_convidada }}
                            </div>
                            <div style="width: 50%">
                                <label for="vendedor">Atendente</label>
                                {{ cadastro_pre_reserva.vendedora }}
                            </div>
                        </div>
                        <hr>
                        <div>
                            <label for="observacoes">Observações</label>
                            {{ cadastro_pre_reserva.observacoes }}
                        </div>
                    </div>
                    <div class="modal-footer botoes">
                        <div id="nova_pre_reserva">
                            <button type="button" class="btn btn-success"
                                    onclick="window.location.href='{% url 'ficha_de_evento' %}'">
                                Ficha de evento
                            </button>
                            <button type="submit" class="btn btn-primary">Salvar pré agendamento</button>
                        </div>
                        <div id="editar_pre_reserva" class="none"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <script src="{% static 'js/scripts_ficha_de_evento.js' %}"></script>
    <script src="{% static 'js/Moment.js' %}"></script>
    <script src="{% static 'js/Moment_with_locales.js' %}"></script>
    <script src="{% static 'js/Moment_timezone.js' %}"></script>
    <script src="{% static 'js/auto_refresh_calendar.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('#ModalCadastroPreReserva #id_cliente').select2({
                dropdownParent: $("#ModalCadastroPreReserva .modal-content")
            });
        })

        function ativar_mascara() {
            $('.select2-search__field').mask("99.999.999/9999-99")
        }

        function pegar_id_cliente() {
            let data = $('#clientes').select2('data');
            $('#id_cliente').val(data[0].id)
        }
    </script>

{% endblock %}
