{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
    <div class="conteudo-detector">
        <div class="titulo-resumo-ceu" style="text-align: center">
            <h2>DETECTOR DE BOMBAS</h2>
        </div>
        <hr>
        <div>
            {% if detectores is not None %}
                <section id="detectores_salvos">
                    <table id="tabela_detectores_salvos" class="table table-bordered table-striped table-hover" style="caption-side: top">
                        <caption>Tabela de detectores de bomba salvos até a data de hoje.</caption>
                        <thead style="border-bottom: solid 1px; text-align: center">
                            <tr class="table-active">
                                <th style="width: 165px">Data inicio</th>
                                <th style="width: 165px">Data final</th>
                                <th>Grupos</th>
                                {% if 'Coordenador pedagógico' in grupos %}
                                    <th style="width: 10px"></th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% if not detectores %}
                                <tr><td colspan="4">Sem detectores salvos até a data de hoje</td></tr>
                            {% endif %}

                            {% for detector in detectores %}
                                <tr>
                                    <td>{{ detector.data_inicio|date:'d F Y' }}</td>
                                    <td>{{ detector.data_final|date:'d F Y' }}</td>
                                    <td>
                                        <button style="border: none; background: transparent" id="{{ detector.id }}" onclick="mostrar_detector(this)">
                                            {{ detector.mostrar_grupos }}
                                        </button>
                                    </td>
                                    {% if 'Coordenador pedagógico' in grupos %}
                                        <td>
                                            <button type="button" id="editar_detector_{{ detector.id }}" class="btn-edit" onclick="editar_detector(this)"><i class='bx bxs-edit-alt'></i></button>
                                            <button type="button" id="excluir_detector_{{ detector.id }}" class="btn btn-close" onclick="excluir_detector(this)"></button>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <hr>
                    {% if 'Coordenador pedagógico' in grupos %}
                        <div id="div_bt_adicionar">
                            <label for="btn_adicionar_detector" style="margin-top: -5px">Adicionar novo detector</label>
                            <button type="button" class="buton-plus-" id="btn_adicionar_detector" onclick="novo_detector()"><i class='bx bx-plus'></i></button>
                        </div>
                    {% endif %}
                </section>
            {% endif %}

            <section id="pesquisa_evento" {% if detectores is not None %} class="none" {% endif %}>
                <form action="{% url 'detector' %}" method="GET">
                    <fieldset>
                        {% csrf_token %}
                        <div class="row">
                            {% if editar %}
                                <input type="hidden" id="id_detector" value="{{ id_detector }}">
                                <div class="datas" style="width: 32%">
                                    <label for="id_data_inicio">Data início</label>
                                    <input type="date" id="id_data_inicio" name="data_inicio"  value="{{ data_inicio }}" required readonly>
                                </div>
                                <div class="datas" style="width: 32%">
                                    <label for="id_data_final">Data final</label>
                                    <input type="date" id="id_data_final" name="data_final" value="{{ data_final }}" required readonly>
                                </div>
                            {% else %}
                                <div class="datas" style="width: 32%">
                                    <label for="id_data_inicio">Data início</label>
                                    <input type="date" id="id_data_inicio" name="data_inicio"  value="{{ request.GET.data_inicio }}" required>
                                </div>
                                <div class="datas" style="width: 32%">
                                    <label for="id_data_final">Data final</label>
                                    <input type="date" id="id_data_final" name="data_final" value="{{ request.GET.data_final }}" required>
                                </div>
                                <div class="div-botao" style="width: 10%">
                                    <button type="submit" class="buton-search">
                                        <span><i class='bx bx-search'></i></span>
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </fieldset>
                </form>

                {% if pesquisado or editar%}
                    <hr>
                    <div class="grupos row">
                        <div style="width: 65%">
                            <div>
                                <label for="clientes">Grupos:</label>
                            </div>
                            <div>
                                {% if editar %}
                                    <select name="clientes" id="clientes" multiple readonly="">
                                        {% for evento in eventos %}
                                            <option value="{{ evento.id }}" selected>{{ evento.nome_fantasia }}</option>
                                        {% endfor %}
                                    </select>
                                    <script>
                                        setTimeout(() => {
                                            pegar_dados_eventos(true)
                                        }, 200)
                                    </script>
                                {% else %}
                                    <select name="clientes" id="clientes" multiple>
                                        {% for evento in eventos %}
                                            <option value="{{ evento.ficha_de_evento.cliente.id }}">{{ evento.instituicao }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </div>
                        </div>

                        {% if not editar %}
                            <div class="div-btn-scan">
                                <button type="button" class="btn btn-scan" onclick="pegar_dados_eventos()"><i class='bx bx-scan'></i></button>
                            </div>
                        {% endif %}

                    </div>
                    {% if not editar %}
                        <div>
                            <input class="form-check-input" type="checkbox" id="select_all" onclick="selecionar_tudo()">
                            <label for="select_all" style="margin-top: 5px">Selecionar todos</label>
                        </div>
                    {% endif %}

                    {% if editar %}
                        <script>$('#clientes').select2({disabled:'readonly'})</script>
                    {% else %}
                        <script>$('#clientes').select2()</script>
                    {% endif %}
                {% endif %}
                <hr>
            </section>

            <section id="detector_de_bombas"></section>

            <section class="escala-por-atividades none">
                <hr>
                <h5 class="titulo-secao" style="text-align: center">Escala para as atividades</h5>
                <form action="{% url 'detector' %}" method="POST">
                    {% csrf_token %}
                    <fieldset id="formulario-escala-professores-atividades"></fieldset>
                </form>
            </section>

        </div>
    </div>

    <div class="modal fade" id="modal-excluir-detector" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado">Tem certeza disso?</h5>
                    <button type="button" class="close x-fechar-modal" data-dismiss="modal" aria-label="Fechar">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'detector' %}" method="POST">
                    <fieldset id="form_excluir_detector">
                        <div class="modal-body">
                            <p>Você tem certeza que deseja excluir o detector em questão?</p>
                            {% csrf_token %}
                            <input type="hidden" id="id_detector_excluir" name="detector_excluir">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">Sim</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Fechar">Não</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-adicionar-obs" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado"></h5>
                    <button type="button" class="close x-fechar-modal" data-dismiss="modal" aria-label="Fechar">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form_observacoes_dia" action="{% url 'detector' %}"  method="POST">
                    <fieldset>
                        {% csrf_token %}
                        <div class="modal-body">
                            <input type="hidden" name="id_detector" id="id_detector_modal">
                            <input type="hidden" name="data_observacao" id="id_data_observacao">
                            <textarea name="observacoes" id="area_observacoes" rows="10"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_trocar_atividade" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado">Alteração de atividade</h5>
                    <button type="button" class="close x-fechar-modal" data-dismiss="modal" aria-label="Fechar">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form_alteração_de_atividade" action="{% url 'detector' %}"  method="POST">
                    <fieldset>
                        {% csrf_token %}
                        <div class="modal-body">
                            <div id="dados_atividade_atual">
                                <h5 class="titulo-secao">Dados atividade atual</h5>
                                <label for="id_atividade_atual">Atividade</label>
                                <select name="altividade_atual" id="id_atividade_atual" readonly="readonly">
                                    <option></option>
                                    {% for atividade in atividades %}
                                        <option value="{{ atividade.id }}">{{ atividade.atividade }}</option>
                                    {% endfor %}
                                </select>
                                <div style="display: flex; flex-direction: column">
                                    <label for="id_data_hora_atividade_atual">Inicío da atividade</label>
                                    <input type="datetime-local" name="data_hora_atividade_atual" id="id_data_hora_atividade_atual" style="width: 50%" readonly>
                                </div>
                            </div>
                            <div id="dados_locacao_atual">
                                <h5 class="titulo-secao">Dados locação atual</h5>
                                <label for="id_espaco_atual">Espaço</label>
                                <select name="espaco_atual" id="id_espaco_atual" readonly="readonly">
                                    <option></option>
                                    {% for espaco in espacos %}
                                        <option value="{{ espaco.id }}">{{ espaco.local }}</option>
                                    {% endfor %}
                                </select>
                                <div id="check_in_check_out_atual" class="row">
                                    <div id="div_check_in_atual" style="width: 50%">
                                        <label for="id_check_in_atual">Check in</label>
                                        <input type="datetime-local" name="check_in_atual" id="id_check_in_atual" readonly>
                                    </div>
                                    <div id="div_check_out_atual" style="width: 50%">
                                        <label for="id_check_out_atual">Check out</label>
                                        <input type="datetime-local" name="check_out_atual" id="id_check_out_atual" readonly>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div id="dados_nova_atividade">
                                <div id="inputs_atividade_nova">
                                    <div class="div-titulo-btn">
                                        <h5 class="titulo-secao">Dados da nova atividade</h5>
                                        <button type="button" class="btn btn-close" name="btn_excluir_atv" id="btn_excluir_atv" onclick="excluir_atividade(this)"></button>
                                    </div>
                                    <label for="id_atividade_nova">Atividade</label>
                                    <select name="altividade_nova" id="id_atividade_nova">
                                        <option></option>
                                        {% for atividade in atividades %}
                                            <option value="{{ atividade.id }}">{{ atividade.atividade }}</option>
                                        {% endfor %}
                                    </select>
                                    <div style="display: flex; flex-direction: column">
                                        <label for="id_data_hora_atividade_nova">Inicío da atividade</label>
                                        <input type="datetime-local" name="data_hora_atividade_nova" id="id_data_hora_atividade_nova" style="width: 50%">
                                    </div>
                                </div>
                                <div id="div_switch_add_locacao" class="form-check form-switch mt-2 mb-3">
                                    <input class="form-check-input" type="checkbox" id="id_adicionar_locacao" onclick="mostrar_atividade_local_novo(this)">
                                    <label class="form-check-label" for="id_adicionar_locacao">Adicionar locação</label>
                                </div>
                            </div>
                            <div id="dados_locacao_novo">
                                <div id="inputs_locacao_nova">
                                    <div class="div-titulo-btn">
                                        <h5 class="titulo-secao">Dados da nova locação</h5>
                                        <button type="button" class="btn btn-close" name="btn_excluir_loc" id="btn_excluir_loc" onclick="excluir_atividade(this)"></button>
                                    </div>
                                    <label for="id_espaco_novo">Espaço</label>
                                    <select name="espaco_novo" id="id_espaco_novo">
                                        <option></option>
                                        {% for espaco in espacos %}
                                            <option value="{{ espaco.id }}">{{ espaco.local }}</option>
                                        {% endfor %}
                                    </select>
                                    <div id="check_in_check_out_novo" class="row">
                                        <div id="div_check_in_novo" style="width: 50%">
                                            <label for="id_check_in_novo">Check in</label>
                                            <input type="datetime-local" name="check_in_novo" id="id_check_in_novo">
                                        </div>
                                        <div id="div_check_out_novo" style="width: 50%">
                                            <label for="id_check_out_novo">Check out</label>
                                            <input type="datetime-local" name="check_out_novo" id="id_check_out_novo">
                                        </div>
                                    </div>
                                </div>
                                <div id="div_switch_add_atividade" class="form-check form-switch mt-2">
                                    <input class="form-check-input" type="checkbox" id="id_adicionar_atividade" onclick="mostrar_atividade_local_novo(this)">
                                    <label class="form-check-label" for="id_adicionar_atividade">Adicionar atividade</label>
                                </div>
                            </div>
                            <hr>
                            <div id="professores_atividade">
                                <label for="id_professores_atividade_nova">Professor(es) escalado(s)</label>
                                <select name="professores_atividade_nova" id="id_professores_atividade_nova" multiple></select>
                            </div>
                            <hr>
                            <label for="id_observacoes_alteracao">Motivo das alterações</label>
                            <textarea name="observacoes_da_alteracao" id="id_observacoes_alteracao" rows="10" required></textarea>
                            <input type="hidden" name="atividade_excluida" id="atividade_excluida" value="false">
                            <input type="hidden" name="locacao_excluida" id="locacao_excluida" value="false">
                            <input type="hidden" name="atividade_locacao_alterada" id="atividade_locacao_alterada">
                            <input type="hidden" name="id_detector" id="id_detector">
                            <input type="hidden" name="qtd_atividade" id="qtd_atividade">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="btn_salvar_alteracao" class="btn btn-primary">Salvar</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'fullcalendar/main.js' %}"></script><!-- Script para o calendário da escala -->
    <script src="{% static 'js/script_detector_de_bombas.js' %}"></script><!-- Script do calendário -->
    <script src="{% static 'js/Moment.js' %}"></script>
    <script src="{% static 'js/Moment_with_locales.js' %}"></script>
    <script src="{% static 'js/Moment_timezone.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js" integrity="sha256-xLhce0FUawd11QSwrvXSwST0oHhOolNoH9cUXAcsIAg=" crossorigin="anonymous"></script>

{% endblock %}