{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawStuff);

        function drawStuff() {

            var button = document.getElementById('change-chart');
            var chartDiv = document.getElementById('chart_div');

            var data = google.visualization.arrayToDataTable([
                ['Professor', 'Atividades', 'Horas c/ empresa', 'Diaria'],
                {% for professor in professores %}
                    ['{{ professor.nome }}', {{ professor.n_atividades }}, {{ professor.n_horas }}, {{ professor.n_diaria }}],
                {% endfor %}
            ]);

            var options = {
                chart: {
                    title: 'Resumo do mês escolhido',
                },
                series: {
                    0: { targetaxisIndex: 0 },
                    1: { targetAxisIndex: 1 },
                    2: { targetAxisIndex: 0 }
                },
                vAxes: {
                    0: {title: 'Contagem de atividades e diárias', format: 0},
                    1: {title: 'Horas'}
                },
            };

            function drawMaterialChart() {
                var materialChart = new google.charts.Bar(chartDiv);
                materialChart.draw(data, google.charts.Bar.convertOptions(options));
            }
            drawMaterialChart();
        };

    </script>

    <div class="row painel-geral">
        <script src="{% static 'js/graficos.js' %}" ></script>
        <div class="resumo-mes" id="chart_div"></div>
        <div class="grafico-2" id="donutchart"></div>
        <div class="grafico-3" id="piechart"></div>
        <div class="grafico-4" id="curve_chart"></div>

    </div>



{% endblock %}

