{% extends 'base.html' %}
{% load static %}
{% load pipes %}
{% include 'parciais/_head.html' %}

{% block conteudo %}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawStuff);

        function drawStuff() {

            var button = document.getElementById('change-chart');
            var chartDiv = document.getElementById('chart_div');

            var data = google.visualization.arrayToDataTable([
                ['Professor', 'Atividades', 'Horas c/ empresa', 'Diaria'],
                {% for professor in professores %}
                    ['{{ professor.nome }}', {{ professor.n_atividades }}, {{ professor.n_horas }}, {{ professor.n_diaria }}],
                {% endfor %}
            ]);

            var options = {
                chart: {
                    title: 'Resumo do mês escolhido',
                },
                series: {
                    0: { targetaxisIndex: 0 },
                    1: { targetAxisIndex: 1 },
                    2: { targetAxisIndex: 0 }
                },
                vAxes: {
                    0: {title: 'Contagem de atividades e diárias', format: 0},
                    1: {title: 'Horas'}
                },
            };

            function drawMaterialChart() {
                var materialChart = new google.charts.Bar(chartDiv);
                materialChart.draw(data, google.charts.Bar.convertOptions(options));
            }
            drawMaterialChart();
        };

    </script>

    <div class="row painel-geral">
        {% csrf_token %}
        <script src="{% static 'js/graficos.js' %}" ></script>
        <div class="resumo-mes" id="chart_div"></div>
        <div class="row" style="display: flex; height: 900px">
            <div class="notas"></div>
            <div style="width: 49%">

                <!--------------------------- Gráfico 2 ------------------------------->
                <div class="grafico-2">
                    <h5 style="height: 10px; margin-bottom: 30px">Atividades mais realizadas no CEU</h5>
                    <div class="row">
                        <div style="width: 50%">
                            <label>Selecione o ano</label>
                            <select id="selecaoAno" class="form-select" style="width: 150px" onChange="alterarMes(this)">
                                {% for ano in anos %}
                                    <option>{{ ano }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div style="width: 50%">
                            <label>Selecione o mês</label>
                            <select id="selecaoMes" class="form-select" style="width: 150px" onchange="pegarDados(this)">
                                <option selected >{{ mesAnterior }}</option>
                                {% for mes in meses %}
                                    <option>{{ mes }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div id="donutchart"></div>
                </div>

                <div class="grafico-3">
                    <h5 style="height: 10px; margin-bottom: 30px">Atividades realizadas por professores</h5>
                    <div class="row">
                        <div style="width: 100%">
                            <label>Selecione o professor</label>
                            <select class="form-select" style="width: 180px">
                                <option selected ></option>
                            </select>
                        </div>
                    <div id="piechart"> </div>
                </div>
            </div>
        </div>

        <div class="grafico-4" id="curve_chart"></div>

    </div>



{% endblock %}

