{% extends 'base.html' %}
{% load static %}
{% load tags_financeiro %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
    <link rel="stylesheet" href="{% static 'css/style_ficha_financeira.css' %}" id="style">
    <div id="conteudo_ficha_financeira">
        {% if ficha and not ficha.negado and ficha.data_preenchimento_comercial %}
            <div id="mostrar_motivo_recusa" draggable="true" ondblclick="iniciarArraste()">
                <button data-toggle="modal" data-target="#chatModal"><i id="icone_arrastavel"
                                                                        class='bx bxs-comment'></i></button>
            </div>
        {% endif %}
        <div class="titulo">
            <h5>Ficha financeira {{ orcamento.id }}: {{ orcamento.cliente }}</h5>
        </div>
        <hr>
        <form id="form_ficha_financeira" {% if not ficha and not ficha.negado %}
              action="{% url 'salvar_ficha_financeira' orcamento.id %}" {% else %}
              action="{% url 'salvar_edicao_ficha_financeira' orcamento.id ficha.id %}" {% endif %} method="POST">
            <fieldset {% if faturando %} disabled {% endif %}>
                {% csrf_token %}
                <div class="cabecalho">
                    <p><strong>Razão social: </strong>{{ orcamento.cliente.razao_social }}</p>
                    <p><strong>Nome Fantasia: </strong>{{ orcamento.cliente.nome_fantasia }}</p>
                    <p><strong>Telefone: </strong>{{ orcamento.responsavel.fone }}</p>
                    <p><strong>Endereço: </strong>{{ orcamento.cliente.endereco }}</p>
                    <div>
                        <label for="{{ ficha_financeira.enviado_ac.id_for_label }}">{{ ficha_financeira.enviado_ac.label }}:</label>
                        {{ ficha_financeira.enviado_ac }}
                    </div>
                </div>
                <hr>
                <h5 class="titulo-secao">Dados do evento</h5>
                <div class="dados_evento">
                    <div id="div_{{ dados_evento.responsavel_operacional.id_for_label }}"
                         class="d-flex flex-row align-items-center" style="width: 80%">
                        <div class="d-flex flex-column w-100">
                            <label for="{{ dados_evento.responsavel_operacional.id_for_label }}">{{ dados_evento.responsavel_operacional.label }}</label>
                            {{ dados_evento.responsavel_operacional }}
                        </div>
                        <button {% if revisando %} disabled {% endif %} type="button" class="border-0 fs-4"
                                                   style="background: unset; align-self: self-end;"
                                                   data-toggle="modal" data-target="#cadastro_responsavel_operacional">
                            <i class='bx bx-plus'></i>
                        </button>
                    </div>
                    <div id="div_{{ dados_evento.pgto_neto.id_for_label }}">
                        <label for="{{ dados_evento.pgto_neto.id_for_label }}">{{ dados_evento.pgto_neto.label }}</label>
                        {{ dados_evento.pgto_neto }}
                    </div>
                    <div id="div_{{ dados_evento.responsavel_financeiro.id_for_label }}" style="width: 66%"
                         class="d-flex flex-row align-items-center">
                        <div class="d-flex flex-column w-100">
                            <label for="{{ dados_evento.responsavel_financeiro.id_for_label }}">{{ dados_evento.responsavel_financeiro.label }}</label>
                            {{ dados_evento.responsavel_financeiro }}
                        </div>
                        <button {% if revisando %} disabled {% endif %} type="button" class="border-0 fs-4"
                                                   style="background: unset; align-self: self-end;"
                                                   data-toggle="modal" data-target="#cadastro_responsavel_operacional">
                            <i class='bx bx-plus'></i>
                        </button>
                    </div>
                    <div id="div_telefone_financeiro">
                        <label for="id_telefone_financeiro">Telfone financeiro</label>
                        <input type="text" id="id_telefone_financeiro" name="telefone_financeiro" readonly
                               value="{{ telefone_financeiro }}">
                    </div>
                    <div id="div_whats_financeiro">
                        <label for="id_whats_financeiro">Whats financeiro</label>
                        <input type="text" id="id_whats_financeiro" name="whats_financeiro" readonly
                               value="{{ whats_financeiro }}">
                    </div>
                    <div id="div_email_financeiro">
                        <label for="id_email_financeiro">E-mail financeiro</label>
                        <input type="email" id="id_email_financeiro" name="email_financeiro" readonly
                               value="{{ email_financeiro }}">
                    </div>
                    {{ dados_evento.coordenacao.as_hidden }}
                    {{ dados_evento.monitoria.as_hidden }}
                    {{ dados_evento.onibus.as_hidden }}
                    <div id="div_{{ dados_evento.qtd_reservada.id_for_label }}">
                        <label for="{{ dados_evento.qtd_reservada.id_for_label }}">{{ dados_evento.qtd_reservada.label }}</label>
                        {{ dados_evento.qtd_reservada }}
                    </div>
                    <div id="div_{{ dados_evento.cortesia_alunos.id_for_label }}">
                        <label for="{{ dados_evento.cortesia_alunos.id_for_label }}">{{ dados_evento.cortesia_alunos.label }}</label>
                        {{ dados_evento.cortesia_alunos }}
                    </div>
                    <div id="div_{{ dados_evento.cortesia_responsaveis.id_for_label }}">
                        <label for="{{ dados_evento.cortesia_responsaveis.id_for_label }}">{{ dados_evento.cortesia_responsaveis.label }}</label>
                        {{ dados_evento.cortesia_responsaveis }}
                    </div>
                    <div id="div_{{ dados_evento.check_in.id_for_label }}">
                        <label for="{{ dados_evento.check_in.id_for_label }}">{{ dados_evento.check_in.label }}</label>
                        {{ dados_evento.check_in }}
                    </div>
                    <div id="div_{{ dados_evento.check_out.id_for_label }}">
                        <label for="{{ dados_evento.check_out.id_for_label }}">{{ dados_evento.check_out.label }}</label>
                        {{ dados_evento.check_out }}
                    </div>
                    <div id="div_{{ dados_evento.colaborador.id_for_label }}">
                        <label for="{{ dados_evento.colaborador.id_for_label }}">{{ dados_evento.colaborador.label }}</label>
                        {{ dados_evento.colaborador }}
                    </div>
                    <div id="div_{{ dados_evento.comissao.id_for_label }}">
                        <label for="{{ dados_evento.comissao.id_for_label }}">Porcentagem</label>
                        {{ dados_evento.comissao }}
                    </div>
                    {% if orcamento.atividades.all|length > 0 %}
                        <hr style="width: 100%">
                        <h5 class="subtitulo-secao">Cortesias externas</h5>
                        <div id="cortesias_externas">
                            <table class="table table-borderless">
                                <thead>
                                <tr>
                                    <th>Atividade</th>
                                    <th>Alunos</th>
                                    <th>Professores</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for atividade in orcamento.atividades.all %}
                                    <tr>
                                        <td>{{ atividade }}</td>
                                        <td>
                                            <input type="hidden" name="id_atividade_{{ forloop.counter }}"
                                                   id="id_atividade_{{ forloop.counter }}" value="{{ atividade.id }}">
                                            <input style="width: 60px;" type="number"
                                                   name="cortesias_externas_atividade_{{ forloop.counter }}"
                                                   id="cortesia_alunos_atividade_{{ forloop.counter }}"
                                                    {% if ficha %}
                                                   value="{% carregar_cortesias_externas ficha.id atividade.id 'alunos' %}"
                                                        >
                                                    {% endif %}
                                        </td>
                                        <td>
                                            <input style="width: 60px;" type="number"
                                                   name="cortesias_externas_atividade_{{ forloop.counter }}"
                                                   id="cortesia_professores_atividade_{{ forloop.counter }}"
                                                    {% if ficha %}
                                                   value="{% carregar_cortesias_externas ficha.id atividade.id 'professores' %}"
                                                        >
                                                    {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
                {% if revisando %}
                    <hr>
                    <h5 class="titulo-secao">Dados do pagamento</h5>
                    <div class="dados_pagamento">
                        <table id="tabela_descritivo_valores" class="table table-borderless">
                            <thead>
                            <tr>
                                <th style="width: 50%">Seção</th>
                                <th>Valor neto</th>
                                <th>Desconto</th>
                                <th>CoV</th>
                                <th>Taxas</th>
                                <th>Acréscimo</th>
                                <th>Valor final</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="secao_tabela">
                                <td>Diária</td>
                                <td>{{ orcamento.valores_diaria.valor_neto }}</td>
                                <td>{{ orcamento.valores_diaria.desconto }}</td>
                                <td>{{ orcamento.valores_diaria.cov }}</td>
                                <td>{{ orcamento.valores_diaria.taxas }}</td>
                                <td>{{ orcamento.valores_diaria.acrescimo }}</td>
                                <td>{{ orcamento.valores_diaria.valor_final }}</td>
                            </tr>
                            <tr class="secao_tabela">
                                <td>Monitoria</td>
                                <td>{{ orcamento.valores_monitoria.valor_neto }}</td>
                                <td>{{ orcamento.valores_monitoria.desconto }}</td>
                                <td>{{ orcamento.valores_monitoria.cov }}</td>
                                <td>{{ orcamento.valores_monitoria.taxas }}</td>
                                <td>{{ orcamento.valores_monitoria.acrescimo }}</td>
                                <td>{{ orcamento.valores_monitoria.valor_final }}</td>
                            </tr>
                            <tr class="secao_tabela">
                                <td>Transporte</td>
                                <td>{{ orcamento.valores_transporte.valor_neto }}</td>
                                <td>{{ orcamento.valores_transporte.desconto }}</td>
                                <td>{{ orcamento.valores_transporte.cov }}</td>
                                <td>{{ orcamento.valores_transporte.taxas }}</td>
                                <td>{{ orcamento.valores_transporte.acrescimo }}</td>
                                <td>{{ orcamento.valores_transporte.valor_final }}</td>
                            </tr>
                            <tr class="secao_tabela secao_opcionais"
                                onclick="$('.descritivo_opcionais.opcionais').toggleClass('none')">
                                <td>Opcionais</td>
                                <td>{{ orcamento.valores_opcionais.valor_neto }}</td>
                                <td>{{ orcamento.valores_opcionais.desconto }}</td>
                                <td>{{ orcamento.valores_opcionais.cov }}</td>
                                <td>{{ orcamento.valores_opcionais.taxas }}</td>
                                <td>{{ orcamento.valores_opcionais.acrescimo }}</td>
                                <td>{{ orcamento.valores_opcionais.valor_final }}</td>
                            </tr>
                            {% for atividade in orcamento.valores_opcionais.descritivo_atividades %}
                                <tr class="descritivo_opcionais opcionais none">
                                    <td>{{ atividade.atividade }}</td>
                                    <td>{{ atividade.valor_neto }}</td>
                                    <td>{{ atividade.desconto }}</td>
                                    <td>{{ atividade.cov }}</td>
                                    <td>{{ atividade.taxas }}</td>
                                    <td>{{ atividade.acrescimo }}</td>
                                    <td>{{ atividade.valor_final }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="secao_tabela secao_opcionais"
                                onclick="$('.descritivo_opcionais.outros').toggleClass('none')">
                                <td>Outros</td>
                                <td>{{ orcamento.valores_outros.valor_neto }}</td>
                                <td>{{ orcamento.valores_outros.desconto }}</td>
                                <td>{{ orcamento.valores_outros.cov }}</td>
                                <td>{{ orcamento.valores_outros.taxas }}</td>
                                <td>{{ orcamento.valores_outros.acrescimo }}</td>
                                <td>{{ orcamento.valores_outros.valor_final }}</td>
                            </tr>
                            <tr class="secao_tabela">
                                <td>Opcionais interno</td>
                                <td>{{ orcamento.valores_op_internos.valor_neto }}</td>
                                <td>{{ orcamento.valores_op_internos.desconto }}</td>
                                <td>{{ orcamento.valores_op_internos.cov }}</td>
                                <td>{{ orcamento.valores_op_internos.taxas }}</td>
                                <td>{{ orcamento.valores_op_internos.acrescimo }}</td>
                                <td>{{ orcamento.valores_op_internos.valor_final }}</td>
                            </tr>
                            {% for atividade in orcamento.valores_outros.descritivo_atividades %}
                                <tr class="descritivo_opcionais outros none">
                                    <td>{{ atividade.atividade }}</td>
                                    <td>{{ atividade.valor_neto }}</td>
                                    <td>{{ atividade.desconto }}</td>
                                    <td>{{ atividade.cov }}</td>
                                    <td>{{ atividade.taxas }}</td>
                                    <td>{{ atividade.acrescimo }}</td>
                                    <td>{{ atividade.valor_final }}</td>
                                </tr>
                            {% endfor %}
                            <tr id="linha_de_totais">
                                <td>TOTAL</td>
                                <td>{{ orcamento.valores_totais.valor_neto }}</td>
                                <td>{{ orcamento.valores_totais.desconto }}</td>
                                <td>{{ orcamento.valores_totais.cov }}</td>
                                <td>{{ orcamento.valores_totais.taxas }}</td>
                                <td>{{ orcamento.valores_totais.acrescimo }}</td>
                                <td>{{ orcamento.valores_totais.valor_final }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div id="taxas_aplicadas">
                            <div>
                                <strong>Arredondamento:</strong>
                                {{ orcamento.objeto_orcamento.total.arredondamento | floatformat:'2' }}
                            </div>
                            <div>
                                <strong>Taxa comercial:</strong>
                                {{ orcamento.get_valor_taxa|string_porcentagem }}
                            </div>
                            <div>
                                <strong>Comissão:</strong>
                                {{ orcamento.get_valor_comissao|string_porcentagem }}
                            </div>
                        </div>
                        <div style="display: flex; justify-content: flex-end">
                            <a type="button" id="btn_descritivo_dia" data-toggle="modal"
                               data-target="#modal_descritivo_dia">
                                Ver descritivo por dia
                                <i class='bx bx-list-plus'></i>
                            </a>
                        </div>
                    </div>
                {% endif %}
                <hr>
                <h5 class="titulo-secao">Totalização</h5>
                {{ ficha.dados_totalizacao }}
                <div>
                    <table id="tabela_descritivo_valores" class="table table-borderless">
                        <thead>
                        <tr>
                            <th style="width: 50%">Seção</th>
                            <th>Valor neto</th>
                            <th>Desconto</th>
                            <th>CoV</th>
                            <th>Taxas</th>
                            <th>Acréscimo</th>
                            <th>Valor final</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="secao_tabela">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <h5 class="titulo-secao">Planos pagamento</h5>
                <div class="planos_pagamento mb-3">
                    <p style="width: 100%" class="none alert alert-warning">
                        O final do vencimento não está de acordo com o número de parcelas e o início dos vencimentos
                    </p>
                    {% for campo in planos_pagamento %}
                        <div id="div_{{ campo.id_for_label }}" {% if forloop.counter == 3 and not pagamento_eficha %}
                             class="none" {% endif %}>
                            <label for="{{ campo.id_for_label }}">{{ campo.label }}</label>
                            {{ campo }}
                        </div>
                    {% endfor %}
                    {% for comissionado in ficha.planos_pagamento.comissoes_externas %}
                        <div class="comissionado">
                            <hr style="width: 100%">
                            {% if revisando %}
                                <h5 class="subtitulo-secao" style="width: 100%">Comissionados</h5>
                            {% else %}
                                <div class="div_btn_excluir_comissionado">
                                    <button type="button" class="btn-close"
                                            onclick="excluir_comissionado(this)"></button>
                                </div>
                            {% endif %}
                            <div style="width: 70%; margin-top: -30px">
                                <label for="nome_comissionado_{{ forloop.counter }}">Nome</label>
                                <input type="text" name="comissionado_{{ forloop.counter }}"
                                       id="nome_comissionado_{{ forloop.counter }}" value="{{ comissionado.nome }}">
                            </div>
                            <div style="width: 27%; margin-top: -30px;">
                                <label for="telefone_comissionado_{{ forloop.counter }}">Telefone</label>
                                <input type="text" name="comissionado_{{ forloop.counter }}"
                                       id="telefone_comissionado_{{ forloop.counter }}" onfocus="mascara_telefone(this)"
                                       value="{{ comissionado.telefone }}">
                            </div>
                            <div style="width: 50%">
                                <label for="email_comissionado_{{ forloop.counter }}">E-mail</label>
                                <input type="text" name="comissionado_{{ forloop.counter }}"
                                       id="email_comissionado_{{ forloop.counter }}" value="{{ comissionado.email }}">
                            </div>
                            <div style="width: 20%">
                                <label for="valor_comissionado_{{ forloop.counter }}">Valor comissão</label>
                                <input type="text" name="comissionado_{{ forloop.counter }}" class="porcentagem"
                                       onfocus="mascara_porcentagem(this)" id="valor_comissionado_{{ forloop.counter }}"
                                       value="{{ comissionado.comissao|porcentagem_comissionado }}">
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button {% if revisando %} disabled {% endif %} type="button" name="btn_adcionar_comissionado"
                                           id="btn_adcionar_comissionado"
                                           onclick="adcionar_comissionado()">
                    <i class='bx bx-plus'></i>
                    Adcionar terceiro comissionado
                </button>
                {#                {% if ficha and ficha.nf %}#}
                <hr>
                <h5 class="titulo-secao">Nota fiscal</h5>

                {% if revisando %}
                    {{ ficha_financeira.nf.as_hidden }}
                {% else %}
                    {{ ficha_financeira.nf }}
                    <label for="{{ ficha_financeira.nf.id_for_label }}">{{ ficha_financeira.nf.label }}</label>
                {% endif %}

                <div class="{% if not ficha_financeira.nf.value %} none {% endif %} nota_fiscal">
                    {% for campo in nota_fiscal %}
                        <div id="div_{{ campo.id_for_label }}">
                            <label for="{{ campo.id_for_label }}">{{ campo.label }}</label>
                            {{ campo }}
                        </div>
                    {% endfor %}
                </div>
                {#                {% endif %}#}

                <hr>
                <h5 class="titulo-secao">Observações</h5>
                <div class="observacoes" style="margin-bottom: 10px">
                    <div>
                        <label for="{{ ficha_financeira.observacoes_ficha_financeira.id_for_label }}">{{ ficha_financeira.observacoes_ficha_financeira.label }}</label>
                        {{ ficha_financeira.observacoes_ficha_financeira }}
                    </div>
                    {% if ficha.data_aprovacao_diretoria %}
                        <div>
                            {% if ficha.negado %}
                                <label>Motivo da recusa</label>
                            {% else %}
                                <label>Comentário da diretoria</label>
                            {% endif %}
                            <textarea cols="30" rows="5">{{ ficha.comentario_diretoria }}</textarea>
                        </div>
                    {% endif %}
                </div>

                {% if not revisando %}
                    <div class="botoes">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                {% endif %}
            </fieldset>
        </form>
        {% if revisando and not ficha.autorizado_diretoria %}
            <div class="botoes" style="gap: 5px">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_negado">Negar
                </button>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal_aprovado">
                    Aprovar
                </button>
            </div>
        {% elif revisando and ficha.autorizado_diretoria %}
            <div class="botoes" style="gap: 5px">
                <button type="button" class="btn btn-dark" onclick="imprimir_ficha()">
                    Imprimir
                </button>
                <button type="button" class="btn btn-success"
                        onclick="window.location.href = '{% url 'faturar_ficha_financeira' ficha.id %}'">Faturar
                </button>
            </div>
        {% endif %}
    </div>

    <div class="modal fade bd-example-modal-lg" id="modal_descritivo_dia" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" style="max-width: 1200px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Descritivo de valores por dia</h5>
                    <button type="button" class="x-fechar-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modal_body_descritivo" class="modal-body">
                    <table id="tabela_descritivo_valores_modal" class="table table-hover table-borderless">
                        <thead>
                        <tr>
                            <th colspan="7"></th>
                            <th colspan="{{ orcamento.datas_evento|length }}" class="tag_datas">Datas</th>
                        </tr>
                        <tr class="tabela_cabecalho">
                            <th style="width: 50%">Seção</th>
                            <th>Valor</th>
                            <th>Desconto</th>
                            <th>Comissão</th>
                            <th>Taxa comercial</th>
                            <th>Acréscimo</th>
                            <th class="valor_final_tabela" style="width: 25%">Valor + taxas</th>
                            {% for data in orcamento.datas_evento %}
                                <th class="datas">{{ data }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="secao_tabela">
                            <td>Diária</td>
                            <td>{{ orcamento.valores_diaria.valor_neto }}</td>
                            <td>{{ orcamento.valores_diaria.desconto }}</td>
                            <td>{{ orcamento.valores_diaria.cov }}</td>
                            <td>{{ orcamento.valores_diaria.taxas }}</td>
                            <td>{{ orcamento.valores_diaria.acrescimo }}</td>
                            <td>{{ orcamento.valores_diaria.valor_final }}</td>
                            {% for valor in orcamento.valores_diaria.dia_dia %}
                                <td class="datas">{{ valor }}</td>
                            {% endfor %}
                        </tr>
                        <tr class="secao_tabela">
                            <td>Monitoria</td>
                            <td>{{ orcamento.valores_monitoria.valor_neto }}</td>
                            <td>{{ orcamento.valores_monitoria.desconto }}</td>
                            <td>{{ orcamento.valores_monitoria.cov }}</td>
                            <td>{{ orcamento.valores_monitoria.taxas }}</td>
                            <td>{{ orcamento.valores_monitoria.acrescimo }}</td>
                            <td>{{ orcamento.valores_monitoria.valor_final }}</td>
                            {% for valor in orcamento.valores_monitoria.dia_dia %}
                                <td class="datas">{{ valor }}</td>
                            {% endfor %}
                        </tr>
                        <tr class="secao_tabela">
                            <td>Transporte</td>
                            <td>{{ orcamento.valores_transporte.valor_neto }}</td>
                            <td>{{ orcamento.valores_transporte.desconto }}</td>
                            <td>{{ orcamento.valores_transporte.cov }}</td>
                            <td>{{ orcamento.valores_transporte.taxas }}</td>
                            <td>{{ orcamento.valores_transporte.acrescimo }}</td>
                            <td>{{ orcamento.valores_transporte.valor_final }}</td>
                            {% for valor in orcamento.valores_transporte.dia_dia %}
                                <td class="datas">{{ valor }}</td>
                            {% endfor %}
                        </tr>
                        <tr class="secao_tabela secao_opcionais"
                            onclick="$('.descritivo_opcionais.ceu').toggleClass('none')">
                            <td>Opcionais</td>
                            <td>{{ orcamento.valores_opcionais.valor_neto }}</td>
                            <td>{{ orcamento.valores_opcionais.desconto }}</td>
                            <td>{{ orcamento.valores_opcionais.cov }}</td>
                            <td>{{ orcamento.valores_opcionais.taxas }}</td>
                            <td>{{ orcamento.valores_opcionais.acrescimo }}</td>
                            <td>{{ orcamento.valores_opcionais.valor_final }}</td>
                            {% for valor in orcamento.valores_opcionais.dia_dia %}
                                <td class="datas">{{ valor | floatformat:'2' }}</td>
                            {% endfor %}
                        </tr>
                        {% for atividade in orcamento.valores_opcionais.descritivo_atividades %}
                            <tr class="descritivo_opcionais ceu none">
                                <td>{{ atividade.atividade }}</td>
                                <td>{{ atividade.valor_neto }}</td>
                                <td>{{ atividade.desconto }}</td>
                                <td>{{ atividade.cov }}</td>
                                <td>{{ atividade.taxas }}</td>
                                <td>{{ atividade.acrescimo }}</td>
                                <td>{{ atividade.valor_final }}</td>
                                {% for valor in atividade.dia_dia %}
                                    <td class="datas">{{ valor }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        <tr class="secao_tabela">
                            <td>Opcionais interno</td>
                            <td>{{ orcamento.valores_op_internos.valor_neto }}</td>
                            <td>{{ orcamento.valores_op_internos.desconto }}</td>
                            <td>{{ orcamento.valores_op_internos.cov }}</td>
                            <td>{{ orcamento.valores_op_internos.taxas }}</td>
                            <td>{{ orcamento.valores_op_internos.acrescimo }}</td>
                            <td>{{ orcamento.valores_op_internos.valor_final }}</td>
                            {% for valor in orcamento.valores_op_internos.dia_dia %}
                                <td class="datas">{{ valor | floatformat:'2' }}</td>
                            {% endfor %}
                        </tr>
                        {% for atividade in orcamento.valores_outros.descritivo_atividades %}
                            <tr class="descritivo_opcionais outros none">
                                <td>{{ atividade.atividade }}</td>
                                <td>{{ atividade.valor_neto }}</td>
                                <td>{{ atividade.desconto }}</td>
                                <td>{{ atividade.cov }}</td>
                                <td>{{ atividade.taxas }}</td>
                                <td>{{ atividade.acrescimo }}</td>
                                <td>{{ atividade.valor_final }}</td>
                                {% for valor in atividade.dia_dia %}
                                    <td class="datas">{{ valor | floatformat:'2' }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        <tr id="linha_de_totais">
                            <td>TOTAL</td>
                            <td>{{ orcamento.valores_totais.valor_neto }}</td>
                            <td>{{ orcamento.valores_totais.desconto }}</td>
                            <td>{{ orcamento.valores_totais.cov }}</td>
                            <td>{{ orcamento.valores_totais.taxas }}</td>
                            <td>{{ orcamento.valores_totais.acrescimo }}</td>
                            <td>{{ orcamento.valores_totais.valor_final }}</td>
                            {% for valor in orcamento.valores_totais.dia_dia %}
                                <td class="datas">{{ valor }}</td>
                            {% endfor %}
                        </tr>
                        </tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    {% if ficha and ficha.data_aprovacao_diretoria %}
        {% include 'parciais/_chat_orcamento.html' %}
    {% endif %}

    {% if ficha and ficha.negado %}
        <div class="modal fade bd-example-modal-lg" id="modal_motivo_recusa" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Motivo da recusa</h5>
                        <button type="button" class="x-fechar-modal" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <p style="text-align: justify">
                                {{ ficha.motivo_recusa }}
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if revisando %}
        <div class="modal fade bd-example-modal-lg" id="modal_negado" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Motivo da recusa</h5>
                        <button type="button" class="x-fechar-modal" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{% url 'negar_ficha_financeira' ficha.id %}" method="POST">
                        <fieldset>
                            {% csrf_token %}
                            <div class="modal-body">
                                <div>
                                    <textarea name="motivo_recusa" id="motivo_recusa" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" id="negar_fichar_financeira">Enviar
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade bd-example-modal-lg" id="modal_aprovado" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Comentário para o financeiro</h5>
                        <button type="button" class="x-fechar-modal" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{% url 'aprovar_ficha_financeira' ficha.id %}" method="POST">
                        <fieldset>
                            {% csrf_token %}
                            <div class="modal-body">
                                <input type="hidden" name="comissao_colaborador" id="comissao_colaborador">
                                <div>
                                    <textarea name="comentario_diretoria" id="comentario_diretoria"
                                              rows="10"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <form id="form_novo_responsavel" action="{% url 'salvar_novo_responsavel' %}" method="POST">
            <fieldset>
                {% csrf_token %}
                <div class="modal fade" id="cadastro_responsavel_operacional" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">
                                    Cadastro de novo responsável para {{ orcamento.cliente }}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="alert-erro" class="alert alert-danger none"></div>
                                <div id="alert-aviso" class="alert alert-warning none"></div>
                                <input type="hidden" name="id_cliente" value="{{ orcamento.cliente.id }}">
                                <div class="row mb-3">
                                    <div style="width: 60%" class="mb-2">
                                        <label>Nome Completo</label>
                                        {{ cadastro_responsavel.nome }}
                                    </div>
                                    <div style="width: 40%" class="mb-2">
                                        <label>Telefone</label>
                                        {{ cadastro_responsavel.fone }}
                                    </div>
                                    <div style="width: 60%" class="mb-2">
                                        <label>Email</label>
                                        {{ cadastro_responsavel.email_responsavel_evento }}
                                    </div>
                                    <div style="width: 40%">
                                        <label>WhatsApp</label>
                                        {{ cadastro_responsavel.whats }}
                                    </div>
                                    <div style="margin-top: 5px">
                                        <label>Cargo</label>
                                        {{ cadastro_responsavel.cargo }}
                                        <style>
                                            .select2 {
                                                width: 100% !important;
                                            }
                                        </style>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="salvar_novo_responsavel()">
                                    Savar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    {% endif %}

    <script src="{% static 'js/masks.js' %}"></script> <!-- Máscaras -->
    <script src="{% static 'js/maskMoney.js' %}"></script>
    <script src="{% static 'js/Moment.js' %}"></script>
    <script src="{% static 'js/Moment_timezone.js' %}"></script>
    <script src="{% static 'js/scripts_ficha_financeira.js' %}"></script>

    <script>
        {% if revisando %}
            fechar_campos()
        {% endif %}
        remover_responsaveis({{ ids_responsaveis | safe }})
    </script>
{% endblock %}