{% extends 'base.html' %}
{% load static %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
    <link rel="stylesheet" href="{% static 'css/style_ficha_financeira.css' %}">
    <div id="conteudo_ficha_financeira">
        <div class="titulo">
            <h5>Orçamento {{ orcamento.id }}: {{ orcamento.cliente }}</h5>
        </div>
        <hr>
        <form action="" method="POST">
            <div class="cabecalho">
                <p><strong>Razão social: </strong>{{ orcamento.cliente.razao_social }}</p>
                <p><strong>Nome Fantasia: </strong>{{ orcamento.cliente.nome_fantasia }}</p>
                <p><strong>Telefone: </strong>{{ orcamento.responsavel.fone }}</p>
                <p><strong>Endereço: </strong>{{ orcamento.cliente.endereco }}</p>
                <div>
                    <label for="{{ ficha_financeira.enviado_ac.id_for_label }}">{{ ficha_financeira.enviado_ac.label }}:</label>
                    {{ ficha_financeira.enviado_ac }}
                </div>
            </div>
            <hr>
            <h5 class="titulo-secao">Dados do evento</h5>
            <div class="dados_evento">
                {% for campo in dados_evento %}
                    <div id="div_{{ campo.id_for_label }}">
                        <label for="{{ campo.id_for_label }}">{{ campo.label }}</label>
                        {{ campo }}
                    </div>
                {% endfor %}
            </div>
            <hr>
            <h5 class="titulo-secao">Dados do pagamento</h5>
            <div class="dados_pagamento">
                <table class="table table-borderless table-striped">
                    <thead>
                        <tr>
                            <th>Seção</th>
                            <th>Valor neto</th>
                            <th>Taxas</th>
                            <th>CoV</th>
                            <th>Desconto</th>
                            <th>Valor final</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Diária</td>
                            <td>{{ orcamento.valores_diaria.valor_neto }}</td>
                            <td>{{ orcamento.valores_diaria.taxas }}</td>
                            <td>{{ orcamento.valores_diaria.cov }}</td>
                            <td>{{ orcamento.valores_diaria.desconto }}</td>
                            <td>{{ orcamento.valores_diaria.valor_final }}</td>
                        </tr>
                        <tr>
                            <td>Monitoria</td>
                            <td>{{ orcamento.valores_monitoria.valor_neto }}</td>
                            <td>{{ orcamento.valores_monitoria.taxas }}</td>
                            <td>{{ orcamento.valores_monitoria.cov }}</td>
                            <td>{{ orcamento.valores_monitoria.desconto }}</td>
                            <td>{{ orcamento.valores_monitoria.valor_final }}</td>
                        </tr>
                        <tr>
                            <td>Transporte</td>
                            <td>{{ orcamento.valores_transporte.valor_neto }}</td>
                            <td>{{ orcamento.valores_transporte.taxas }}</td>
                            <td>{{ orcamento.valores_transporte.cov }}</td>
                            <td>{{ orcamento.valores_transporte.desconto }}</td>
                            <td>{{ orcamento.valores_transporte.valor_final }}</td>
                        </tr>
                        <tr>
                            <td>Atividades CEU</td>
                            <td>{{ orcamento.valores_ceu.valor_neto }}</td>
                            <td>{{ orcamento.valores_ceu.taxas }}</td>
                            <td>{{ orcamento.valores_ceu.cov }}</td>
                            <td>{{ orcamento.valores_ceu.desconto }}</td>
                            <td>{{ orcamento.valores_ceu.valor_final }}</td>
                        </tr>
                        {% for atividade in orcamento.valores_ceu.descritivo_atividades %}
                            <tr>
                                <td>{{ atividade.atividade }}</td>
                                <td>{{atividade.valor_neto}}</td>
                                <td>{{atividade.taxas}}</td>
                                <td>{{atividade.cov}}</td>
                                <td>{{atividade.desconto}}</td>
                                <td>{{atividade.valor_final}}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>Atividades peraltas</td>
                            <td>{{ orcamento.valores_peraltas.valor_neto }}</td>
                            <td>{{ orcamento.valores_peraltas.taxas }}</td>
                            <td>{{ orcamento.valores_peraltas.cov }}</td>
                            <td>{{ orcamento.valores_peraltas.desconto }}</td>
                            <td>{{ orcamento.valores_peraltas.valor_final }}</td>
                        </tr>
                        {% for atividade in orcamento.valores_peraltas.descritivo_atividades %}
                            <tr>
                                <td>{{ atividade.atividade }}</td>
                                <td>{{atividade.valor_neto}}</td>
                                <td>{{atividade.taxas}}</td>
                                <td>{{atividade.cov}}</td>
                                <td>{{atividade.desconto}}</td>
                                <td>{{atividade.valor_final}}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>Opcionais</td>
                            <td>{{ orcamento.valores_opcionais.valor_neto }}</td>
                            <td>{{ orcamento.valores_opcionais.taxas }}</td>
                            <td>{{ orcamento.valores_opcionais.cov }}</td>
                            <td>{{ orcamento.valores_opcionais.desconto }}</td>
                            <td>{{ orcamento.valores_opcionais.valor_final }}</td>
                        </tr>
                        {% for atividade in orcamento.valores_opcionais.descritivo_atividades %}
                            <tr>
                                <td>{{ atividade.atividade }}</td>
                                <td>{{atividade.valor_neto}}</td>
                                <td>{{atividade.taxas}}</td>
                                <td>{{atividade.cov}}</td>
                                <td>{{atividade.desconto}}</td>
                                <td>{{atividade.valor_final}}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>Outros</td>
                            <td>{{ orcamento.valores_outros.valor_neto }}</td>
                            <td>{{ orcamento.valores_outros.taxas }}</td>
                            <td>{{ orcamento.valores_outros.cov }}</td>
                            <td>{{ orcamento.valores_outros.desconto }}</td>
                            <td>{{ orcamento.valores_outros.valor_final }}</td>
                        </tr>
                        {% for atividade in orcamento.valores_outros.descritivo_atividades %}
                            <tr>
                                <td>{{ atividade.atividade }}</td>
                                <td>{{atividade.valor_neto}}</td>
                                <td>{{atividade.taxas}}</td>
                                <td>{{atividade.cov}}</td>
                                <td>{{atividade.desconto}}</td>
                                <td>{{atividade.valor_final}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr>
            <h5 class="titulo-secao">Planos pagamento</h5>
            <div class="planos_pagamento">
                <p style="width: 100%" class="none alert alert-warning">O final do vencimento não está de acordo com o número de parcelas e o início dos vencimentos</p>
                {% for campo in planos_pagamento %}
                    <div id="div_{{ campo.id_for_label }}">
                        <label for="{{ campo.id_for_label }}">{{ campo.label }}</label>
                        {{ campo }}
                    </div>
                {% endfor %}
            </div>
            <hr>
            <h5 class="titulo-secao">Nota fiscal</h5>
            {{ ficha_financeira.nf }}
            <label for="{{ ficha_financeira.nf.id_for_label }}">{{ ficha_financeira.nf.label }}</label>
            <div class="none nota_fiscal">
                {% for campo in nota_fiscal %}
                    <div id="div_{{ campo.id_for_label }}">
                        <label for="{{ campo.id_for_label }}">{{ campo.label }}</label>
                        {{ campo }}
                    </div>
                {% endfor %}
            </div>
            <hr>
            <h5 class="titulo-secao">Observações</h5>
            <div class="observacoes" style="margin-bottom: 10px">
                <div>
                    <label for="{{ ficha_financeira.observacoes_ficha_financeira.id_for_label }}">{{ ficha_financeira.observacoes_ficha_financeira.label }}</label>
                    {{ ficha_financeira.observacoes_ficha_financeira }}
                </div>
                <div>
                    <label for="{{ ficha_financeira.observacoes_orcamento.id_for_label }}">{{ ficha_financeira.observacoes_orcamento.label }}</label>
                    {{ ficha_financeira.observacoes_orcamento }}
                </div>
            </div>
            <div class="botoes">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>

    <script src="{% static 'js/masks.js' %}"></script> <!-- Máscaras -->
    <script src="{% static 'js/maskMoney.js' %}"></script>
    <script src="{% static 'js/Moment.js' %}"></script>
    <script src="{% static 'js/Moment_timezone.js' %}"></script>
    <script src="{% static 'js/scripts_ficha_financeira.js' %}"></script>
{% endblock %}