{% load static %}
<!DOCTYPE html>
<html lang="pt">
<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'boxLogin.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <div class="card mb-3">
        <img class="card-img-top" src="" alt="Card image cap">
    </div>
</head>

<body>
    <div class="container">
        <div class="box">
            <font size="10" color="#00FA9A"> Tamanho desta fonte:  1</font>
            <form>
              <div class="form-group">
                <label>Login</label>
                <input type="email" class="form-control">
              </div>
              <div class="form-group">
                <label>Senha</label>
                <input type="password" class="form-control">
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
