{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
    {% include 'parciais/_head.html' %}
</head>

<body bgcolor="yellow">
    <div class="container">
        <div class="box">
            <font size="10" color="#00FA9A"> Tamanho desta fonte:  1</font>
            <form>
              <div class="form-group">
                <label>Login</label>
                <input type="email" class="form-control">
              </div>
              <div class="form-group">
                <label>Senha</label>
                <input type="password" class="form-control">
              </div>
              <br>
              <button type="submit" class="btn btn-primary href">Login</button>
            </form>
        </div>
    </div>
</body>
</html>

