.conteudo-avaliacao input[type=text], .conteudo-avaliacao input[type=number],
.conteudo-avaliacao input[type=email]{
    background-color: #fff;
    max-width: 100%;
    border-width: 0 0 2px;
    border-color: #007ec1;
    border-radius: 5px;
    outline: 0;
    padding: 12px;
    height: 38px;
}
.conteudo-avaliacao select{
    background-color: #fff;
    max-width: 100%;
    border-width: 0 0 2px;
    border-color: #007ec1;
    border-radius: 5px;
    outline: 0;
    padding-left: 12px;
    height: 38px;
    -webkit-appearance: none;
}
.conteudo-avaliacao textarea{
    background-color: #fff;
    max-width: 100%;
    border-width: 2px;
    border-color: #007ec1;
    border-radius: 5px;
    outline: 0;
    padding-left: 12px;
    padding-top: 2px;
    height: 85px;
    resize: none;
}
.conteudo-avaliacao [id*="avaliacao"], .conteudo-avaliacao [id*="atividade"]{
    width: 100%
}
.conteudo-avaliacao [id*="avaliacao_professor"]{
    width: 100px;
}
select:hover, select:focus, input:hover, input:focus,
textarea:hover, textarea:focus{
    border-color: #fcc607;
}
.conteudo-avaliacao #id_instituicao{
    width: 400px;
    height: 38px;
    font-weight: 400;
}
.conteudo-avaliacao #id_cidade{
    width: 300px;
}
.conteudo-avaliacao #id_n_alunos, #id_n_educadores{
    width: 100px;
}
.conteudo-avaliacao #id_serie{
    width: 150px;
}
.conteudo-avaliacao #id_nome_vendedor, .conteudo-avaliacao #id_observacoes,
.conteudo-avaliacao #id_motivo_trazer_grupo, .conteudo-avaliacao #id_o_que_quer_proxima,
.conteudo-avaliacao #id_serie{
    width: 100%;
}
.conteudo-avaliacao #id_estado_jardim, .conteudo-avaliacao #id_limpeza_instalacoes,
.conteudo-avaliacao #id_avaliacao_conteudo_pedagogico{
    width: 80%
}

/* Pra parte da animação */
.conteudo-inicio{
    padding: 8%;
    width: 100%;
    height: 100vh;
    background-color: #000;
    animation: fadeIn 2s;
}
.conteudo-final{
    padding: 8%;
    width: 100%;
    height: 100vh;
    background-color: #000;
}
.imagem{
    width: 500px;
}
.conteudo-inicio p{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}
.conteudo-final p{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}
.conteudo-inicio hr{
    width: 700px;
    color: #fff;
}
.conteudo-final hr{
    width: 700px;
    color: #fff;
}
.conteudo-inicio button {
    background-color: #000;
    border: none;
    color: #fff;
}
.agradecimentos{
    padding: 8%;
    width: 100%;
    height: 100vh;
    background-color: #000;
    animation: fadeIn 2s;
}
.agradecimentos p{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}
.agradecimentos hr{
    width: 700px;
    color: #fff;
}
.conteudo-avaliacao{
    width: 700px;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: #fff;
    box-shadow: 5px 5px 10px;
    border-radius: 15px;
}
.hide{
    display: none;
}
.animado{
    animation: aparecer 2s;
}
.animado-2{
    animation: sumir 2s;
}

/* As animações */
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes aparecer {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-100vh);
  }
}
@keyframes sumir {
  to {
    transform: translateY(-100vh);
  }
}
.conteudo-avaliacao input[type=radio]{
    border-color: #007ec1;
}.conteudo-avaliacao input[type=radio]:checked{
    background-color: #fcc607;
}
.form-check-inline{
    margin-right: 18px;
}
option[value=""][disabled][selected]{
  opacity: 0.5;
}