.body{
    margin: 0px;
    width: max-width;
    height: max-height;
}
.box-total {
    display: flex;
    flex-direction: row;
}
.box-side-bar {
    width: 200px;
    align: center;
}
.box-conteudo {
    margin-right: 30vh;
    align-items: center;
    width: 100vh;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.publico {
    display: flex;
    justify-content: center;
}
.conteudo-login {
    justify-content: center;
    align-items: center;
}
.login {
    justify-content: center;
    align-items: center;
    width: 400px;
}
.barra {
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, transparent, #CCC, transparent);
}

.logo-central {
    margin-top: 6vh;
}

.conteudo-publico{
    margin-left: 30vh;
    margin-right: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo-dashboard{
    margin-left: 25vh;
    margin-right: 25vh;
    justify-content: center;
    align-items: center;
}
.conteudo-empresa{
    margin-left: 30vh;
    margin-right: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabela-dashboard{
    height: 60vh;
}
