body{
    margin: 0px;
}
.box-total {
    display: flex;
    flex-direction: row;
}
.box-side-bar {
    width: 200px;
    align: center;
}
.box-conteudo {
    width: 10vh;
    height: 100vh;
}
.container {
    width: 300vh;
    height: 100vh;
    background-color: #11101d
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.conteudo-login {
    justify-content: center;
    align-items: center;
}
.login {
    justify-content: center;
    align-items: center;
    width: 400px;
}
.barra {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #CCC, transparent);
}

.logo-central {
    margin-top: 6vh;
}