{% extends 'base.html' %}
{% load static %}
{% load custom_tag %}
{% include 'parciais/_head.html' %}

{% block conteudo %}
    <link id="estilo_impressao" rel="stylesheet" href="{% static 'css/style_pdf_orcamento.css' %}">

    <div id="conteudo_pdf_orcamento">
        <div id="paginas_pdf_orcamento">
            <div class="pagina fixo">
                <img src="{% static 'img/capa_orcamento.png' %}" alt="">
            </div>
            <div class="pagina fixo">
                <img src="{% static 'img/pg2_orcamento.png' %}" alt="">
            </div>
            <div class="pagina fixo">
                <img src="{% static 'img/pg3_orcamento.png' %}" alt="">
            </div>
            <div id="proposta_comercial" class="pagina fixo">
                <img src="{% static 'img/pg4_orcamento.png' %}" alt="">
                <div class="informacoes">
                    <div id="cliente">
                        <P>NOME DO COLÉGIO: {{ tratativa.cliente }}</P>
                        <P>RESPONSÁVEL: {{ tratativa.responsavel_tratativa.nome }}</P>
                        <P>TELEFONE: {{ tratativa.responsavel_tratativa.fone }}</P>
                        <P>E-MAIL: {{ tratativa.responsavel_tratativa.email_responsavel_evento }}</P>
                    </div>
                    <div id="vendedora">
                        <p>CONSULTORA RESPONSÁVEL: {{ tratativa.colaborador.get_full_name }}</p>
                        <p><i style="margin-right: 5px"><img src="{% static 'img/fone_icon.png' %}"
                                                             alt=""></i> {{ tratativa.colaborador_vendedora.telefone|fone }}
                        </p>
                        <p><i style="margin-right: 5px"><img src="{% static 'img/whats_icon.png' %}"
                                                             alt=""></i> {{ tratativa.colaborador_vendedora.telefone|fone }}
                        </p>
                        <p><i style="margin-right: 5px"><img src="{% static 'img/rede_icon.png' %}" alt=""></i>
                            WWW.PERALTAS.COM.BR</p>
                        <p><i style="margin-right: 5px"><img src="{% static 'img/email_icon.png' %}"
                                                             alt=""></i> {{ tratativa.colaborador.email }}</p>
                    </div>
                </div>
            </div>

            {% for orcamento in tratativa.orcamentos_abertos %}
                <div id="orcamento_{{ forloop.counter }}" class="pagina orcamento">
                    <img src="{% static 'img/fundo_orcamento.png' %}" alt="">
                    <div class="sobre_fundo"></div>
                    <div class="barra_superior"></div>
                    <div id="texto_inicial">
                        <h1>BENEFÍCIOS:</h1>
                        <ul>
                            <li>
                                As atividades vivenciais, com o auxílio do conteúdo visual, sensorial e auditivo,
                                melhora o desempenho, interesse e entendimento do aluno durante as saídas pedagógicas
                                ofertadas, quando alinhadas com os conteúdos aprendidos em sala de aula;
                            </li>
                            <li>
                                Atividades de acordo com as indicações do MEC/BNCC;
                            </li>
                            <li>
                                Ensino investigativo que proporciona uma reflexão e análise crítica em diferentes áreas,
                                motivando alunos e professores que vivem essa experiência;
                            </li>
                            <li>
                                Melhora na comunicação e relação pessoal/interpessoal do aluno.
                            </li>
                            <li>
                                Alunos mais participativos e com ganho cultural.
                            </li>
                            <li>
                                Descoberta, respeito e contato aprofundado com a natureza.
                            </li>
                        </ul>
                    </div>
                    <div class="dados">
                        <div class="dados_pacote pacote">
                            <div class="secao"><h4>PACOTE</h4></div>
                            <div class="descricao">
                                <p>{{ orcamento.produto.produto }} + 0{{ orcamento.atividades_ceu.all|length }} AT.
                                    C.E.U</p>
                                <p>Investimento:</p>
                                <p>De: R$ 351,00</p>
                                <p>Por R$ {{ orcamento.valor|substituir_ponto }} por participante</p>
                            </div>
                        </div>
                        <div class="dados_pacote horarios">
                            <div class="secao"><h4>HORÁRIOS</h4></div>
                            <div class="descricao">
                                <p>
                                    Chegada às <strong> {{ orcamento.check_in | date:'d/m/Y H:m' }} </strong> Saída
                                    às <strong> {{ orcamento.check_out | date:'d/m/Y H:m' }} </strong>
                                </p>
                            </div>
                        </div>
                        <div class="dados_pacote incluso">
                            <div class="secao"><h4>INCLUSO</h4></div>
                            <div class="descricao">
                                <ul>
                                    <li>Café, almoço e lanche antes da saída</li>
                                    <li>01 monitor de lazer a cada 20 pagantes</li>
                                    <li>0{{ orcamento.atividades_ceu.all|length }} atividade no CEU <strong>(exceto
                                        oficina de foguetes)</strong></li>
                                    <li>Programação de lazer.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="texto_final">
                        <h3>Condições:</h3>
                        Investimento por aluno pagante.
                        <br>
                        01 cortesia para professor a cada 15 alunos pagantes, o que exceder será cobrado 50% do valor
                        do pacote.
                        <br>
                        Não inclui transporte ida e volta e não oferecemos acomodações para motoristas.
                        Mínimo de 35 alunos participantes.
                        <ul>
                            <li>
                                Valores válidos para fechamento até
                                <strong>{{ orcamento.data_vencimento | date:'d/m/Y' }}</strong> para viagens agendadas
                                {% if orcamento.check_in.month <= 6 %}
                                    até <strong> JUNHO </strong>
                                {% else %}
                                    entre <sttrong> AGOSTO</sttrong> e <strong> DEZEMBRO </strong>
                                {% endif %}
                                de 2024. <strong> Exceto feriados </strong>.
                            </li>
                            <li>
                                Condições de pagamento:
                            </li>
                            <li>
                                À vista <strong>R$ {{ orcamento.valor|substituir_ponto }}</strong> ou, parcelado via
                                link de pagamento online. Consulte quantidade de
                                parcelas.
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}

            <div class="pagina fixo">
                <img src="{% static 'img/pg6_orcamento.png' %}" alt="">
            </div>
            <div class="pagina fixo">
                <img src="{% static 'img/pg7_orcamento.png' %}" alt="">
                <div id="vendedora_final">
                    <p>CONSULTORA RESPONSÁVEL: {{ tratativa.colaborador.get_full_name }}</p>
                    <p><i style="margin-right: 5px"><img src="{% static 'img/fone_icon.png' %}"
                                                         alt=""></i> {{ tratativa.colaborador_vendedora.telefone|fone }}
                    </p>
                    <p><i style="margin-right: 5px"><img src="{% static 'img/whats_icon.png' %}"
                                                         alt=""></i> {{ tratativa.colaborador_vendedora.telefone|fone }}
                    </p>
                    <p><i style="margin-right: 5px"><img src="{% static 'img/rede_icon.png' %}" alt=""></i>
                        WWW.PERALTAS.COM.BR</p>
                    <p><i style="margin-right: 5px"><img src="{% static 'img/email_icon.png' %}"
                                                         alt=""></i> {{ tratativa.colaborador.email }}</p>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jsPDF.js' %}"></script>
    <script src="{% static 'js/scripts_pdf_orcamento.js' %}"></script>
{% endblock %}